.mainContainerDiv {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
.tableContainerDiv {
    background-color: #ffffff;
    width: 80%;
    height: 80%;
}
  
table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0 !important;
}

table.hoverTable tr:hover td {
    background-color: #ffffff;
}
  
.tblContent {
    overflow-x: hidden;
    overflow-y: auto;    
    margin-top: 0px;
    margin-bottom: 10px;  
    height: 57vh;
}
  
th {
    vertical-align: middle !important;
}
  
tr { 
    height: 48px; 
    min-height: 48px;
}
  
td { 
    height: 48px;
    min-height: 48px;
    vertical-align: middle; 
}

.whiteSelectedBackground {
    background-color: #ffffff;    
}

.greySelectedBackground {
    background-color: #f7f7f7;
}




















.mainTableWorkflowsHeader {
    height: 50px;    
}

.mainTableWorkflows {
    height: 470px;
    overflow-x: hidden;
    overflow-y: auto;
}

#filter-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#workflowlist-wrapper {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}

#list-wrapper {
    border: 1px solid #CCCCCC;
}

#stages-wrapper {
    border: 1px solid #CCCCCC;
}

#workflow-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100%, auto);
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.66%);    
    grid-auto-rows: minmax(40px, auto);
    border: none !important;
    border-bottom: 1px solid #CCCCCC !important;
}


.dropdown ul{
    padding-left: 0;
    list-style-type: none;
    background: grey;
    width:15%;
}
.center-it {
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrap-search {
    display: grid;
    grid-template-columns: 200px;
    grid-auto-rows: minmax(30px, auto);
    margin: 10px;
}

#chips {
    /*display: inline-block; */
    padding: 0 25px;
    height: 25px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }

#closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 18px;
    cursor: pointer;
}


#add-component {
    float: right;
    font-size: 30px;
    margin-right: 20px;
}

#add-component:hover {
    cursor: pointer;
}

#advanced-search {
    margin: 10px;
}

#chip-wrapper {
    margin: 10px;
}

mat-chip {
color: green;
}

#list-stages-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    grid-auto-rows: minmax(40px, auto);
    border: none !important;
    border-bottom: 1px solid #CCCCCC !important;
}

.changefont {
    font-style: italic;
}

#listDisplayName {
    margin: 10px;
}


#stagesright-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    grid-auto-rows: minmax(40px, auto);
    border: 1px solid #cccccc;
}

.center-right-it-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f7f7f7;
}

#phaseright {
    border-right: 1px solid #cccccc;
}

#workflowright-steps {
    border-right: 1px solid #cccccc;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.66%);
    grid-auto-rows: minmax(40px, auto);
    background-color: white;
}
#wrapper-edit {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.66%);
    grid-auto-rows: minmax(40px, auto);
}
#one {
    border: 1px solid #bbbbbb;
    word-wrap: break-word;
    word-break: break-all;
}

#two {
    border: 1px solid #bbbbbb;
    word-wrap: break-word;
    word-break: break-all;
}

.inputWorkflow {
    width: 140px;  
    text-align: center;  
}

.inputActive {
    width: 45px;
    height: 20px;
}

#three {
    
    border: 1px solid #bbbbbb;
    word-wrap: break-word;
    word-break: break-all;
}

#four {
    border: 1px solid #bbbbbb;
    word-wrap: break-word;
    word-break: break-all;
}

#five {
    border: 1px solid #bbbbbb;
    word-wrap: break-word;
    word-break: break-all;
}

.changeBg {
    color: red;
    font-weight: 600;

}


.center-it {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.center-it-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f7f7f7;
}

#workflow-input {
    border: 0;
    background-color: #ffffff;
}

#workflow-input:focus {
    border: 1px solid #bbbbbb;
}

#six {
    border: 1px solid #bbbbbb;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#editing-disabled select {
    border: 0px;
}

#editing-disabled input {
    background-color: white;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container  {            
    max-width: 130px;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder  {            
    margin-top: 3px;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option  {            
    color: #001c38 !important;
    background-color: #ffffff !important;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {            
    color: #ffffff !important;
    background-color: #001c38 !important;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value {            
    height: 18px;
    padding: 4px;
    background-color:#f0f1f0;
}

.mat-chip{
    height: 0%;
}

mat-chip-list {
    display: grid;
}

.ng-select.custom ::ng-deep .ng-value-container  {            
    overflow: hidden;
    max-width: 70px;
}