<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://rawgit.com/angular/material2-builds/master/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://unpkg.com/@ng-select/ng-select/themes/default.theme.css" rel="stylesheet">
<div id="workflowlist-wrapper" class="mt-4">
  <div id="main-content" class="row">
    <div class="col-7">
      <div id="compass-workflow-list-main-div-table">
        <table class="table table-hover settingsTable" id="compass-workflow-list-headers-table">
          <!-- Headers of the left table -->
          <colgroup id="compass-workflow-list-headers-table-colgroup">                  
            <col width="20" id="compass-workflow-list-headers-table-col1">
            <col width="8" id="compass-workflow-list-headers-table-col2">
            <col width="20" id="compass-workflow-list-headers-table-col3">
            <col width="20" id="compass-workflow-list-headers-table-col4">
            <col width="20" id="compass-workflow-list-headers-table-col5">                                  
            <col width="16" id="compass-workflow-list-headers-table-col6"> 
          </colgroup>
          <thead class="settingsTableHeader" id="compass-workflow-list-headers-table-headers-thead">
            <tr id="compass-workflow-list-headers-table-headers-tr">
              <th scope="col" id="compass-workflow-list-headers-table-headers-th1">  
                <span class="text" id="compass-workflow-list-headers-table-headers-th1">Workflow</span>                      
              </th>
              <th scope="col" id="compass-workflow-list-headers-table-headers-th2">  
                <span class="text" id="compass-workflow-list-headers-table-headers-th2">Active</span>                      
              </th>                                                             
              <th scope="col" id="compass-workflow-list-headers-table-headers-th3">  
                <span class="text" id="compass-workflow-list-headers-table-headers-th3">Facility</span>                      
              </th>                               
              <th scope="col" id="compass-workflow-list-headers-table-headers-th4">  
                <span class="text" id="compass-workflow-list-headers-table-headers-th4">Carrier Service</span>                      
              </th>   
              <th scope="col" id="compass-workflow-list-headers-table-headers-th5">  
                  <span class="text" id="compass-workflow-list-headers-table-headers-th5">Line Operator</span>                      
                </th>                             
              <th scope="col" id="compass-workflow-list-headers-table-headers-th6">  
                <span class="text" id="compass-workflow-list-headers-table-headers-th6">
                  <button class="icon-button" (click)="addNewRow()" id="compass-workflow-list-button-add">
                    <i class="fas fa-plus m-2" id="compass-workflow-list-icon-add"></i>
                  </button>
                </span>                      
              </th>                               
            </tr>
          </thead> 
        </table>
      </div>
      <div id="tblContent" class="tblContent">
        <table class="table table-hover settingsTable hoverTable" id="compass-workflow-list-table-main">
          <!-- Headers of the table -->
          <colgroup id="compass-workflow-list-table-main-colgroup">                  
            <col width="20" id="compass-workflow-list-table-main-col1">
            <col width="8" id="compass-workflow-list-table-main-col2">
            <col width="20" id="compass-workflow-list-table-main-col3">
            <col width="20" id="compass-workflow-list-table-main-col4">
            <col width="20" id="compass-workflow-list-table-main-col5">                                 
            <col width="16" id="compass-workflow-list-table-main-col6">                                 
          </colgroup>
          <tbody class="settingsTableContent" id="compass-workflow-list-table-main-tbody">
            <tr *ngFor="let wf of workflowList" id="compass-workflow-list-table-main-tbody {{wf.workflowTmpId}}" (click)="selectWorkflowRow(wf.workflowTmpId)">              
              <td [ngClass]="wf.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="name {{wf.workflowTmpId}}">  
                <div [ngClass] = "{'changeBg': conflictedWorkflow.get(wf.workflowTmpId) != undefined && conflictedWorkflow.get(wf.workflowTmpId).name != undefined}" id="workflowName {{wf.workflowTmpId}}" class="text-center defaultFontForm" style="display:block;">
                  {{wf.workflowTmpName}}
                </div>
                <div id="workflowName {{wf.workflowTmpId}} edit" class="text-center defaultFontForm" style="display:none;">
                  <input id="workflow-input" type="text" class="input-sm inputWorkflow" name="workflowName" [(ngModel)]="workflowName">
                </div>
              </td>
              <td [ngClass]="wf.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="builtIn {{wf.workflowTmpId}}">  
                <div id="workflowActive {{wf.workflowTmpId}}" class="text-center defaultFontForm" style="display:block;">
                  <i class="fas fa-check" *ngIf="wf.active"></i>
                </div> 
                <div id="workflowActive {{wf.workflowTmpId}} edit" class="text-center defaultFontForm" style="display:none;">
                    <input id="checkbox" type="checkbox" [(ngModel)]="activeWorkflow" class="inputActive">
                </div> 
              </td>                                                           
              <td [ngClass]="wf.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="phase {{wf.workflowTmpId}}">    
                <div id="workflowFacilities {{wf.workflowTmpId}}" class="text-center defaultFontForm" style="display:block;">
                  <mat-chip-list #facilityChipList *ngIf="wf.facilities!==null && wf.facilities!==undefined" class="chip-list noHover" id="facility chiplist {{wf.workflowTmpId}}">
                    <mat-chip id="facility chip {{wf.workflowTmpId}}" *ngFor="let facility of wf.facilities" selectable="false" sortable="false" class="chipTableContent">
                        <div [ngClass] = "{'changeBg': checkConflictFacility(wf.workflowTmpId, facility.facilityId)}">{{facility.facilityName}}</div>
                    </mat-chip>
                  </mat-chip-list>                 
                </div>
                <div id="workflowFacilities {{wf.workflowTmpId}} edit" class="text-center defaultFontForm" style="display:none;">
                  <div id="center-it" class="dropdown">
                    <ng-select class="custom" [items]="facilityOptions" [multiple]="true" bindLabel="facilityName" placeholder="Facility" [(ngModel)] = "facilitySelectedList">
                    </ng-select>
                  </div>                
                </div>
              </td>                               
              <td [ngClass]="wf.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="substep {{wf.workflowTmpId}}">
                <div id="workflowCarriers {{wf.workflowTmpId}}" class="text-center defaultFontForm" style="display:block;">
                  <mat-chip-list #carrierChipList *ngIf="wf.carrierServices!==null && wf.carrierServices!==undefined" class="chip-list noHover" id="carrier chiplist {{wf.workflowTmpId}}">
                    <mat-chip id="carrier chip {{wf.workflowTmpId}}" *ngFor="let carrier of wf.carrierServices" selectable="false" sortable="false" class="chipTableContent" >                    
                        <div [ngClass] = "{'changeBg': checkConflictCarrier(wf.workflowTmpId, carrier.carrierServiceId)}">{{carrier.carrierServiceIdName}}</div>               
                    </mat-chip>
                  </mat-chip-list>                   
                </div>
                <div id="workflowCarriers {{wf.workflowTmpId}} edit" class="text-center defaultFontForm" style="display:none;">
                  <div class="dropdown">
                    <ng-select class="custom" [items]="carrierOptions" [multiple]="true" bindLabel="carrierServiceIdName" placeholder="Carrier" [(ngModel)] = "carrierSelectedList">
                    </ng-select>
                  </div>                   
                </div>
              </td>                                                            
              <td [ngClass]="wf.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="buttons td {{wf.workflowTmpId}}">  
                <div id="workflowOperators {{wf.workflowTmpId}}" class="text-center defaultFontForm" style="display:block;">
                  <mat-chip-list #operatorChipList *ngIf="wf.lineOperators!==null && wf.lineOperators!==undefined" class="chip-list noHover" id="operator chiplist {{wf.workflowTmpId}}">
                    <mat-chip id="operator chip {{wf.workflowTmpId}}" *ngFor="let operator of wf.lineOperators" selectable="false" sortable="false" class="chipTableContent">                    
                        <div [ngClass] = "{'changeBg': checkConflictOperator(wf.workflowTmpId, operator.lineOperatorId)}">{{operator.lineOperatorIdName}}</div>         
                    </mat-chip>
                  </mat-chip-list>     
                </div>
                <div id="workflowOperators {{wf.workflowTmpId}} edit" class="text-center defaultFontForm" style="display:none;">
                  <div class="dropdown">
                    <ng-select class="custom" [items]="operatorOptions" [multiple]="true" bindLabel="lineOperatorIdName" placeholder="Operator" [(ngModel)] = "operatorSelectedList">
                    </ng-select>
                  </div>   
                </div>
              </td>
              <td [ngClass]="wf.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="buttons td {{wf.workflowTmpId}}">  
                <div id="workflowButtons {{wf.workflowTmpId}}" class="text-center defaultFontForm" style="display:block;">
                  <button [disabled]="wf.workflowTmpId===-1" class="icon-button" id="cloneButton {{wf.workflowTmpId}}" (click)="cloneWorkflow(wf)">
                    <i class="far fa-clone"></i>
                  </button>
                  <button class="icon-button" id="editButton {{wf.workflowTmpId}}" (click)="editWorkflow(wf)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button [disabled] = "!wf.active" class="icon-button" id="deleteButton {{wf.workflowTmpId}}" (click)="deleteWorkflow(wf)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <div [ngStyle]="{'display': showConfirm}" class="alert-backdrop">
                    <div  [ngStyle]="{'display': showConfirm}"  class="" id="e2e-confirm-remove-workflow-modal" role="dialog">
                      <div class="alert-modal modal-dialog modal-xs">
                        <div class="modal-content">
                          <div class="modal-body">
                            <p class="alert-body-text">{{confirmMessage}}</p>
                            <p class="font-weight-bold">Do you want to proceed ?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn alert-yes-button-text" (click) = "confirmCallback()" id="e2e-confirm-remove-workflow-modal-button" data-dismiss="modal">Yes</button>
                            <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" (click) = "showConfirm = showConfirm=='block'? 'none' : 'block'">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>      
                </div>                 
                <div id="workflowButtons {{wf.workflowTmpId}} edit" class="text-center defaultFontForm" style="display:none;">
                  <button class="icon-button" id="saveButton {{wf.workflowTmpId}}" (click)="saveRow(wf)">
                    <i class="fas fa-save"></i>
                  </button>  
                  <button class="icon-button" id="cancelButton {{wf.workflowTmpId}}" (click)="cancelEditWorkflow(wf.workflowTmpId)">
                    <i class="fas fa-times"></i>
                  </button> 
                </div>
              </td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>
    <div class="col-5">
      <div id="compass-workflow-list-right-div-table">
        <table class="table table-hover settingsTable" id="compass-workflow-list-headers-righttable">
          <!-- Headers of the right table -->
          <colgroup id="compass-workflow-list-headers-righttable-colgroup">                  
            <col width="20" id="compass-workflow-list-headers-righttable-col1">
            <col width="10" id="compass-workflow-list-headers-righttable-col2">
            <col width="20" id="compass-workflow-list-headers-righttable-col3">
          </colgroup>
          <thead class="settingsTableHeader" id="compass-workflow-list-headers-righttable-headers-thead">
            <tr id="compass-workflow-list-headers-table-headers-tr">
              <th scope="col" id="compass-workflow-list-headers-righttable-headers-th1">  
                <span class="text" id="compass-workflow-list-headers-righttable-headers-th1">Workflow Step</span>                      
              </th>
              <th scope="col" id="compass-workflow-list-headers-righttable-headers-th2">  
                <span class="text" id="compass-workflow-list-headers-righttable-headers-th2">Phase</span>                      
              </th>                                                             
              <th scope="col" id="compass-workflow-list-headers-righttable-headers-th3">  
                <span class="text" id="compass-workflow-list-headers-righttable-headers-th3">Tasks</span>                      
              </th>                                                             
            </tr>
          </thead> 
        </table>
      </div>
      <div id="tblContent" class="tblContent" *ngIf="selectedWorkflow!==null && selectedWorkflow!==undefined">
        <table class="table table-hover settingsTable" id="compass-workflow-list-righttable-main">
          <colgroup id="compass-workflow-list-righttable-main-colgroup">                  
            <col width="20" id="compass-workflow-list-righttable-main-col1">
            <col width="10" id="compass-workflow-list-righttable-main-col2">
            <col width="20" id="compass-workflow-list-righttable-main-col3">                              
          </colgroup>
          <tbody class="settingsTableContent" id="compass-workflow-list-table-main-tbody">
            <tr *ngFor="let stage of selectedWorkflow.stageTemplates" id="compass-workflow-list-table-main-tbody {{stage.stageTemplateId}}">              
              <td scope="col" id="name {{stage.stageTemplateId}}">  
                <div class="text-center defaultFontForm">
                  {{stage.name}}
                </div>
              </td>
              <td scope="col" id="builtIn {{stage.stageTemplateId}}">  
                <div class="text-center defaultFontForm">
                  {{stage.category}}
                </div> 
              </td>                                                           
              <td scope="col" id="phase {{stage.stageTemplateId}}">    
                <div class="text-center defaultFontForm">
                  <mat-chip-list class="chip-list noHover" id="{{stage.name}}" *ngIf="stage !== undefined && stage!== null && stage.children !== undefined && stage.children !== null">
                    <mat-chip *ngFor="let substage of stage.children" id="{{substage.name}}" selectable="false" removable="false" editable="false" sortable="false" class="chipTableContent" contentEditable="false">                    
                      {{substage.name}}
                    </mat-chip>
                  </mat-chip-list>               
                </div>
              </td>                                                                                                 
            </tr>  
            <tr *ngIf="selectedWorkflow.stageTemplates!== null && selectedWorkflow.stageTemplates !== undefined && selectedWorkflow.stageTemplates.length===0">
              <td colspan="3" class="compass-no-stages-configured-td">
                <div class="compass-no-stages-configured-flag">
                  No stages configured
                </div>
              </td>            
            </tr>                       
          </tbody>                     
        </table>
        <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
          <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-dialog" tabindex="-1" role="dialog">
            <div class="alert-modal modal-dialog modal-xs">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-body">
                  <p class="alert-body-text">{{alertMessage}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>    
  </div>
</div>
