.vvNotesBox {
    background-color: #f7f7f7;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: 0.1px;
    text-align: center;
    min-height: 72px;
}

.vvNotesText {  
    text-align: left;  
    color: #000000;
}

.vvNotesUserDateText {
    color: #7f7d7f;
}

.vvNotesPlusButton {
    color: #7e7d7e; 
}

.vvNotesReadButtons {
    margin-left: 90%;   
}

.vvNotesEditButtons {
    margin-left: 80%;   
}

.vvNotesInput {
    width: 290px;
}

.movesBox {
    border-radius: 2px;
    background-color: #f7f7f7;
    height: 110px;
}

.movesStatusStyle {    
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #000000;
}

.movesRecap {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #000000;
}

.movesSingleBox {
    width: 70px;
    height: 70px;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    background-color: #f7f7f7;
    padding-top: 10px;        
}

.movesCountText {
    font-family: Helvetica;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
}

.movesCountCentered {
    text-align: center; 
    display: inline-block;
    width: 70px;
}

.movesTitleCentered {
    text-align: center; 
    display: inline-block;
}