<!-- Moves Recap -->
<div class="movesRecap mt-4" id="e2e-status-moves-workflow-details-mr-div">
    <div class="row vvNotesTitle" id="e2e-status-moves-workflow-details-mr-title">
        <div class="col-12 workflowDetailsTitleText ml-1" id="e2e-status-moves-workflow-details-mr-subtitle">
            <span id="e2e-status-moves-workflow-details-mr-unitstitle">Unit Counts</span>
        </div>
    </div>
    <div class="row movesBox ml-1 mt-3 mr-3" id="e2e-status-moves-workflow-details-mr-movesboxdiv">
        <div class="col-12" id="e2e-status-moves-workflow-details-mr-movesboxdiv2">
            <div class="row movesRecapTitles mt-2" id="e2e-status-moves-workflow-details-mr-movesboxdiv3">
                <div class="col-5 movesTitleCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv4">
                    Discharge
                </div>
                <div class="col-1" id="e2e-status-moves-workflow-details-mr-movesboxdiv5"></div>
                <div class="col-5 movesTitleCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv6">
                    Load
                </div>
            </div>
            <div class="row mt-2" id="e2e-status-moves-workflow-details-mr-movesboxdiv7">
                <div class="col-6" id="e2e-status-moves-workflow-details-mr-movesboxdiv8">
                    <div class="row pl-3 pr-3" id="e2e-status-moves-workflow-details-mr-movesboxdiv9">
                        <div class="col-3 movesSingleBox mr-3" (click)="switchToMovesScreen()" id="e2e-status-moves-workflow-details-mr-movesboxdiv10">
                            <div class="row movesCountText movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv11">
                                {{vesselVisitDTO.dischMovesEmpty}}     
                            </div>
                            <div class="row mt-1 movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv12">
                                Empties
                            </div>
                        </div>
                        <div class="col-3 movesSingleBox mr-3" (click)="switchToMovesScreen()" id="e2e-status-moves-workflow-details-mr-movesboxdiv13">
                            <div class="row movesCountText movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv14">
                                {{vesselVisitDTO.dischMovesFull}}
                            </div>
                            <div class="row mt-1 movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv15">
                                Full
                            </div>
                        </div>
                        <div class="col-3 movesSingleBox mr-3" (click)="switchToMovesScreen()" id="e2e-status-moves-workflow-details-mr-movesboxdiv16">
                            <div class="row movesCountText movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv17">
                                {{vesselVisitDTO.dischMoves}}
                            </div>
                            <div class="row mt-1 movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv18">
                                Total
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" id="e2e-status-moves-workflow-details-mr-movesboxdiv19">
                    <div class="row pl-3 pr-3" id="e2e-status-moves-workflow-details-mr-movesboxdiv20">
                        <div class="col-3 movesSingleBox mr-3" (click)="switchToMovesScreen()" id="e2e-status-moves-workflow-details-mr-movesboxdiv21">
                            <div class="row movesCountText movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv22">
                                {{vesselVisitDTO.loadMovesEmpty}}
                            </div>
                            <div class="row mt-1 movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv23">
                                Empties
                            </div>
                        </div>
                        <div class="col-3 movesSingleBox mr-3" (click)="switchToMovesScreen()" id="e2e-status-moves-workflow-details-mr-movesboxdiv24">
                            <div class="row movesCountText movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv25">
                                {{vesselVisitDTO.loadMovesFull}}
                            </div>
                            <div class="row mt-1 movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv26">
                                Full
                            </div>
                        </div>
                        <div class="col-3 movesSingleBox mr-3" (click)="switchToMovesScreen()" id="e2e-status-moves-workflow-details-mr-movesboxdiv27">
                            <div class="row movesCountText movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv28">
                                {{vesselVisitDTO.loadMoves}}
                            </div>
                            <div class="row mt-1 movesCountCentered" id="e2e-status-moves-workflow-details-mr-movesboxdiv29">
                                Total
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vessel Visit Notes -->
<div class="vvNotes mt-2" id="e2e-status-moves-workflow-details-vvn-div">
    <div class="row vvNotesTitle" id="e2e-status-moves-workflow-details-vvn-div1">
        <div class="col-11 workflowDetailsTitleText" id="e2e-status-moves-workflow-details-vvn-div2">
            <span id="e2e-status-moves-workflow-details-vvn-div2 tet">Planning Notes</span>
        </div>
        <div class="col-1 vvNotesPlusButton" id="e2e-status-moves-workflow-details-vvn-div3">
            <button class="icon-button" (click)="addVesselVisitNote()" id="e2e-status-moves-workflow-details-vvn-div3 button">
                <i class="fas fa-plus m-2" id="e2e-status-moves-workflow-details-vvn-div button icon"></i>
            </button>
        </div>
    </div>  
    <div *ngIf="vvNotes.length > 0" class="row">
        <div class="col-10"></div>
        <div class="col-1 ml-4 workflowDetailsTitleText">Seen</div>        
        <div class="col-1"></div>
    </div>
    <div cdkDropList class="items-container" (cdkDropListDropped)="drop($event)" id="e2e-status-moves-workflow-details-vvn list">
        <div cdkDrag *ngFor="let vvNote of vvNotes" class="m-1 mt-2 vvNotesBox" id="e2e-status-moves-workflow-details-vvn note {{vvNote.noteId}}">
            <div class="row pt-1">
                <div class="col-10">
                    <div id="vvnReadButtons {{vvNote.noteId}}" class="row vvNotesReadButtons pt-2" style="display:block;"> 
                        <button class="icon-button" (click)="editVesselVisitNote(vvNote)" id="editVesselVisitNote {{vvNote.noteId}}">
                            <i class="fas fa-pencil-alt" id="editVesselVisitNote {{vvNote.noteId}} icon"></i>
                        </button>                                                             
                    </div>
                    <div id="vvnEditButtons {{vvNote.noteId}}" class="row vvNotesEditButtons pt-2 pl-4" style="display:none;">                        
                        <button class="icon-button" (click)="saveVesselVisitNote(vvNote)" id="saveVesselVisitNote {{vvNote.noteId}}">
                            <i class="fas fa-save" id="saveVesselVisitNote {{vvNote.noteId}} icon"></i>   
                        </button>
                        <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
                            <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-save-plannel-visit-note" tabindex="-1" role="dialog">
                              <div class="alert-modal modal-dialog modal-xs">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <p class="alert-body-text">{{alertMessage}}</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>                  
                        <button class="icon-button ml-2" (click)="cancelVesselVisitNote(vvNote)" id="cancelVesselVisitNote {{vvNote.noteId}}">
                            <i class="fas fa-times" id="cancelVesselVisitNote {{vvNote.noteId}} icon"></i>           
                        </button>                        
                    </div>
                    <div class="row ml-2 mt-1" id="e2e-status-moves-workflow-details-vvn-div rowmsg">              
                        <div id="vvnCommentsInput {{vvNote.noteId}}" class="col-6 vvNotesText" style="display:none;">
                            <input id="vvnInput {{vvNote.noteId}}" value="{{vvNote.textMessage}}" size="30" class="vvNotesInput">                              
                        </div>
                        <div id="vvnCommentsValue {{vvNote.noteId}}" class="col-6 vvNotesText" style="display:block;">
                            <span class="boldFontE2E" id="vvnCommentsValue text {{vvNote.noteId}}">{{vvNote.textMessage}}</span>
                        </div>
                        <div class="col-3 vvNotesUserDateText" id="vvnCommentsValue text username {{vvNote.noteId}}">
                            {{vvNote.username}}
                        </div>
                        <div class="col-3 vvNotesUserDateText" id="vvnCommentsValue text date {{vvNote.noteId}}">
                            {{vvNote.date | date: 'HH:mm dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="row ml-2 mt-1 mb-1" id="e2e-status-moves-workflow-details-vvn-div rowmsg">              
                        <div class="col-6">                            
                        </div>
                        <div *ngIf="vvNote.doneUsername && vvNote.doneUsername.length > 0" class="col-3 vvNotesUserDateText" id="vvnCommentsValue text doneusername {{vvNote.noteId}}">
                            <span *ngIf="vvNote.doneStatus">Seen</span><span *ngIf="!vvNote.doneStatus">Unseen</span> by {{vvNote.doneUsername}}
                        </div>
                        <div *ngIf="vvNote.doneUsername && vvNote.doneUsername.length > 0" class="col-3 vvNotesUserDateText" id="vvnCommentsValue text donedate {{vvNote.noteId}}">
                            {{vvNote.doneDate | date: 'HH:mm dd/MM/yyyy'}}
                        </div>
                    </div> 
                </div>
                <div class="col-1 pt-2 pl-5 pr-2" id="vvnToggle {{vvNote.noteId}}">
                    <ui-switch 
                        [(ngModel)]="vvNote.doneStatus" 
                        id="vvnToggleButton {{vvNote.noteId}}" 
                        (change)="planningNoteChanged(vvNote)" 
                        size="small" 
                        switchColor="#ffffff" 
                        defaultBgColor="#bbbbbb" 
                        color="#001c38">                      
                    </ui-switch>
                </div>
            </div>                        
        </div>
    </div>          
</div>