<div id="e2e-login-spinner div2">
    <ngx-spinner
          id="e2e-login-spinner element"
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple">
          <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
</div>
  <nav class="navbar fixed-top logoNavBarStyle" *ngIf="!n4LoginMode">
    <div class="col-1 mt-1 mb-1"></div>
    <div class="col-4">
        <img src="./assets/images/navigationBar/logo-white.png" id="e2e-login-navis-logo-item-one-img" class="app-navis-logo">
    </div>
    <div class="col-7"></div> 
  </nav>
  <div class="container container-login" id="e2e-login-div-container" *ngIf="!n4LoginMode">
    <div class="card mainCardBox">
      <div class="justify-content-center mainBox" id="e2e-login-div-main-container">
        <div id="e2e-login-div-main-container-three-cols">
          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate id="e2e-login-form-main">
            <div class="row loginTitleText mt-5" id="e2e-login-app-text">
              LOGIN
            </div>      
            <div class="ml-5 mr-5 mb-5">
              <div class="form-group row mt-3" [ngClass]="{ 'has-error': f.submitted && !username.valid }" id="e2e-login-div-main-form-group">
                <span class="labelLoginTitle">Username</span>
                <div class="input-group input-group-lg" id="e2e-login-div-main-form-input-group">                          
                  <input type="text" name="username" class="form-control login-input-field" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="e2e-login-username-input" [(ngModel)]="model.username" #username="ngModel" required>            
                </div>
                <span *ngIf="f.submitted && !username.valid" class="help-block" id='e2e-login-username-required'>Username is required</span>
              </div>    
              <div class="form-group row mt-3" [ngClass]="{ 'has-error': f.submitted && !password.valid }" id="e2e-login-div-second-form-group">
                <span class="labelLoginTitle">Password</span>
                <div class="input-group input-group-lg" id="e2e-login-dev-seond-form-inputs">
                  <input type="password" name="password" class="form-control login-input-field" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="e2e-login-password-input" [(ngModel)]="model.password" #password="ngModel" required>            
                </div>
                <span *ngIf="f.submitted && !password.valid" class="help-block" id="e2e-login-password-required-text">Password is required</span>
              </div>    
              <div class="form-group row mt-5" id="e2e-login-div-group-buttons">
                  <button id="e2e-login-main-button" [disabled]="loading" class="btn btn-outline-success btn-lg btn-block loginButtonText pt-3 pb-3">
                      <span *ngIf="loading" id="e2e-login-button-spinner"><i class='fa fa-spinner fa-spin ' id="e2e-login-spinner-icon"></i></span>
                      <span *ngIf="!loading" id="e2e-login-button-text">GO</span>
                  </button>
              </div>      
              <div class="row mt-4 p-3 alertBox" *ngIf="loginAlert" id="e2e-login-alert-login">The username or password you entered is incorrect.</div>
              <div class="row mt-4 p-3 alertBox" *ngIf="connectionAlert" id="e2e-login-connection-alert">Can't connect to Compass. Make sure you have an internet connection. If you do, contact your administrator for help.</div>
              <div class="row mt-4 p-3 alertBox" *ngIf="browserAlert" id="e2e-login-browser-alert">Compass works best with the Chrome browser. You can use a different browser, but some functionality may not work as intended. This may result in strange behaviour when using Compass.<br/><br/>Switch to Chrome for the best experience.</div>    
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar fixed-bottom logoNavBarStyle" *ngIf="!n4LoginMode">
    <div class="col-1"></div>
    <div class="col-4">
        Copyright © Navis Carrier & Vessel Solutions 2019
    </div>
    <div class="col-7"></div>    
  </nav>      