.mainBox {
    width:100%;  
    background-color: #ffffff;    
}

.mainCardBox {
  width: 470px;
}

.loginTitleText {
    position: relative;
    z-index: 1;
    border-left: 5px solid #7ac142;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #7ac142;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

  .loginButtonText {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.91;
    letter-spacing: 1.1px;
    text-align: center;
    color: #7ac142;
    left: 22%;
  }

  .labelLoginTitle {
    color: #9d9d9d;
    font-size: 24px;
  }

  .alertBox {
    background-color:#455560;
    color:white;  
    font-size: 13px;
    line-height: normal;
    font-family: Helvetica;    
  }

    
.help-block {
  color:#001c38;
}

.logoNavBarStyle {
  background-color: #455560;
  border-color: #455560;
  color: #fff;
  font-family: 'RobotoDraft','Roboto',sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.app-navis-logo {
  width: 114px;
}