
* {box-sizing: border-box}

.tab {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  margin-bottom: -1px;
}

.app-settings-navbar-title{
  padding-right: 0px;
}

.app-settings-navbar-buttons{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.app-settings-tab{
  height: 70%;
}

.tab button {
  display: inline-block;
  background-color: inherit;
  color: black;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  height:100%;
  border-radius: 100px;
}

.settingsTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.settingsTitle button {
  display: inline-block;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #001c38;
  color:white;
}

.tab button.active {
  background-color: #001c38;
  color:white;
}

.tabcontent {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding: 0px 0px;
  width: 100%;
  height: 100%; 
}

.container {
  display: block;
  position: relative; 
  font-family: Arial;
  margin-bottom: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 300px;
  overflow: scroll;
  column-gap: 0px;
}

.container input {
  position: absolute;  
  cursor: pointer;  
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.settingsNumericInput {
  height: 30px;
  width: 70px;
  text-align: center;
}
