<div id="e2e-vessel-visits-list-spinner div2">
  <ngx-spinner
        id="e2e-vessel-visits-list-spinner element"
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>
<div class="container removeScroll greyBackground pt-4">
  <div class="row  p-4 ml-1 mr-1 greyBorder removeBottomBorder whiteBackground">
    <div class="col-2 app-settings-navbar-title mr-2">
      <div class="settingsTitle mt-3">
        <button id="app-settings-title">
          <span class="settingsTitle">
            Application Settings
          </span>
        </button>
      </div>
    </div>
    <div class="col-2 app-settings-navbar-buttons mr-2">      
      <div class="tab">
        <button id="app-settings-setup-tab-btn" class="tablinks appSettingsSetupImage buttonSettingsHeight" (click)="openTab(this, 'app-settings-setup-tab')">
          <div style="overflow: hidden;" class="ml-5">
            Setup
          </div>
        </button>
      </div> 
    </div>
    <!-- <div class="col-2 app-settings-navbar-buttons mr-2">      
      <div class="tab">
        <button id="app-settings-modes-tab-btn" class="tablinks appSettingsModeImage buttonSettingsHeight" (click)="openTab(this, 'app-settings-modes-tab')">
          <div style="overflow: hidden;" class="ml-5 ">
              Modes
            </div>
          </button>
      </div> 
    </div> -->
    <div class="col-2 app-settings-navbar-buttons mr-2">      
      <div class="tab">
        <button id="app-settings-workflow-tab-btn" class="tablinks appSettingsWorkflowImage buttonSettingsHeight" (click)="openTab(this, 'app-settings-workflow-tab')">
          <div style="overflow: hidden;" class="ml-5">
            Workflow
          </div>
        </button>
      </div> 
    </div>
    <!-- <div class="col-2 app-settings-navbar-buttons">      
      <div class="tab">
        <button id="app-settings-calculations-tab-btn" class="tablinks appSettingsCalculationImage buttonSettingsHeight" (click)="openTab(this, 'app-settings-calculation-tab')">
          <div style="overflow: hidden;" class="ml-5">
              Calculations
            </div>
          </button>
      </div> 
    </div> -->
    <div class="col-1">      
    </div>
  </div>
  <div class="row app-settings-tab ml-1 mr-1 pt-5 greyBorder whiteBackground">
    <div class="col-12">
      <div>           
        <div class="tabcontent" id="app-settings-setup-tab">
          <div class="row">            
            <div class="col-5 text-right mt-2">
              Auto-update dashboard frequency (minutes)
            </div>
            <div class="col-7 text-left mt-1">                
                <input type="number" value="{{settingDTO.autoUpdateFrequency}}" (change)="saveSettings()"  id="app-settings-input-update-dashboard" min="1" max="100" class="settingsNumericInput">
            </div>
          </div>
          <div class="row mt-3">            
            <div class="col-5 text-right mt-2">
              Auto-update dashboard with filters enabled
            </div>
            <div class="col-7 text-left mt-1">
              <ui-switch [(ngModel)]="settingDTO.autoUpdateWithFilters" (change)="changeAutoUpdateWithFiltersValue($event)" switchColor="#ffffff" defaultBgColor="#bbbbbb" color="#001c38"></ui-switch>
            </div>
          </div> 
          <div class="row mt-3">            
              <div class="col-5 text-right mt-2">
                Number of workflow tasks and KPIs shown on one page
              </div>
              <div class="col-7 text-left mt-1">
                  <input step="5" type="number" value="{{settingDTO.amountItemsPagination}}" (change)="saveSettings()"  id="app-settings-input-update-dashboard-pagination" min="5" max="100" class="settingsNumericInput">
              </div>
            </div> 
        </div>
        <div style="display: none" class="tabcontent" id="app-settings-modes-tab">            
        </div>
        <div style="display: none" class="tabcontent" id="app-settings-workflow-tab">
          <div class="row">            
            <div class="col-5 text-right mt-2">
              When a stowplan is deleted, reset all Discharge-phase workflow steps
            </div>
            <div class="col-7 text-left mt-1">
              <ui-switch [(ngModel)]="settingDTO.resetAllDsch" (change)="changeResetAllDschValue($event)" switchColor="#ffffff" defaultBgColor="#bbbbbb" color="#001c38"></ui-switch>
            </div>
          </div>
          <div class="row mt-2">            
            <div class="col-5 text-right mt-2">
              Users can complete all Discharge and Load COPRAR workflow tasks at once
            </div>
            <div class="col-7 text-left mt-1">
              <ui-switch [(ngModel)]="settingDTO.multipleStepsComplete" (change)="changeMultipleStepsCompleteValue($event)" switchColor="#ffffff" defaultBgColor="#bbbbbb" color="#001c38"></ui-switch>
            </div>
          </div>   
        </div>
        <div style="display: none" class="tabcontent" id="app-settings-calculations-tab">            
        </div>          
      </div>
    </div>         
  </div>
</div>