<div>
    <div style = "text-align: center;"><img src = "../../../../assets/images/notification/Compass_Logo.png" placeholder = "Compass logo"></div>
    <p style = "display: flex; justify-content: center;">We cant find the page you are looking for </p>
    <p style = "display: flex; justify-content: center;">Go to the <a class = "text-primary" href = "#">&nbsp;login page</a></p>
  </div>
  