<div class="mainContainerDiv" id="e2e-settings-workflow-main-div">
  <div class="tableContainerDiv m-4" id="e2e-settings-workflow-main-div-second">   
    <div class="mainTableWidth" id="e2e-settings-workflow-div-four">  
      <div id="mainTableWorkflow">
        <div id="e2e-settings-workflow-main-div-table">
          <table class="table table-hover settingsTable" id="e2e-settings-workflow-headers-table">
            <!-- Headers of the table -->
            <colgroup id="e2e-settings-workflow-headers-table-colgroup">                  
              <col width="20" id="e2e-settings-workflow-headers-table-col1">
              <col width="6" id="e2e-settings-workflow-headers-table-col2">
              <col width="15" id="e2e-settings-workflow-headers-table-col4">
              <col width="20" id="e2e-settings-workflow-headers-table-col5">
              <col width="10" id="e2e-settings-workflow-headers-table-col6">                                  
            </colgroup>
            <thead class="settingsTableHeader" id="e2e-settings-workflow-headers-table-headers-thead">
              <tr id="e2e-settings-workflow-headers-table-headers-tr">
                <th scope="col" id="e2e-settings-workflow-headers-table-headers-th1">  
                  <span class="text" id="e2e-settings-workflow-headers-table-headers-th1">Workflow Step</span>                      
                </th>
                <th scope="col" id="e2e-settings-workflow-headers-table-headers-th2">  
                  <span class="text" id="e2e-settings-workflow-headers-table-headers-th2">Default</span>                      
                </th>                                                             
                <th scope="col" id="e2e-settings-workflow-headers-table-headers-th4">  
                  <span class="text" id="e2e-settings-workflow-headers-table-headers-th4">Phase</span>                      
                </th>                               
                <th scope="col" id="e2e-settings-workflow-headers-table-headers-th5">  
                  <span class="text" id="e2e-settings-workflow-headers-table-headers-th5">Tasks</span>                      
                </th>                               
                <th scope="col" id="e2e-settings-workflow-headers-table-headers-th6">  
                  <span class="text" id="e2e-settings-workflow-headers-table-headers-th6">
                    <button class="icon-button" (click)="addNewRow()" id="e2e-settings-workflow-button-add">
                      <i class="fas fa-plus m-2" id="e2e-settings-workflow-icon-add"></i>
                    </button>
                  </span>                      
                </th>                               
              </tr>
            </thead> 
          </table>
        </div>
        <div id="tblContent" class="tblContent">
          <table class="table table-hover settingsTable" id="e2e-settings-workflow-table-main">
            <!-- Headers of the table -->
            <colgroup id="e2e-settings-workflow-table-main-colgroup">                  
              <col width="20" id="e2e-settings-workflow-table-main-col1">
              <col width="6" id="e2e-settings-workflow-table-main-col2">
              <col width="15" id="e2e-settings-workflow-table-main-col4">
              <col width="20" id="e2e-settings-workflow-table-main-col5">
              <col width="10" id="e2e-settings-workflow-table-main-col6">                                 
            </colgroup>
            <tbody class="settingsTableContent" id="e2e-settings-workflow-table-main-tbody">
              <tr *ngFor="let stage of stages" id="e2e-settings-workflow-table-main-tbody {{stage.stageTemplateId}}">
                <td scope="col" id="name {{stage.stageTemplateId}}">  
                  <span class="text"  id="name text {{stage.stageTemplateId}}">
                    {{stage.name}}
                  </span>                      
                </td>
                <td scope="col" id="builtIn {{stage.stageTemplateId}}">  
                  <span class="text" *ngIf="stage.builtInS" id="builtIn text {{stage.stageTemplateId}}">
                    <i class="fas fa-check" id="builtIn text icon {{stage.stageTemplateId}}"></i>                    
                  </span>                      
                </td>                                                           
                <td scope="col" id="phase {{stage.stageTemplateId}}">    
                  <span class="text" id="phase text {{stage.stageTemplateId}}">
                    <div id="phase value {{stage.stageTemplateId}}" style="display:block;" class="pt-1">
                      {{stage.category}}
                    </div>
                    <div id="phase select {{stage.stageTemplateId}}" style="display:none;">
                      <select [value]="stage.category" id="select {{stage.stageTemplateId}}">
                        <option *ngFor="let phase of phases" id="select option {{stage.stageTemplateId}}" [value]="phase.value">
                          {{phase.value}}   
                        </option>            
                      </select>
                    </div>
                  </span>                      
                </td>                               
                <td scope="col" id="substep {{stage.stageTemplateId}}">
                  <mat-chip-list #chipList class="chip-list noHover" id="substep chiplist {{stage.stageTemplateId}}">
                    <mat-chip id="chip {{stage.stageTemplateId}} {{substep.stageTemplateId}}" *ngFor="let substep of stage.children" selectable="true" removable="true" editable="true" sortable="true" class="chipTableContent" [contentEditable]="stage.editable">                    
                      {{substep.name}} 
                      <button id="closebutton {{stage.stageTemplateId}} {{substep.stageTemplateId}}" [style.display]="stage.editable ? 'block' : 'none'" class="icon-button" (click)="removeSubstep(substep, stage)">
                        <i class="fas fa-times" id="closebutton icon {{stage.stageTemplateId}} {{substep.stageTemplateId}}"></i>                                 
                      </button>                
                    </mat-chip>
                    <input *ngIf="!stage.builtIn" style="display:none;" id="input {{stage.stageTemplateId}}"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="addSubstep($event, stage)">
                  </mat-chip-list>                      
                </td>                                                            
                <td scope="col" id="buttons td {{stage.stageTemplateId}}">  
                  <span class="text" *ngIf="!stage.builtInS" id="buttons text td {{stage.stageTemplateId}}">
                    <div id="main buttons {{stage.stageTemplateId}}" style="display:block;">
                      <button (click)="editRow(stage)" class="icon-button" id="edit {{stage.stageTemplateId}}">
                        <i class="fas fa-pencil-alt" id="edit icon {{stage.stageTemplateId}}"></i>
                      </button>
                      <button (click)="removeRow(stage)" class="icon-button ml-3" id="remove {{stage.stageTemplateId}}">
                        <i class="fas fa-trash-alt" id="remove icon {{stage.stageTemplateId}}"></i>              
                      </button>
                      <div [ngStyle]="{'display': showConfirm}" class="alert-backdrop">
                        <div  [ngStyle]="{'display': showConfirm}"  class="" id="e2e-confirm-remove-stage-modal" role="dialog">
                          <div class="alert-modal modal-dialog modal-xs">
                            <div class="modal-content">
                              <div class="modal-body">
                                <p class="alert-body-text">{{confirmMessage}}</p>
                                <p class="font-weight-bold">Do you want to proceed ?</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn alert-yes-button-text" (click) = "confirmCallback()" id="e2e-confirm-remove-stage-modal-button" data-dismiss="modal">Yes</button>
                                <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" (click) = "showConfirm = showConfirm=='block'? 'none' : 'block'">No</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>     
                    <div id="edit buttons {{stage.stageTemplateId}}" style="display:none;">
                      <button (click)="saveRow(stage)" class="icon-button" id="save {{stage.stageTemplateId}}">
                        <i class="fas fa-save" id="save icon {{stage.stageTemplateId}}"></i>              
                      </button>
                      <button (click)="cancelRow(stage)" class="icon-button ml-3" id="cancel {{stage.stageTemplateId}}">
                        <i class="fas fa-times" id="cancel icon {{stage.stageTemplateId}}"></i>              
                      </button>
                    </div>        
                  </span>                      
                </td>
              </tr>
            </tbody> 
          </table>
          <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
            <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-stage-modal" tabindex="-1" role="dialog">
              <div class="alert-modal modal-dialog modal-xs">
                <div class="modal-content">
                  <div class="modal-body">
                    <p class="alert-body-text">{{alertMessage}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>    
  </div>
</div> 