.mainContainerDiv {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.tableContainerDiv {
  background-color: #ffffff;
  width: 80%;
  height: 80%;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 0 !important;
}

.tblContent{
  overflow-x: hidden;
  overflow-y: auto;    
  margin-top: 0px;
  margin-bottom: 10px;  
  height: 57vh;  
}

th {
  vertical-align: middle !important;
}

tr { 
  height: 48px; 
  min-height: 48px;
}

td { 
  height: 48px;
  min-height: 48px;
  vertical-align: middle; 
}

.regularInputStyle {
  width: 35px;
  outline: none;
  border: 0;
  background-color: transparent;
}