.mainContainerDiv {
    background-color: #f0f1f0;
    padding-bottom: 200px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.tableContainerDiv {
    background-color: #ffffff;
    width: 80%;
    height: 60%;
    border: solid 1px #bbbbbb;      
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0 !important;
}

.tblContent{
    overflow-x: hidden;
    overflow-y: auto;    
    margin-top: 0px;
    margin-bottom: 20px;  
    height: 63vh;    
}

th {
    vertical-align: middle !important;
}

tr { 
    height: 45px; 
    min-height: 48px;
}

td { 
    height: 48px; 
    min-height: 48px;
}
.alert-backdrop{
    background-color:rgba(0,0,0, 0.02) !important;
    z-index: 9998;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}