<div class="mainContainerDiv" id="e2e-settings-user-main-div">
  <div class="tableContainerDiv mt-4" id="e2e-settings-user-main-div-two">    
    <div id="e2e-settings-user-main-div-three">
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
        id="e2e-settings-user-spinner-element">
        <p style="font-size: 20px; color: white" id="e2e-settings-user-spinner-text">Loading...</p>
      </ngx-spinner>
    </div>
    <div class="m-4" id="e2e-settings-user-div-four">
      <div class="row mt-3 mb-3">
        <div class="col-11">
          User Settings
        </div>
        <div class="col-1">
        </div>
      </div>
      <div id="mainTableUsers">
        <div id="e2e-settings-user-main-div-table-users-headers">
          <table class="table table-hover settingsTable" id="e2e-settings-user-main-table-users-headers">
            <!-- Headers of the table -->
            <colgroup id="e2e-settings-user-table-headers-colgroup">                  
              <col width="15" id="e2e-settings-user-table-headers-colgroup1">
              <col width="20" id="e2e-settings-user-table-headers-colgroup2">
              <col width="20" id="e2e-settings-user-table-headers-colgroup3">
              <col width="12" id="e2e-settings-user-table-headers-colgroup4">
              <col width="12" id="e2e-settings-user-table-headers-colgroup5">
              <col width="10" id="e2e-settings-user-table-headers-colgroup6">
              <col width="15" id="e2e-settings-user-table-headers-colgroup7">                                  
            </colgroup>
            <thead class="settingsTableHeader" id="e2e-settings-user-table-headers-thead">
              <tr id="e2e-settings-user-table-headers-tr">
                <th scope="col" id="e2e-settings-user-table-headers-th1">  
                  <span class="text" id="e2e-settings-user-table-headers-th1-text">Username</span>                      
                </th>
                <th scope="col" id="e2e-settings-user-table-headers-th2">  
                  <span class="text" id="e2e-settings-user-table-headers-th2-text">Password</span>                      
                </th>                               
                <th scope="col" id="e2e-settings-user-table-headers-th3">  
                  <span class="text" id="e2e-settings-user-table-headers-th3-text">Repeat Password</span>                      
                </th>                               
                <th scope="col" id="e2e-settings-user-table-headers-th4">  
                  <span class="text" id="e2e-settings-user-table-headers-th4-text">Notification Profile</span>                      
                </th>                               
                <th scope="col" id="e2e-settings-user-table-headers-th5">  
                  <span class="text" id="e2e-settings-user-table-headers-th5-text">User Role</span>                      
                </th>                               
                <th scope="col" id="e2e-settings-user-table-headers-th6">  
                  <span class="text" id="e2e-settings-user-table-headers-th6-text">Active</span>                      
                </th>
                <th scope="col" id="e2e-settings-user-table-headers-th7">  
                  <button class="icon-button" (click)="addNewRow()" id="e2e-settings-user-button-add">
                    <i class="fas fa-plus m-2" id="e2e-settings-user-button-add-icon"></i>
                  </button>                    
                </th>                               
              </tr>
            </thead> 
          </table>
        </div>
        <div id="tblContent" class="tblContent">
          <table class="table table-hover settingsTable" id="e2e-settings-user-table">
            <!-- Headers of the table -->
            <colgroup id="e2e-settings-user-table-colgroup">                  
              <col width="15" id="e2e-settings-user-table-col1">
              <col width="20" id="e2e-settings-user-table-col2">
              <col width="20" id="e2e-settings-user-table-col3">
              <col width="12" id="e2e-settings-user-table-col4">
              <col width="12" id="e2e-settings-user-table-col5">
              <col width="10" id="e2e-settings-user-table-col6">
              <col width="15" id="e2e-settings-user-table-col7">                                  
            </colgroup>
            <tbody class="settingsTableContent" id="e2e-settings-user-table-colgroup">
              <tr *ngFor="let user of users" id="e2e-settings-user-table-tr {{user.userId}}">
                <td scope="col" id="username {{user.userId}}">  
                  <span class="text" id="username text {{user.userId}}">
                      <input [readonly]="true" id="username input {{user.userId}}" value="{{user.username}}" type="text" class="settingsTableInput"/>
                  </span>                      
                </td>
                <td scope="col" id="password {{user.userId}}">  
                  <span class="text" id="password text {{user.userId}}">
                      <input [readonly]="true" id="password input {{user.userId}}" value="{{user.password}}" type="password" class="settingsTableInput"/>
                  </span>                      
                </td>                               
                <td scope="col" id="repeatPassword {{user.userId}}">   
                  <span class="text" id="repeatPassword text {{user.userId}}">
                      <input [readonly]="true" id="repeatPassword input {{user.userId}}" value="{{user.password}}" type="password" class="settingsTableInput"/>
                  </span>                      
                </td>                               
                <td scope="col" id="notificationProfile {{user.userId}}">    
                  <span class="text" id="notificationProfile text {{user.userId}}">
                    <div id="profile value {{user.userId}}" style="display:block;" class="mt-1">
                      {{getNotificationValue(user)}}
                    </div>
                    <div id="profile select {{user.userId}}" style="display:none;">
                      <select [value]="user.notificationProfileId" id="profile select field {{user.userId}}">
                        <option *ngFor="let profile of notificationProfiles" [value]="profile.value" id="profile select field option {{user.userId}}">
                          {{profile.text}}
                        </option>
                      </select>                          
                    </div>              
                  </span>                      
                </td>                               
                <td scope="col" id="role {{user.userId}}">  
                  <span class="text" id="role text {{user.userId}}">
                    <div id="role value {{user.userId}}" style="display:block;" class="mt-1">
                      {{getRoleValue(user)}}
                    </div>
                    <div id="role select {{user.userId}}" style="display:none;">
                      <select [value]="user.roleId" id="role select field {{user.userId}}">
                        <option *ngFor="let role of userRoles" [value]="role.value" id="role select field option {{user.userId}}">
                          {{role.text}}
                        </option>
                      </select>
                    </div>       
                  </span>                      
                </td>                               
                <td scope="col" id="active {{user.userId}}">  
                  <span class="text" id="active text {{user.userId}}">
                    <input type="checkbox" (change)="checkChange($event, user)" [disabled]="!user.editEnabled" id="active check {{user.userId}}" class="ml-3" [(ngModel)]="user.active" [ngModelOptions]="{standalone: true}"/>              
                  </span>
                                       
                </td>
                <td scope="col" id="last {{user.userId}}">  
                  <span class="text" id="last text {{user.userId}}">
                    <div id="main buttons {{user.userId}}" style="display:block;">
                      <button (click)="editRow(user)" class="icon-button" id="edit {{user.userId}}">
                        <i class="fas fa-pencil-alt" id="edit icon {{user.userId}}"></i>
                      </button>
                      <button (click)="removeRow(user)" class="icon-button ml-3" id="remove {{user.userId}}">
                        <i class="fas fa-trash-alt" id="remove icon {{user.userId}}"></i>              
                      </button>
                      <div [ngStyle]="{'display': showConfirm}" class="alert-backdrop">
                        <div  [ngStyle]="{'display': showConfirm}"  class="" id="e2e-confirm-remove-user-modal" role="dialog">
                          <div class="alert-modal modal-dialog modal-xs">
                            <div class="modal-content">
                              <div class="modal-body">
                                <p class="alert-body-text">{{confirmMessage}}</p>
                                <p class="font-weight-bold">Do you want to proceed ?</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn alert-yes-button-text" (click) = "confirmCallback()" id="e2e-alert-dialog-yes-button" data-dismiss="modal">Yes</button>
                                <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" (click) = "showConfirm = showConfirm=='block'? 'none' : 'block'">No</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>     
                    <div id="edit buttons {{user.userId}}" style="display:none;">
                      <button (click)="saveRow(user)" class="icon-button" id="save {{user.userId}}">
                        <i class="fas fa-save" id="save icon {{user.userId}}"></i>              
                      </button>
                      <button (click)="cancelRow(user)" class="icon-button ml-3" id="cancel {{user.userId}}">
                        <i class="fas fa-times" id="cancel icon {{user.userId}}"></i>              
                      </button>
                    </div>
                  </span>                      
                </td>                               
              </tr>
            </tbody> 
          </table>
          <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
            <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-dialog" tabindex="-1" role="dialog">
              <div  class="alert-modal modal-dialog modal-xs">
                <div class="modal-content">
                  <div class="modal-body">
                    <p class="alert-body-text">{{alertMessage}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>    
  </div>
</div>
