
                 <table class="table table-hover xvHeader vesselTable"  *ngIf="vvDTO" id="e2e-vessel-visits-list tableh">
                       <!-- Headers of the table -->
                       <colgroup id="e2e-vessel-visits-list tableh colgroup">      
                           <ng-container *ngFor="let column of columns">
                                 <col *ngIf="column.columnDescShow && column.columnDescName==='Vessel Visit Phase'" width="6" id="e2e-vessel-visits-list tableh col{{column.columnDescId}}">
                                 <col *ngIf="column.columnDescShow && column.columnDescName==='Vessel Visit'" width="180" id="e2e-vessel-visits-list tableh col{{column.columnDescId}}">
                                 <col *ngIf="column.columnDescShow && column.columnDescName!=='Vessel Visit' && column.columnDescName!=='Vessel Visit Phase'" width="40" id="e2e-vessel-visits-list tableh col{{column.columnDescId}}">
                                
                           </ng-container>            
                             
                       </colgroup>
                       <thead id="e2e-vessel-visits-list tableh thead">
                             <tr  id="e2e-vessel-visits-list tableh tr">
                                   <ng-container *ngFor="let column of columns" >
                                       <th *ngIf="column.columnDescShow" scope="col" class="titleContainerHeader iconHeaderCentered" id="e2e-vessel-visits-list tableh th{{column.columnDescId}}">  
                                             <span *ngIf="column.columnDescName==='Vessel Visit Phase'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"></span>     
                                             <span *ngIf="column.columnDescName==='Vessel Visit'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                             <span *ngIf="column.columnDescName==='ETA/ATA Berth'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                             <span *ngIf="column.columnDescName==='ETD Berth'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                             <span *ngIf="column.columnDescName==='ETC'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                             <span *ngIf="column.columnDescName==='Service'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                             <span *ngIf="column.columnDescName=='Alarms'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Bell.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Discharge Count'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Upload.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Load Count'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Download.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Restow'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/restow.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Crane Intensity'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/CraneI.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Vessel Notes'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Ship.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Workflow Progress'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Confirm.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Dsch Count Completion'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/ArrowUp.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Load Count Completion'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/ArrowDown.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Count Completion'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Arrows.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                             <span *ngIf="column.columnDescName=='Berthing'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                      
                                             <span *ngIf="column.columnDescName=='Facility'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                                             
                                             <span *ngIf="column.columnDescName=='Workflow'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                                                                
                                             <span *ngIf="column.columnDescName=='SLA'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                                                                
                                       </th>
                                   </ng-container>                           
                             </tr>
                       </thead>           
                       <tbody class="defaultFontVesselList" id="e2e-vessel-visits-list maintable tbody">
                             <tr class="lineContainer lineShadowContainer" id="e2e-vessel-visits-list maintable tr {{vvDTO.vesselVisitId}}">
                                 <ng-container *ngFor="let column of columns" >
                                             <td title = "{{vvDTO.phase}}" *ngIf="column.columnDescShow && column.columnDescName=='Vessel Visit Phase' " class="lineContainer" [ngStyle]="{'background':getColorPhase(vvDTO.phase)}" id="e2e-vessel-visits-list maintable td1 {{vvDTO.vesselVisitId}}">
                                             </td>
                                             <td *ngIf="column.columnDescShow && column.columnDescName=='Vessel Visit'" class="iconCellCentered vesselContainerWidth" id="e2e-vessel-visits-list maintable td2 {{vvDTO.vesselVisitId}}">
                                                         <div class="row ml-0 mr-0" id="e2e-vessel-visits-list maintable td2 row {{vvDTO.vesselVisitId}}">
                                                               <div class="col-3 operatorBox" id="e2e-vessel-visits-list maintable td2 div {{vvDTO.vesselVisitId}}">                                                  
                                                                   <img class="operatorIcon" *ngIf="getOperatorPicture(vvDTO.operator)!==''" [src]="getOperatorPicture(vvDTO.operator)" id="e2e-vessel-visits-list maintable td2 img {{vvDTO.vesselVisitId}}"/>
                                                                   <span class="operatorIcon" *ngIf="getOperatorPicture(vvDTO.operator)===''" id="e2e-vessel-visits-list maintable td2 text {{vvDTO.vesselVisitId}}">
                                                                         {{vvDTO.operator | slice:0:6}}
                                                                   </span>
                                                               </div>
                                                               <div class="col-9" id="e2e-vessel-visits-list maintable td2 div2 {{vvDTO.vesselVisitId}}">
                                                                     <div [ngClass]="getVesselBackgroundClass(vvDTO)" id="e2e-vessel-visits-list maintable td2 div3 {{vvDTO.vesselVisitId}}">       
                                                                           <div class="outerVesselContainer" id="e2e-vessel-visits-list maintable td2 div4 {{vvDTO.vesselVisitId}}">
                                                                                 <div class="innerVesselContainer" id="e2e-vessel-visits-list maintable td2 div5 {{vvDTO.vesselVisitId}}">
                                                                                       <p *ngIf="vvDTO.vesselVisitName != null" class="innerVesselContainerTitle" id="e2e-vessel-visits-list maintable td2 p1 {{vvDTO.vesselVisitId}}">{{vvDTO.vesselVisitName.substr(0,15)}}</p>
                                                                                       <p *ngIf="vvDTO.vesselName != null" class="innerVesselContainerSubtitle" id="e2e-vessel-visits-list maintable td2 p2 {{vvDTO.vesselVisitId}}">{{vvDTO.vesselName.substr(0,17)}}</p>
                                                                                 </div>
                                                                           </div>
                                                                     </div>
                                                               </div>
                                                         </div>                        
                                             </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='ETA/ATA Berth'" class="iconCellCentered scheduleColumn " id="e2e-vessel-visits-list maintable td3 {{vvDTO.vesselVisitId}}">
                                                         <div *ngIf='vvDTO.phase === "CREATED" || vvDTO.phase === "INBOUND"' id="e2e-vessel-visits-list maintable td3 div1 {{vvDTO.vesselVisitId}}">
                                                               <div id="e2e-vessel-visits-list maintable td3 diveta {{vvDTO.vesselVisitId}}">
                                                                     ETA
                                                               </div>
                                                               <span class="boldFontVesselList"  id="e2e-vessel-visits-list maintable td3 eta text {{vvDTO.vesselVisitId}}">{{vvDTO.eta | date: 'HH:mm'}}</span>
                                                               <div class="small subtext" id="e2e-vessel-visits-list maintable td3 eta smalltext {{vvDTO.vesselVisitId}}">
                                                                     {{vvDTO.eta | date: 'dd/MM'}}
                                                               </div> 
                                                         </div>
                                                         <div *ngIf='vvDTO.phase === "OUTBOUND" || vvDTO.phase === "WORKING" || vvDTO.phase === "ARRIVED" ||  vvDTO.phase === "COMPLETE"' id="e2e-vessel-visits-list maintable td3 ata {{vvDTO.vesselVisitId}}">
                                                               <div id="e2e-vessel-visits-list maintable td3 ata div1 {{vvDTO.vesselVisitId}}">
                                                                     ATA
                                                               </div>
                                                               <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td3 ata text {{vvDTO.vesselVisitId}}">{{vvDTO.ata | date: 'HH:mm'}}</span>
                                                               <div class="small subtext" id="e2e-vessel-visits-list maintable td3 ata subtext {{vvDTO.vesselVisitId}}">
                                                                     {{vvDTO.ata | date: 'dd/MM'}}
                                                               </div>
                                                         </div>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='ETD Berth'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td4 {{vvDTO.vesselVisitId}}">
                                                         <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td4 text {{vvDTO.vesselVisitId}}">{{vvDTO.etd | date: 'HH:mm'}}</span>
                                                         <div class="small subtext" id="e2e-vessel-visits-list maintable td4 div {{vvDTO.vesselVisitId}}">
                                                               {{vvDTO.etd | date: 'dd/MM'}}
                                                         </div>
                                                   </td>                  
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='ETC'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td5 {{vvDTO.vesselVisitId}}">
                                                         <span [ngClass]="vvDTO.etc > vvDTO.etd ? 'redFontE2EBold' : 'boldFontVesselList'" id="e2e-vessel-visits-list maintable td5 text {{vvDTO.vesselVisitId}}">{{vvDTO.etc | date: 'HH:mm'}}</span>                                      
                                                         <div [ngClass]="vvDTO.etc > vvDTO.etd ? 'redFontE2E' : 'small subtext'" id="e2e-vessel-visits-list maintable td5 div {{vvDTO.vesselVisitId}}">
                                                             {{vvDTO.etc | date: 'dd/MM'}}
                                                         </div>
                                                         <div [ngClass]="vvDTO.etc > vvDTO.etd ? 'redFontE2E' : 'small subtext'" id="e2e-vessel-visits-list maintable td5 div2 {{vvDTO.vesselVisitId}}">
                                                             {{vvDTO.longestHookName}} - {{vvDTO.longestHookCount}}
                                                         </div>
                                                   </td>                  
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Service'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td6 {{vvDTO.vesselVisitId}}">                                      
                                                         <span [ngClass]="vvDTO.slaName !== undefined && vvDTO.slaName !== null && vvDTO.slaName !== '' ? 'greenFontVesselList' : 'boldFontVesselList'" id="e2e-vessel-visits-list maintable td6 text {{vvDTO.vesselVisitId}}">                                    
                                                               {{vvDTO.service}}
                                                         </span>
                                                         <div id="e2e-vessel-visits-list maintable td6 div{{vvDTO.vesselVisitId}}">
                                                               In {{vvDTO.inVoy}} - Out {{vvDTO.outVoy}}
                                                         </div>
                                                   </td>
                                                   <td title="{{vvDTO.expiredStagesName}}" *ngIf="column.columnDescShow && column.columnDescName=='Alarms'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td7 {{vvDTO.vesselVisitId}}">
                                                         <circle-progress
                                                               id="e2e-vessel-visits-list maintable td7 circle {{vvDTO.vesselVisitId}}"
                                                               [title] = "vvDTO.expiredStages"                                                            
                                                               [percent] = "100"
                                                               [radius] = "15"
                                                               [responsive] = "false"
                                                               [outerStrokeWidth] = "4"                              
                                                               [outerStrokeColor] = "vvDTO.expiredStages === 0 ? '#dddee0' : '#ff0000'"  
                                                               [outerStrokeLinecap] = "'square'"
                                                               [showBackground] = "true"
                                                               [backgroundColor] = "vvDTO.expiredStages === 0 ? '#dddee0' : '#ff0000'"
                                                               [backgroundPadding] = "0"                              
                                                               [showInnerStroke] = "false"
                                                               [showSubtitle] = "false"                              
                                                               [showUnits] = "false"
                                                               [titleFontSize] = 12
                                                               [titleColor] = "'#fff'"
                                                               [animation] = "false"
                                                         ></circle-progress>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Discharge Count'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td8 {{vvDTO.vesselVisitId}}">
                                                         <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td8 text {{vvDTO.vesselVisitId}}">{{vvDTO.dischMoves}}</span>
                                                         <div id="e2e-vessel-visits-list maintable td8 div {{vvDTO.vesselVisitId}}">
                                                               (<span *ngIf="vvDTO.dischMovesEst !== undefined" id="e2e-vessel-visits-list maintable td8 text1 {{vvDTO.vesselVisitId}}">{{vvDTO.dischMovesEst}}</span>
                                                               <span *ngIf="vvDTO.dischMovesEst === undefined && vvDTO.existingSlaContract === true" class="greenFontVesselList" id="e2e-vessel-visits-list maintable td8 text2 {{vvDTO.vesselVisitId}}">{{vvDTO.dischMovesSla}}</span>)
                                                         </div>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Load Count'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td9 {{vvDTO.vesselVisitId}}">
                                                         <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td9 text {{vvDTO.vesselVisitId}}">{{vvDTO.loadMoves}}</span>
                                                         <div>
                                                               (<span *ngIf="vvDTO.loadMovesEst !== undefined" id="e2e-vessel-visits-list maintable td9 text1 {{vvDTO.vesselVisitId}}">{{vvDTO.loadMovesEst}}</span>
                                                               <span *ngIf="vvDTO.loadMovesEst === undefined && vvDTO.existingSlaContract === true" class="greenFontVesselList" id="e2e-vessel-visits-list maintable td11 text2 {{vvDTO.vesselVisitId}}">{{vvDTO.loadMovesSla}}</span>)
                                                         </div>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Restow'" align="middle" class="iconCellCentered" class="iconCellCentered" id="e2e-vessel-visits-list maintable td10 {{vvDTO.vesselVisitId}}">
                                                         <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td10 text {{vvDTO.vesselVisitId}}">{{vvDTO.unitsRestow}}</span>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Crane Intensity'" align="middle" class="iconCellCentered" class="iconCellCentered" id="e2e-vessel-visits-list maintable td11 {{vvDTO.vesselVisitId}}">
                                                         <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td11 text {{vvDTO.vesselVisitId}}">{{vvDTO.craneIntensity | number : '1.1-1'}}</span>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Vessel Notes'" scope="col" align="middle" id="e2e-vessel-visits-list maintable td11-1 {{vvDTO.vesselVisitId}}" class="iconCellCentered">
                                                       <div  *ngIf="vvDTO.vesselNotesCount > 0">
                                                             <i class="fas fa-circle" id="e2e-vessel-visits-list maintable td11-1-icon {{vvDTO.vesselVisitId}}"></i>                         
                                                       </div>                                    
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Workflow Progress'" scope="col" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td12 {{vvDTO.vesselVisitId}}">                        
                                                         <circle-progress 
                                                               id="e2e-vessel-visits-list maintable td12 circle {{vvDTO.vesselVisitId}}"
                                                               [title] = "vvDTO.completedStages + ' / ' + vvDTO.totalStagesCount"                                                            
                                                               [percent] = "(vvDTO.completedStages*100)/vvDTO.totalStagesCount"
                                                               [radius] = "24"
                                                               [responsive] = "false"
                                                               [outerStrokeWidth] = "4"                              
                                                               [outerStrokeColor] = "'#7ac142'"  
                                                               [outerStrokeLinecap] = "'square'"
                                                               [showBackground] = "true"                                            
                                                               [backgroundColor] = "'#e7e7e7'"
                                                               [backgroundPadding] = "0"                              
                                                               [showInnerStroke] = "false"
                                                               [showSubtitle] = "false"                              
                                                               [showUnits] = "false"
                                                               [titleFontSize] = 12
                                                               [animation] = "false"
                                                         ></circle-progress>
                                                   </td>
                                                   <td *ngIf="column.columnDescShow && column.columnDescName=='Dsch Count Completion'" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td13 {{vvDTO.vesselVisitId}}">
                                                             <circle-progress
                                                                   id="e2e-vessel-visits-list maintable td13 circle {{vvDTO.vesselVisitId}}"
                                                                   [title] = "calculateDschTitleMoves(vvDTO)"                                                     
                                                                   [subtitle] = "calculateDschSubtitleMoves(vvDTO)"
                                                                   [percent] = "calculateDschPercentMoves(vvDTO)"
                                                                   [radius] = "24"
                                                                   [responsive] = "false"
                                                                   [outerStrokeWidth] = "4"                              
                                                                   [outerStrokeColor] = "'#15abec'"
                                                                   [outerStrokeLinecap] = "'square'"
                                                                   [showBackground] = "true"
                                                                   [backgroundColor] = "'#e7e7e7'"
                                                                   [backgroundPadding] = "0"
                                                                   [showInnerStroke] = "false"
                                                                   [showSubtitle] = "true"                              
                                                                   [showUnits] = "false"
                                                                   [titleFontSize] = 12
                                                                   [subtitleFontSize] = 12
                                                                   [animation] = "false"
                                                             ></circle-progress>
                                                       </td>
                                                       <td *ngIf="column.columnDescShow && column.columnDescName=='Load Count Completion'" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td14 {{vvDTO.vesselVisitId}}">
                                                             <circle-progress
                                                                   id="e2e-vessel-visits-list maintable td14 circle {{vvDTO.vesselVisitId}}"
                                                                   [title] = "calculateLoadTitleMoves(vvDTO)"                                                     
                                                                   [subtitle] = "calculateLoadSubtitleMoves(vvDTO)"
                                                                   [percent] = "calculateLoadPercentMoves(vvDTO)"
                                                                   [radius] = "24"
                                                                   [responsive] = "false"
                                                                   [outerStrokeWidth] = "4"                              
                                                                   [outerStrokeColor] = "'#15abec'"
                                                                   [outerStrokeLinecap] = "'square'"
                                                                   [showBackground] = "true"
                                                                   [backgroundColor] = "'#e7e7e7'"
                                                                   [backgroundPadding] = "0"
                                                                   [showInnerStroke] = "false"
                                                                   [showSubtitle] = "true"                              
                                                                   [showUnits] = "false"
                                                                   [titleFontSize] = 12
                                                                   [subtitleFontSize] = 12
                                                                   [animation] = "false"
                                                             ></circle-progress>
                                                       </td>
                                                       <td *ngIf="column.columnDescShow && column.columnDescName=='Count Completion'" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td15 {{vvDTO.vesselVisitId}}">
                                                         <circle-progress
                                                               id="e2e-vessel-visits-list maintable td15 circle {{vvDTO.vesselVisitId}}"
                                                               [title] = "calculateTitleMoves(vvDTO)"                                                     
                                                               [subtitle] = "calculateSubtitleMoves(vvDTO)"
                                                               [percent] = "calculatePercentMoves(vvDTO)"
                                                               [radius] = "24"
                                                               [responsive] = "false"
                                                               [outerStrokeWidth] = "4"                              
                                                               [outerStrokeColor] = "'#15abec'"
                                                               [outerStrokeLinecap] = "'square'"
                                                               [showBackground] = "true"
                                                               [backgroundColor] = "'#e7e7e7'"
                                                               [backgroundPadding] = "0"
                                                               [showInnerStroke] = "false"
                                                               [showSubtitle] = "true"                              
                                                               [showUnits] = "false"
                                                               [titleFontSize] = 12
                                                               [subtitleFontSize] = 12
                                                               [animation] = "false"
                                                         ></circle-progress>
                                                       </td>    
                                                       <td *ngIf="column.columnDescShow && column.columnDescName=='Berthing'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td16 {{vvDTO.vesselVisitId}}">
                                                             <div id="e2e-vessel-visits-list maintable td16 {{vvDTO.vesselVisitId}} one">
                                                                         {{vvDTO.bollardAft}} - {{vvDTO.bollardFore}}
                                                             </div>
                                                             <div id="e2e-vessel-visits-list maintable td16 {{vvDTO.vesselVisitId}} two">
                                                                         {{vvDTO.quayId}}
                                                             </div>                      
                                                       </td>
                                                       <td *ngIf="column.columnDescShow && column.columnDescName=='Facility'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td17 {{vvDTO.vesselVisitId}}">
                                                             {{vvDTO.facility}}
                                                       </td> 
                                                       <td *ngIf="column.columnDescShow && column.columnDescName=='Workflow'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td18 {{vvDTO.vesselVisitId}}">
                                                            {{vvDTO.workflowTmpName}}
                                                      </td> 
                                                      <td *ngIf="column.columnDescShow && column.columnDescName=='SLA'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td18 {{vvDTO.vesselVisitId}}">
                                                            {{vvDTO.slaName}}
                                                      </td>
                                 </ng-container>  
                            
                             </tr>
                       </tbody>
                 </table> 
   
