.redFontE2EBold {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: red;
}

.redFontE2E {
    font-size: 80%;
    font-weight: 400;
    color: red;
}