<div class="carrouselContainer" id="e2e-stages-workflow-details-div">
    <div style="float: left" class="carrouselArrowButton" (click)="scrollLeft()" id="e2e-stages-workflow-details-div-two">
        <i class="fas fa-angle-left mt-2" id="e2e-stages-workflow-details-div-two-icon"></i>                
    </div>
    <div #carrouselContent class="carrouselWorkflowStages" id="e2e-stages-workflow-details-carrousel">      
      <div *ngFor="let workflowStage of getWorkflowStages();" class="carrouselWorkflowStage ml-4 pl-3" id="e2e-stages-workflow-details-carrousel-div {{workflowStage.stageTemplateId}}">
        <div class="row carrouselWorkflowRow carrouselItemTitle px-auto" id="e2e-stages-workflow-details-carrousel-title {{workflowStage.stageTemplateId}}">
          <div>{{workflowStage.name}}</div>
        </div>
        <div class="row carrouselWorkflowRow mt-2 pr-4" id="e2e-stages-workflow-details-carrousel-row {{workflowStage.stageTemplateId}}">
          <div *ngFor="let vvDTOphase of getFilteredStages(workflowStage.code); let i = index" class="iconsSquareCarrousel" id="div2 {{vvDTOphase.stageTemplateId}}" >
            <img class="box" id="img {{vvDTOphase.stageTemplateId}}" [src]="getStgIcon(vvDTOphase)" (click)="stageClick(vvDTOphase)">
            <div *ngIf="i < getFilteredStages(workflowStage.code).length - 1" id="div {{vvDTOphase.stageTemplateId}}" [class]="getStagesBridgeClass(i, getFilteredStages(workflowStage.code))"></div>
          </div>          
        </div>
        <div class="row" id="e2e-stages-workflow-details-div-selected {{workflowStage.stageTemplateId}}">
          <div *ngFor="let vvDTOphase of getFilteredStages(workflowStage.code)" [id]="vvDTOphase.stageTemplateId" class="stageDetailsCarrousel mt-2 ml-2" (click)="stageClick(vvDTOphase)">
            <span *ngIf="isSelectedStage(vvDTOphase)" class="carrouselSelectedPhase" id="{{vvDTOphase.stageTemplateId}} text"><strong>{{vvDTOphase.name}}</strong></span><span *ngIf="!isSelectedStage(vvDTOphase)" id="{{vvDTOphase.stageTemplateId}} text two">{{vvDTOphase.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div style="float: right" class="carrouselArrowButton" id="e2e-stages-workflow-details-div-right-button" (click)="scrollRight()">
        <i class="fas fa-angle-right mt-2" id="e2e-stages-workflow-details-div-right-button-icon"></i>
    </div>
  </div>