.carrouselContainer {
    height: 117px;
    background-color: #f7f7f7;
}

.carrouselWorkflowStage {
    height: 117px;
    /*width: 31.75%;*/
    /*border: 1px solid black;*/
    display: inline-block;
    background-color: #f7f7f7;
}

.carrouselWorkflowStages {
    float: left;
    width: 93%;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
    background-color:white;
}

.carrouselArrowButton {
    margin-top: 38px;
    margin-left: 10px;
    margin-right: 10px;
    position:relative;
    vertical-align: middle;
    text-align: center;
    width: 17px;
    height: 43px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #8b8b8b;
}

.carrouselWorkflowRow {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.carrouselItemTitle {
    width: 68px;
    height: 14px;
    margin-top: 7px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
  }

.blueSquare {
    width: 50px;
    height: 6px;
    margin-top: 15px;
    //background-color:  rgba(0, 91, 187, 0.6);
    background-color: #001c38;
    float: right;
}

.greySquare {
    width: 50px;
    height: 6px;
    margin-top: 15px;
    background-color: #bbbbbb;
    float: right;
}

.iconsSquareCarrousel {
    display: inline-block;
}

.stageDetailsCarrousel {
    width: 80px;
    height: 28px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    white-space: pre-wrap;
}

.carrouselSelectedPhase {
    font-weight: bold;
}