<div id="e2e-index-workflow-details-spinner-div">
    <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
          id="e2e-index-workflow-details-spinner-element">
          <p style="font-size: 20px; color: white" id="e2e-index-workflow-details-spinner-paragraph">Loading...</p>
    </ngx-spinner>
  </div>  
<div class="detailsContainer p-4" *ngIf="vesselVisitDTO" id="e2e-index-workflow-details-main-div">    
  <e2e-vessel-visit-workflow-details [vvDTO] = "vesselVisitDTO"></e2e-vessel-visit-workflow-details>  
  <e2e-stages-workflow-details [vesselVisitDTO] = "vesselVisitDTO" [selectedStage]="selectedStage" (messageEvent)="changeSelectedStage($event)"></e2e-stages-workflow-details>  
  <div class="row mt-3" id="e2e-index-workflow-details-spinner-div-one">
    <div class="col-6" id="e2e-index-workflow-details-spinner-div-two">
      <e2e-status-moves-workflow-details [vesselVisitDTO] = "vesselVisitDTO" (tabEvent)="changeSelectedTab($event)"></e2e-status-moves-workflow-details>  
    </div>      
    <div class="col-6" id="e2e-index-workflow-details-spinner-div-three">
      <e2e-substages-workflow-details [unitRecapDTO] = "unitRecapDTO" showAllTasksFromPage ="1"  showRemTasksFromPage="1" [vesselVisitDTO] = "vesselVisitDTO" [selectedStage]="getSelectedStage()" [remainingStages]="remainingStages" [selectedTab]="selectedTab"></e2e-substages-workflow-details>
    </div>
  </div>    
  <div class="row mt-3" id="e2e-index-workflow-details-spinner-div-four">
    <e2e-sla-metrics-details [vesselVisitDTO] = "vesselVisitDTO" class="slaKpisMain"></e2e-sla-metrics-details>
  </div>
</div>
