.vvSla{
    width: 100%;
}

.vvSlaTitle{
    font-size: 14px;
    color: #7f7d7f;
}

.vvSlaHeaders{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
    color: #7f7d7f;
}

.vvSlaBox{
    background-color: #f7f7f7;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: 0.1px;
    text-align: left;
}

.vvSlaRowBox {  
    min-height: 50px;  
}

.vvSlaInputComments {
    width: 320px;
}

.hourInputStyle {
    width: 33px;    
}

.weekInputStyle {
    width: 90px;
}

.vvkpiDifference {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.redDifference {
    color: #d52b1e;    
}

.greenDifference {
    color: #7ac243;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
}

.borderSeparator {
    background-color: #fff;
    height: 5px;    
}

.lastBorderSeparator {
    height: 2px;
}

.centerHeader {
    text-align: center;
}

.centerContent {
    text-align: center;
}