<div class="vvSla ml-3 mr-5" id="e2e-sla-metrics-details-div">
  <div class="row vvSlaTitle" id="e2e-sla-metrics-details-div-two">
      <div class="col-11" id="e2e-sla-metrics-details-div-three"><span class="workflowDetailsTitleText" id="e2e-sla-metrics-details-div-three-text">KPIs</span></div>      
  </div>  
  <div class="row vvSlaHeaders ml-2 mt-3 mr-3 mb-3" id="e2e-sla-metrics-details-sla-headers">
    <div class="col-2 centerHeader" id="e2e-sla-metrics-details-headers1">Name</div>
    <div class="col-2 centerHeader" id="e2e-sla-metrics-details-headers2">Agreed</div>
    <div class="col-2 centerHeader" id="e2e-sla-metrics-details-headers3">Actual</div>
    <div class="col-2 centerHeader" id="e2e-sla-metrics-details-headers4">Difference</div>
    <div class="col-3 centerHeader" id="e2e-sla-metrics-details-headers5">Comments</div>
    <div class="col-1 centerHeader" id="e2e-sla-metrics-details-headers6"></div>    
  </div>
  <div *ngFor="let kpiDto of kpiDtos| paginate: { itemsPerPage: amountItemsPagination, currentPage: p3, totalItems: kpiDtos.length, id: 'sla-kpis-pagination' }; let idx = index" class="mr-5 vvSlaBox" id="e2e-sla-metrics-details-div-main {{kpiDto.kpiId}}">
    <div class="ml-2 pb-1 row vvSlaRowBox" *ngIf="kpiDto.active" id="e2e-sla-metrics-details-div-main2 {{kpiDto.kpiId}}">        
      <div class="col-2 pt-3 centerContent" id="e2e-sla-metrics-details-div-main3 {{kpiDto.kpiId}}">
          <span *ngIf="kpiDto.name==='DISCHMOVES'" id="e2e-sla-metrics-details-div-main3 text1 {{kpiDto.kpiId}}">DISCHCOUNT</span>
          <span *ngIf="kpiDto.name==='LOADMOVES'" id="e2e-sla-metrics-details-div-main3 text2 {{kpiDto.kpiId}}">LOADCOUNT</span>
          <span *ngIf="kpiDto.name!=='LOADMOVES' && kpiDto.name!=='DISCHMOVES'" id="e2e-sla-metrics-details-div-main3 text3 {{kpiDto.kpiId}}">{{kpiDto.name}}</span>          
      </div>
      <div class="col-2 pt-3" id="e2e-sla-metrics-details-div-main-div4 {{kpiDto.kpiId}}">
        <div id="vvkpiAgreedValueInput {{kpiDto.kpiId}}" style="display:none;" class="centerContent">
            <div *ngIf="kpiDto.dataType==='DATE'" id="vvkpiAgreedValueInput divDate {{kpiDto.kpiId}}">
                <input id="vvkpiInputValue hour {{kpiDto.kpiId}}" value="{{kpiDto.agreedValueDate | date: 'HH'}}" (input)="checkInputValue($event.target,0,23)" type = "number" maxlength = "2"  class="hourInputStyle"/>
                :
                <input id="vvkpiInputValue minute {{kpiDto.kpiId}}" value="{{kpiDto.agreedValueDate | date: 'mm'}}" (input)="checkInputValue($event.target,0,59)" type = "number" maxlength = "2" class="hourInputStyle"/>                        
                <select [value]="kpiDto.agreedValueDate | date: 'EEEE'" id="vvkpi weekday select {{kpiDto.kpiId}}" class="ml-2 weekInputStyle">
                    <option *ngFor="let weekDay of weekDays" [value]="weekDay.value" id="vvkpi weekday select option {{kpiDto.kpiId}}">
                        {{weekDay.value}}
                    </option>
                </select> 
            </div>
            <div *ngIf="kpiDto.dataType==='STRING'" id="vvkpiAgreedValueInput divDate string {{kpiDto.kpiId}}">
                <input id="vvkpiInputValue {{kpiDto.kpiId}}" value="{{kpiDto.agreedValue}}" size="10">                              
            </div>                
        </div>
        <div id="vvkpiAgreedValueValue {{kpiDto.kpiId}}" class ="centerContent" style="display:block;">            
            <div *ngIf="kpiDto.dataType==='DATE'" id="vvkpiAgreedValueValue div1 {{kpiDto.kpiId}}">{{kpiDto.agreedValueDate | date: 'HH:mm dd/MM/yyyy'}}</div>              
            <div *ngIf="kpiDto.dataType==='STRING' && kpiDto.name === 'CI'" id="vvkpiAgreedValueValue div2 {{kpiDto.kpiId}}">{{kpiDto.agreedValue | number : '1.2-2'}}</div> 
            <div *ngIf="kpiDto.dataType==='STRING' && kpiDto.name !== 'CI'" id="vvkpiAgreedValueValue div3 {{kpiDto.kpiId}}">{{kpiDto.agreedValue}}</div>                            
        </div>               
        </div>
        <div class="col-2 pt-3 centerContent" id="vvkpiActualValue div {{kpiDto.kpiId}}">
            <div *ngIf="kpiDto.dataType==='STRING' && kpiDto.name !== 'CI'" id="vvkpiActualValue div1 {{kpiDto.kpiId}}">                                    
                {{kpiDto.actualValue}}
            </div>
            <div *ngIf="kpiDto.dataType==='STRING' && kpiDto.name === 'CI'" id="vvkpiActualValue div2 {{kpiDto.kpiId}}">                                    
                {{kpiDto.actualValue | number : '1.2-2'}}
            </div>
            <div *ngIf="kpiDto.dataType==='DATE'" id="vvkpiActualValue div3 {{kpiDto.kpiId}}">
                {{kpiDto.actualValueDate | date: 'HH:mm dd/MM/yyyy'}}
            </div>
        </div>
        <div class="col-2 pt-3 vvkpiDifference centerContent" id="vvkpiDiferenceValue div4 {{kpiDto.kpiId}}">
            <span id="vvkpiDifference {{kpiDto.kpiId}}">
                {{calculateDifference(kpiDto)}}<span *ngIf="kpiDto.actualValueDate!==undefined && kpiDto.agreedValueDate" id="vvkpiDiferenceValue div5 {{kpiDto.kpiId}}">h</span>
            </span>
        </div>
        <div class="col-3 pt-3 centerContent" id="vvkpiCommentValue div5 {{kpiDto.kpiId}}">
          <div id="vvkpiCommentsInput {{kpiDto.kpiId}}" style="display:none;">
              <input id="vvkpiInput {{kpiDto.kpiId}}" value="{{kpiDto.comment}}" size="30" class="vvSlaInputComments">                              
          </div>
            <div id="vvkpiCommentsValue {{kpiDto.kpiId}}" style="display:block;">
                <div *ngIf="kpiDto.comment!==undefined && kpiDto.comment.length > 0" id="vvkpiCommentsValue internal {{kpiDto.kpiId}}">
                    <span class="boldFontE2E" id="vvkpiCommentsValue internal text{{kpiDto.kpiId}}" >{{kpiDto.comment}}</span>, by {{kpiDto.username}} on {{kpiDto.date | date: 'dd/MM/yyyy'}}
                </div>        
            </div>        
      </div>        
      <div class="col-1 pt-3" id="vvkpiReadButtons main {{kpiDto.kpiId}}" >
          <div id="vvkpiReadButtons {{kpiDto.kpiId}}" class="row vvkpiReadButtons" style="display:block;">                        
              <button (click)="editKpi(kpiDto)" class="icon-button" id="editKpiButton {{kpiDto.kpiId}}">
                <i class="fas fa-pencil-alt" id="editKpiButton icon {{kpiDto.kpiId}}"></i>
              </button>                        
          </div>
          <div id="vvkpiEditButtons {{kpiDto.kpiId}}" class="row vvkpiEditButtons" style="display:none;">                        
              <button (click)="saveKpi(kpiDto)" class="icon-button" id="saveKpiButton {{kpiDto.kpiId}}">
                <i class="fas fa-save" id="saveKpiButton icon {{kpiDto.kpiId}}"></i>   
              </button>
              <button (click)="cancelKpi(kpiDto)" class="icon-button" id="cancelKpiButton {{kpiDto.kpiId}}">
                <i class="fas fa-times" id="cancelKpiButton icon {{kpiDto.kpiId}}"></i>           
              </button>                        
          </div>
      </div>            
    </div>
    <div *ngIf="idx < kpiDtos.length - 1" class="row borderSeparator pt-2" id="e2e-sla-metrics-details-div separator"></div>
    <div *ngIf="idx == kpiDtos.length - 1" class="row lastBorderSeparator pt-2" id="e2e-sla-metrics-details-div separator two"></div>
  </div>            
  <pagination-controls *ngIf="kpiDtos.length > amountItemsPagination" class="my-pagination" (pageChange)="p3 = $event" id="sla-kpis-pagination"></pagination-controls>
</div>