.taskColumn {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 110px;
}

.subStagesText {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #7f7d7f;
}

.buttonSize {
    width: 90px;
    height: 29px;
}

.stageTitle {
    color: #000000;
}

.commentsBold {
    font-weight: bold;
    color:#000;
}

.commentsWidth {
    width: 180px;
}

.commentsBlack {
    color:#000;
}

.smallText {    
    font-size: 11px;
}

.commentsInput {
    margin-left: -30px;
    width: 180px;
}

.concreteMarginTop {
    margin-top: 6px;
}

.columnZeroPadding {
    padding-left: 0px !important;
}

/* Moves resume tab */

.movesResumeBox {
    background-color: #f7f7f7;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #7f7d7f;
    overflow-x: hidden;
}

.movesRecapTitle {
    color: #7f7d7f;
    font-weight: bold;
}

.movesRecapTableTitle {
    color: #ffffff;
    background-color: #bbbbbb;
    font-weight: bold;
}

.movesRecapTableText {
    color: #000000;
    background-color: #ffffff;
}

.movesRecapTextCentered {
    text-align: center; 
    display: inline-block;
}

.movesRecapBottomLine {
    border-bottom: 1px solid black;
}

.movesRecapUpperLine {
    border-top: 1px solid black;
}

.movesRecapLarge {
    width: 560px;
}

::ng-deep .mat-tab-header{
    z-index: 999;
    width:100vw;
    position: fixed;
}

/* Vessel notes tab */

.vNotesReadButtons {
    margin-left: 85%;   
}

.vNotesEditButtons {
    margin-left: 85%;   
}

.vNotesInput {
    width: 340px;
}

.vNotesMainBox {
    overflow-x: hidden;
}

.vNotesBox {
    background-color: #f7f7f7;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;    
    letter-spacing: 0.1px;
    text-align: center;
    min-height: 72px;
}

.vNotesText {  
    text-align: left;  
    color: #000000;
}

.vNotesUserDateText {
    color: #7f7d7f;
}

.vNotesPlusButton {
    color: #7e7d7e; 
}

.noteColumn {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 70px;    
}

.rowVeselNoteValues {
    width: 100%;
    min-height: 25px;
}