<mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="updateSelectedTab($event)" animationDuration="500ms" id="e2e-substgs-worflow-details maintab">
  <!-- ################## ALL TASKS LIST ################## -->
  <mat-tab class="tasksTab" label="All Tasks" id="e2e-substgs-worflow-details tab1">
    <!-- Button to close all COPRAR remaining tasks -->
    <div *ngIf="appSetting && appSetting.multipleStepsComplete === true && (selectedStage.name.toUpperCase() === 'DISCHARGE COPRAR' || selectedStage.name.toUpperCase() === 'LOAD COPRAR')" class="ml-1 mt-2">
        <button id="complete-all-coprar-button" class="mt-1 mb-2 btn btn-outline-secondary" (click)="closeAllCoprarRemainingTasks(selectedStage)">
          <span id="complete-all-coprar-button text">Complete All</span>
        </button>        
    </div>    
    <!-- ##################  No childs, stage is substage itself ################## -->    
    <div *ngIf="selectedStage !== undefined && selectedStage.children !== undefined && selectedStage.children.length == 0" class="row taskColumn mt-2 pl-2 pb-1" id="e2e-substgs-worflow-details tab1 div1">
      <div class="col-3 mt-2" id="e2e-substgs-worflow-details tab1 div2">
        <div class="row" id="e2e-substgs-worflow-details tab1 div3">
          <div class="col-4 pt-1" id="e2e-substgs-worflow-details tab1 div4">              
            <img [src]="getStageIcon(selectedStage)" id="e2e-substgs-worflow-details tab1 div4 picture">
          </div>          
          <div class="col-6 ml-2" id="e2e-substgs-worflow-details tab1 div5">
            <div class="row"  id="e2e-substgs-worflow-details tab1 div6">
              <img src="./assets/images/details/File.png"  id="e2e-substgs-worflow-details tab1 div6 picture">
            </div> 
            <div class="row subStagesText" id="e2e-substgs-worflow-details tab1 div7">
              {{selectedStage.category}}
            </div>           
          </div>
        </div>  
        <div class="row subStagesText ml-2 mt-2 commentsBlack" id="e2e-substgs-worflow-details tab1 div8">
            {{selectedStage.name}}
        </div>      
      </div>
      <div class="col-4 mt-2 subStagesText columnZeroPadding" id="e2e-substgs-worflow-details tab1 div9">        
        <!-- Stage status and process time -->       
        <div class="row mt-1 stageTitle" id="e2e-substgs-worflow-details tab1 div10">
            <span class="commentsBold mr-2" id="e2e-substgs-worflow-details tab1 div10 text">{{selectedStage.status}}</span><span *ngIf="selectedStage.processTime !== undefined" id="e2e-substgs-worflow-details tab1 div10 text2"> - {{selectedStage.processTime | date: 'HH:mm dd/MM/yyyy'}}</span> 
        </div> 
        <!-- Batch -->
        <div *ngIf="selectedStage.batchNumber !== undefined" class="row mt-1" id="e2e-substgs-worflow-details tab1 div11">
            Batch number: {{selectedStage.batchNumber}} 
        </div>   
        <!-- Taken by -->       
        <div class="row mt-1 smallText" *ngIf="selectedStage.takenBy" id="e2e-substgs-worflow-details tab1 div12">
          <span *ngIf="selectedStage.taken" class="mr-1" id="e2e-substgs-worflow-details tab1 div12 text">Taken</span><span *ngIf="!selectedStage.taken" class="mr-1" id="e2e-substgs-worflow-details tab1 div12 text2">Released</span>by {{selectedStage.takenBy}} - {{selectedStage.takenDate | date: 'HH:mm dd/MM/yyyy'}}
        </div>
        <!-- Open by -->       
        <div class="row mt-1 smallText" *ngIf="selectedStage.modifiedBy" id="e2e-substgs-worflow-details tab1 div13">
          <span *ngIf="!selectedStage.completed" class="mr-1" id="e2e-substgs-worflow-details tab1 div13 text1">Opened</span><span *ngIf="selectedStage.completed" class="mr-1" id="e2e-substgs-worflow-details tab1 div13 text2">Completed</span>by {{selectedStage.modifiedBy}} - {{selectedStage.modifiedDate | date: 'HH:mm dd/MM/yyyy'}}
        </div>        
      </div>
      <div class="col-3 concreteMarginTop pl-1 subStagesText" id="e2e-substgs-worflow-details tab1 div14">
        <!-- Comments -->       
        <div id="comments input {{selectedStage.stageTemplateId}}" style="display:none;" class="mt-1 mb-1">
          <input id="input {{selectedStage.stageTemplateId}}" value="{{selectedStage.comment}}" size="30" class="commentsInput">
        </div>        
        <div id="comments label {{selectedStage.stageTemplateId}}" class="row mt-1" *ngIf="selectedStage.comment && selectedStage.comment.length > 0" style="display:block;">
          <div class="row commentsBold commentsWidth" id="comments label textdiv {{selectedStage.stageTemplateId}}">
            {{selectedStage.comment}} 
          </div>
          <div class="row commentsWidth" id="comments label textdiv2 {{selectedStage.stageTemplateId}}">
            <span *ngIf="selectedStage.commentBy" id="comments label textdiv3 {{selectedStage.stageTemplateId}}">Commented by {{selectedStage.commentBy}} - {{selectedStage.commentDate | date: 'HH:mm dd/MM/yyyy'}}</span>
          </div>          
        </div>
      </div>
      <div class="col-2" id="e2e-substgs-worflow-details tab1 div20">
        <div class="row ml-3 mt-1" id="e2e-substgs-worflow-details tab1 div21">          
          <button class="icon-button" id="edit button {{selectedStage.stageTemplateId}}" (click)="editComment(selectedStage)" style="display:block;">
            <i class="fas fa-pencil-alt fa-xs" id="edit button icon {{selectedStage.stageTemplateId}}"></i>
          </button>
          <button class="icon-button" id="save button {{selectedStage.stageTemplateId}}" (click)="saveComment(selectedStage)" style="display:none;">
            <i class="fas fa-save fa-xs" id="save button icon{{selectedStage.stageTemplateId}}"></i>              
          </button>
        </div>
        <div class="row mt-1" id="e2e-substgs-worflow-details tab1 div22">
          <button id="take-button" class="btn btn-secondary buttonSize" (click)="changeStageTake(selectedStage)">
            <span id="take-button-text">{{selectedStage.taken === false ? 'Take' : 'Release'}}</span>
          </button>
        </div>
        <div class="row" id="e2e-substgs-worflow-details tab1 div22">
          <button id="complete-button" class="mt-1 btn btn-outline-secondary buttonSize" (click)="changeStageStatus(selectedStage)">
            <span id="complete-button text">{{selectedStage.completed ? 'Open' : 'Complete'}}</span>
          </button>
        </div>
      </div>      
    </div>    
    <!-- ################## Stage with childs ################## -->
    <div *ngIf="selectedStage !== undefined && selectedStage.children !== undefined && selectedStage.children.length > 0" id="e2e-substgs-worflow-details tab1 div23">
      <div *ngFor="let substage of getSubstagesOrderedByStatus() | paginate: {itemsPerPage: amountItemsPagination, currentPage: p1, totalItems: selectedStage.children.length, id: 'substage-childs-pagination' }" class="row taskColumn mt-2 pl-2" id="e2e-substgs-worflow-details tab1 div24 {{substage.stageTemplateId}}">
        <div class="col-3 mt-2" id="e2e-substgs-worflow-details tab1 div25 {{substage.stageTemplateId}}">
          <div class="row" id="e2e-substgs-worflow-details tab1 div26 {{substage.stageTemplateId}}">
            <div class="col-4 pt-1" id="e2e-substgs-worflow-details tab1 div27 {{substage.stageTemplateId}}">
              <img [src]="getStageIcon(substage)" id="e2e-substgs-worflow-details tab1 div27 img {{substage.stageTemplateId}}">
            </div>          
            <div class="col-6 ml-2" id="e2e-substgs-worflow-details tab1 div28 {{substage.stageTemplateId}}">
              <div class="row" id="e2e-substgs-worflow-details tab1 div29 {{substage.stageTemplateId}}">
                <img src="./assets/images/details/File.png" id="e2e-substgs-worflow-details tab1 div29 img {{substage.stageTemplateId}}">
              </div> 
              <div class="row subStagesText" id="e2e-substgs-worflow-details tab1 div30 {{substage.stageTemplateId}}">
                {{substage.category}}
              </div>           
            </div>
          </div>  
          <div class="row subStagesText ml-2 mt-2 commentsBlack" id="e2e-substgs-worflow-details tab1 div31 {{substage.stageTemplateId}}">
              {{substage.name}}
          </div>      
        </div>
        <div class="col-4 mt-2 subStagesText columnZeroPadding" id="e2e-substgs-worflow-details tab1 div32 {{substage.stageTemplateId}}">        
          <!-- Stage status and process time -->       
          <div class="row mt-1 stageTitle" id="e2e-substgs-worflow-details tab1 div33 {{substage.stageTemplateId}}">
              <span class="commentsBold mr-2" id="e2e-substgs-worflow-details tab1 div33 text1 {{substage.stageTemplateId}}">{{substage.status}}</span><span *ngIf="substage.processTime !== undefined" id="e2e-substgs-worflow-details tab1 div33 text2 {{substage.stageTemplateId}}"> - {{substage.processTime | date: 'HH:mm dd/MM/yyyy'}}</span> 
          </div> 
          <!-- Batch -->
          <div *ngIf="substage.batchNumber !== undefined" class="row mt-1" id="e2e-substgs-worflow-details tab1 div34 {{substage.stageTemplateId}}">
              Batch number: {{substage.batchNumber}} 
          </div>   
          <!-- Taken by -->       
          <div class="row mt-1 smallText" *ngIf="substage.takenBy" id="e2e-substgs-worflow-details tab1 div35 {{substage.stageTemplateId}}">
            <span *ngIf="substage.taken" class="mr-1" id="e2e-substgs-worflow-details tab1 div35 text {{substage.stageTemplateId}}">Taken</span><span *ngIf="!substage.taken" class="mr-1" id="e2e-substgs-worflow-details tab1 div35 text2 {{substage.stageTemplateId}}">Released</span>by {{substage.takenBy}} - {{substage.takenDate | date: 'HH:mm dd/MM/yyyy'}}
          </div>
          <!-- Open by -->       
          <div class="row mt-1 smallText" *ngIf="substage.modifiedBy" id="e2e-substgs-worflow-details tab1 div36 {{substage.stageTemplateId}}">
            <span *ngIf="!substage.completed" class="mr-1" id="e2e-substgs-worflow-details tab1 div36 text {{substage.stageTemplateId}}">Opened</span><span *ngIf="substage.completed" class="mr-1" id="e2e-substgs-worflow-details tab1 div36 text2 {{substage.stageTemplateId}}">Completed</span>by {{substage.modifiedBy}} - {{substage.modifiedDate | date: 'HH:mm dd/MM/yyyy'}}
          </div>        
        </div>
        <div class="col-3 concreteMarginTop pl-1 subStagesText" id="e2e-substgs-worflow-details tab1 div37 {{substage.stageTemplateId}}">
          <!-- Comments -->       
          <div id="comments input {{substage.stageTemplateId}}" style="display:none;" class="mt-1 mb-1">
            <input id="input {{substage.stageTemplateId}}" value="{{substage.comment}}" size="30" class="commentsInput">
          </div>        
          <div id="comments label {{substage.stageTemplateId}}" class="row mt-1" *ngIf="substage.comment && substage.comment.length > 0" style="display:block;">
            <div class="row commentsBold commentsWidth" id="comments label text {{substage.stageTemplateId}}">
              {{substage.comment}} 
            </div>
            <div class="row commentsWidth" id="comments label div2 {{substage.stageTemplateId}}">
              <span *ngIf="substage.commentBy" id="comments label div2 text {{substage.stageTemplateId}}">Commented by {{substage.commentBy}} - {{substage.commentDate | date: 'HH:mm dd/MM/yyyy'}}</span>
            </div>          
          </div>
        </div>
        <div class="col-2" id="e2e-substgs-worflow-details tab1 div50 {{substage.stageTemplateId}}">
          <div class="row ml-3 mt-1" id="e2e-substgs-worflow-details tab1 div51 {{substage.stageTemplateId}}">          
            <button class="icon-button" id="edit button {{substage.stageTemplateId}}" (click)="editComment(substage)" style="display:block;">
              <i class="fas fa-pencil-alt fa-xs" id="edit button text {{substage.stageTemplateId}}"></i>
            </button>
            <button class="icon-button" id="save button {{substage.stageTemplateId}}" (click)="saveCommentSubstage(substage, selectedStage)" style="display:none;">
              <i class="fas fa-save fa-xs" id="save button text {{substage.stageTemplateId}}"></i>              
            </button>
          </div>
          <div class="row mt-1" id="e2e-substgs-worflow-details tab1 div55 {{substage.stageTemplateId}}">
            <button id="take-button {{substage.stageTemplateId}}" class="btn btn-secondary buttonSize" (click)="changeSubstageTake(substage, selectedStage)">
              <span id="take-button {{substage.stageTemplateId}} text">{{substage.taken === false ? 'Take' : 'Release'}}</span>
            </button>
          </div>
          <div class="row" id="e2e-substgs-worflow-details tab1 div5 {{substage.stageTemplateId}}">
            <button id="complete-button {{substage.stageTemplateId}}" class="mt-1 btn btn-outline-secondary buttonSize" (click)="changeSubstageStatus(substage, selectedStage)">
              <span id="complete-button {{substage.stageTemplateId}} text">{{substage.completed ? 'Open' : 'Complete'}}</span>
            </button>
          </div>          
        </div>        
      </div>  
      <div class="mt-2"></div>
      <pagination-controls *ngIf="selectedStage.children.length > amountItemsPagination" class="my-pagination pt-2" (pageChange)="p1 = $event" id="substage-childs-pagination"></pagination-controls>    
    </div>      
  </mat-tab>  
  <!-- ################## REMAINING TASKS LIST ################## -->  
  <mat-tab class="tasksTab" label="Remaining Tasks" id="e2e-substgs-worflow-details tab2">            
    <!-- ################## Stage with childs ################## -->
    <div *ngIf="remainingStages !== undefined && remainingStages.length > 0">
      <div *ngFor="let substage of remainingStages| paginate: {itemsPerPage: amountItemsPagination, currentPage: p2, totalItems: remainingStages.length, id: 'substage-remaining-pagination' }" class="row taskColumn mt-2 pl-2" id="e2e-substgs-worflow-details tab2 box {{substage.stageTemplateId}}">
        <div class="col-3 mt-2" id="e2e-substgs-worflow-details tab2 box2 {{substage.stageTemplateId}}">
          <div class="row" id="e2e-substgs-worflow-details tab2 box3 {{substage.stageTemplateId}}">
            <div class="col-4 pt-1" id="e2e-substgs-worflow-details tab2 box5 {{substage.stageTemplateId}}">
              <img [src]="getStageIcon(substage)" id="e2e-substgs-worflow-details tab2 box5 img {{substage.stageTemplateId}}">
            </div>          
            <div class="col-6 ml-2" id="e2e-substgs-worflow-details tab2 box6 {{substage.stageTemplateId}}">
              <div class="row" id="e2e-substgs-worflow-details tab2 box7 {{substage.stageTemplateId}}">
                <img src="./assets/images/details/File.png" id="e2e-substgs-worflow-details tab2 box7 img {{substage.stageTemplateId}}">
              </div> 
              <div class="row subStagesText" id="e2e-substgs-worflow-details tab2 box8 {{substage.stageTemplateId}}">
                {{substage.category}}
              </div>           
            </div>
          </div>  
          <div class="row subStagesText ml-2 mt-2 commentsBlack" id="e2e-substgs-worflow-details tab2 box9 {{substage.stageTemplateId}}">
              {{substage.name}}
          </div>      
        </div>
        <div class="col-4 mt-2 subStagesText columnZeroPadding" id="e2e-substgs-worflow-details tab2 box10 {{substage.stageTemplateId}}">        
          <!-- Stage status and process time -->       
          <div class="row mt-1 stageTitle" id="e2e-substgs-worflow-details tab2 box11 {{substage.stageTemplateId}}">
              <span class="commentsBold  mr-2" id="e2e-substgs-worflow-details tab2 box11 text {{substage.stageTemplateId}}">{{substage.status}}</span><span *ngIf="substage.processTime !== undefined" id="e2e-substgs-worflow-details tab2 box11 text2 {{substage.stageTemplateId}}"> - {{substage.processTime | date: 'HH:mm dd/MM/yyyy'}}</span>
          </div> 
          <!-- Batch -->
          <div *ngIf="substage.batchNumber !== undefined" class="row mt-1" id="e2e-substgs-worflow-details tab2 box12 {{substage.stageTemplateId}}">
              Batch number: {{substage.batchNumber}} 
          </div>   
          <!-- Taken by -->       
          <div class="row mt-1 smallText" *ngIf="substage.takenBy" id="e2e-substgs-worflow-details tab2 box13 {{substage.stageTemplateId}}">
            <span *ngIf="substage.taken" class="mr-1" id="e2e-substgs-worflow-details tab2 box14 text {{substage.stageTemplateId}}">Taken</span><span *ngIf="!substage.taken" class="mr-1" id="e2e-substgs-worflow-details tab2 box14 text2 {{substage.stageTemplateId}}">Released</span>by {{substage.takenBy}} - {{substage.takenDate | date: 'HH:mm dd/MM/yyyy'}}
          </div>
          <!-- Open by -->       
          <div class="row mt-1 smallText" *ngIf="substage.modifiedBy" id="e2e-substgs-worflow-details tab2 box15 {{substage.stageTemplateId}}">
            <span *ngIf="!substage.completed" class="mr-1" id="e2e-substgs-worflow-details tab2 box15 text {{substage.stageTemplateId}}">Opened</span><span *ngIf="substage.completed" class="mr-1" id="e2e-substgs-worflow-details tab2 box15 text2 {{substage.stageTemplateId}}">Completed</span>by {{substage.modifiedBy}} - {{substage.modifiedDate | date: 'HH:mm dd/MM/yyyy'}}
          </div>        
        </div>
        <div class="col-3 concreteMarginTop pl-1 subStagesText" id="e2e-substgs-worflow-details tab2 box16 {{substage.stageTemplateId}}">
          <!-- Comments -->       
          <div id="comments input {{substage.stageTemplateId}}" style="display:none;" class="mt-1 mb-1">
            <input id="input {{substage.stageTemplateId}}" value="{{substage.comment}}" size="30" class="commentsInput">
          </div>        
          <div id="comments label {{substage.stageTemplateId}}" class="row mt-1" *ngIf="substage.comment && substage.comment.length > 0" style="display:block;">
            <div class="row commentsBold commentsWidth" id="comments label {{substage.stageTemplateId}} box1">
              {{substage.comment}} 
            </div>
            <div class="row commentsWidth" id="comments label {{substage.stageTemplateId}} box2">
              <span *ngIf="substage.commentBy" id="comments label {{substage.stageTemplateId}} box2 text">Commented by {{substage.commentBy}} - {{substage.commentDate | date: 'HH:mm dd/MM/yyyy'}}</span>
            </div>          
          </div>
        </div>
        <div class="col-2" id="e2e-substgs-worflow-details tab2 box18 {{substage.stageTemplateId}}">
          <div class="row ml-3 mt-1" id="e2e-substgs-worflow-details tab2 box19 {{substage.stageTemplateId}}">          
            <button class="icon-button" id="edit button {{substage.stageTemplateId}}" (click)="editComment(substage)" style="display:block;">
              <i class="fas fa-pencil-alt fa-xs" id="edit button {{substage.stageTemplateId}} icon"></i>              
            </button>
            <button class="icon-button" id="save button {{substage.stageTemplateId}}" (click)="saveCommentSubstageRemaining(substage)" style="display:none;">
              <i class="fas fa-save fa-xs" id="save button {{substage.stageTemplateId}} icon"></i>              
            </button>
          </div>
          <div class="row mt-1" id="e2e-substgs-worflow-details tab2 box22 {{substage.stageTemplateId}}">
            <button id="take-button {{substage.stageTemplateId}}" class="btn btn-secondary buttonSize" (click)="changeSubstageTakeRemaining(substage)">
              <span id="take-button {{substage.stageTemplateId}} text">{{substage.taken === false ? 'Take' : 'Release'}}</span>
            </button>
          </div>
          <div class="row">
            <button id="complete-button {{substage.stageTemplateId}}" class="mt-1 btn btn-outline-secondary buttonSize" (click)="changeSubstageStatusRemaining(substage)">
              <span id="complete-button {{substage.stageTemplateId}} text">{{substage.completed ? 'Open' : 'Complete'}}</span>
            </button>
          </div>
        </div>
      </div> 
    </div> 
    <div class="mt-2"></div>
    <pagination-controls *ngIf="remainingStages.length > amountItemsPagination" class="my-pagination pt-2" (pageChange)="p2 = $event" id="substage-remaining-pagination"></pagination-controls>    
  </mat-tab>
    <!-- ################## MOVES RECAP ################## -->  
  <mat-tab class="tasksTab" label="Unit Counts" id="e2e-substgs-worflow-details tab3">
    <div class="movesResumeBox mt-2 pr-5" id="e2e-substgs-worflow-details tab3 div1">
      <div class="row ml-3 pt-3 movesRecapTitle" id="e2e-substgs-worflow-details tab3 div2">
        Discharge
      </div>
      <div class="row m-3" id="e2e-substgs-worflow-details tab3 div3">
        <!-- Empties DISCHARGE -->
        <div class="col-3 movesRecapTableText" id="e2e-substgs-worflow-details tab3 div4">            
          <div class="row movesRecapTableTitle" id="e2e-substgs-worflow-details tab3 div5"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div6">Empties</div></div>
          <div class="row movesRecapBottomLine" id="e2e-substgs-worflow-details tab3 div7"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div8">ST</div></div>
          <div class="row pl-3 pr-3" id="e2e-substgs-worflow-details tab3 div9">
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div10">20'</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div11">40'</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div12">45'</div>
          </div>
          <div class="row pl-3 pr-3" id="e2e-substgs-worflow-details tab3 div13">
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div14">{{unitRecapDTO.dschRecap.empty.nom20}}</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div15">{{unitRecapDTO.dschRecap.empty.nom40}}</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div16">{{unitRecapDTO.dschRecap.empty.nom45}}</div>
          </div>
          <div class="row movesRecapUpperLine" id="e2e-substgs-worflow-details tab3 div17"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div18">TOTAL</div></div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div19"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div20">{{unitRecapDTO.dschRecap.empty.total}}</div></div>
        </div>
      </div>
      <div class="row m-3 movesRecapLarge" id="e2e-substgs-worflow-details tab3 div21">
        <!-- Full DISCHARGE -->
        <div class="col-12 movesRecapTableText" id="e2e-substgs-worflow-details tab3 div22">            
          <div class="row movesRecapTableTitle" id="e2e-substgs-worflow-details tab3 div23"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div24">Full</div></div>
          <div class="row movesRecapBottomLine" id="e2e-substgs-worflow-details tab3 div25">
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div26">ST</div>
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div27">RF</div>
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div28">DG</div>
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div29">OOG</div>               
          </div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div30">
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div31">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div32">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div33">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div34">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div35">45'</div>
                </div>
              </div>
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div36">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div37">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div38">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div39">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div40">45'</div>
                </div>
              </div>
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div41">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div42">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div43">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div44">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div45">45'</div>
                </div>
              </div>
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div46">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div47">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div48">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div49">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div50">45'</div>
                </div>
              </div>              
          </div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div51">
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div52">                                                  
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div53">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div54">{{unitRecapDTO.dschRecap.full.standard.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div55">{{unitRecapDTO.dschRecap.full.standard.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div56">{{unitRecapDTO.dschRecap.full.standard.nom45}}</div>
              </div>
            </div>
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div57">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div58">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div59">{{unitRecapDTO.dschRecap.full.reefer.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div60">{{unitRecapDTO.dschRecap.full.reefer.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div61">{{unitRecapDTO.dschRecap.full.reefer.nom45}}</div>
              </div>
            </div>
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div62">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div63">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div64">{{unitRecapDTO.dschRecap.full.dg.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div65">{{unitRecapDTO.dschRecap.full.dg.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div66">{{unitRecapDTO.dschRecap.full.dg.nom45}}</div>
              </div>
            </div>
  
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div67">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div68">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div69">{{unitRecapDTO.dschRecap.full.oog.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div70">{{unitRecapDTO.dschRecap.full.oog.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div71">{{unitRecapDTO.dschRecap.full.oog.nom45}}</div>
              </div>
            </div>            
          </div>
          <div class="row movesRecapUpperLine" id="e2e-substgs-worflow-details tab3 div72"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div73">TOTAL</div></div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div74"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div75">{{unitRecapDTO.dschRecap.full.total}}</div></div>            
        </div>        
      </div>
      <div class="row ml-3 movesRecapTitle" id="e2e-substgs-worflow-details tab3 div76">
        Load
      </div>
      <div class="row m-3" id="e2e-substgs-worflow-details tab3 div77">
        <!-- Empties LOAD -->
        <div class="col-3 movesRecapTableText" id="e2e-substgs-worflow-details tab3 div78">            
          <div class="row movesRecapTableTitle" id="e2e-substgs-worflow-details tab3 div79"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div80">Empties</div></div>
          <div class="row movesRecapBottomLine" id="e2e-substgs-worflow-details tab3 div81"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div82">ST</div></div>
          <div class="row pl-3 pr-3" id="e2e-substgs-worflow-details tab3 div83">
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div84">20'</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div85">40'</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div86">45'</div>
          </div>
          <div class="row pl-3 pr-3" id="e2e-substgs-worflow-details tab3 div87">
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div88">{{unitRecapDTO.loadRecap.empty.nom20}}</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div89">{{unitRecapDTO.loadRecap.empty.nom40}}</div>
            <div class="col-4" id="e2e-substgs-worflow-details tab3 div90">{{unitRecapDTO.loadRecap.empty.nom45}}</div>
          </div>
          <div class="row movesRecapUpperLine" id="e2e-substgs-worflow-details tab3 div91"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div92">TOTAL</div></div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div93"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div94">{{unitRecapDTO.loadRecap.empty.total}}</div></div>
        </div>
      </div>
      <div class="row m-3 movesRecapLarge" id="e2e-substgs-worflow-details tab3 div95">
        <!-- Full LOAD -->
        <div class="col-12 movesRecapTableText" id="e2e-substgs-worflow-details tab3 div96">            
          <div class="row movesRecapTableTitle" id="e2e-substgs-worflow-details tab3 div97"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div98">Full</div></div>
          <div class="row movesRecapBottomLine" id="e2e-substgs-worflow-details tab3 div99">
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div100">ST</div>
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div101">RF</div>
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div102">DG</div>
            <div class="col-3 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div103">OOG</div>              
          </div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div104">
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div105">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div106">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div107">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div108">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div109">45'</div>
                </div>
              </div>
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div110">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div111">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div112">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div113">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div114">45'</div>
                </div>
              </div>
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div115">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div116">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div117">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div118">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div119">45'</div>
                </div>
              </div>
              <div class="col-3" id="e2e-substgs-worflow-details tab3 div120">
                <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div121">
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div122">20'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div123">40'</div>
                  <div class="col-4" id="e2e-substgs-worflow-details tab3 div124">45'</div>
                </div>
              </div>              
          </div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div125">
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div126">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div127">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div128">{{unitRecapDTO.loadRecap.full.standard.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div129">{{unitRecapDTO.loadRecap.full.standard.nom40}}</div>                
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div130">{{unitRecapDTO.loadRecap.full.standard.nom45}}</div>
              </div>
            </div>
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div131">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div132">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div133">{{unitRecapDTO.loadRecap.full.reefer.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div134">{{unitRecapDTO.loadRecap.full.reefer.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div135">{{unitRecapDTO.loadRecap.full.reefer.nom45}}</div>
              </div>
            </div>
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div136">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div137">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div138">{{unitRecapDTO.loadRecap.full.dg.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div139">{{unitRecapDTO.loadRecap.full.dg.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div140">{{unitRecapDTO.loadRecap.full.dg.nom45}}</div>
              </div>
            </div>
            <div class="col-3" id="e2e-substgs-worflow-details tab3 div141">
              <div class="row pl-4 pr-4" id="e2e-substgs-worflow-details tab3 div142">
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div143">{{unitRecapDTO.loadRecap.full.oog.nom20}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div144">{{unitRecapDTO.loadRecap.full.oog.nom40}}</div>
                <div class="col-4" id="e2e-substgs-worflow-details tab3 div145">{{unitRecapDTO.loadRecap.full.oog.nom45}}</div>
              </div>
            </div>             
          </div>
          <div class="row movesRecapUpperLine" id="e2e-substgs-worflow-details tab3 div146"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div147">TOTAL</div></div>
          <div class="row" id="e2e-substgs-worflow-details tab3 div149"><div class="col-12 movesRecapTextCentered" id="e2e-substgs-worflow-details tab3 div148">{{unitRecapDTO.loadRecap.full.total}}</div></div>            
        </div>        
      </div>
      <div class="row mt-2" id="e2e-substgs-worflow-details tab3 div150"></div>
    </div>
  </mat-tab>
  <!-- ################## VESSEL NOTES ################## -->  
  <mat-tab class="tasksTab" label="Vessel Notes" id="e2e-substgs-worflow-details tab4"> 
    <div class="vNotesMainBox" id="e2e-substgs-worflow-details tab4 div1">
      <div class="row mt-2" id="e2e-substgs-worflow-details tab4 div2">         
        <div class="col-12 pr-4" id="e2e-substgs-worflow-details tab4 div3">
          <button class="icon-button float-right" (click)="addVesselNote()" id="e2e-substgs-worflow-details tab4 div4 button">
            <i class="fas fa-plus m-2" id="e2e-substgs-worflow-details tab4 div5 icon"></i>
          </button>        
        </div>                     
      </div>
      <div cdkDropList class="items-container" (cdkDropListDropped)="drop($event)" id="e2e-substgs-worflow-details tab4 div6">         
        <div cdkDrag *ngFor="let vesselNote of vesselNotes;" class="row noteColumn vNotesBox mt-2 pl-2" id="e2e-substgs-worflow-details vnotes {{vesselNote.noteId}}">
          <div id="vnReadButtons {{vesselNote.noteId}}" class="row vNotesReadButtons pt-2 mr-1" style="display:block;">                        
              <button class="icon-button mr-3" (click)="editVesselNote(vesselNote)" id="editVesselNote {{vesselNote.noteId}}">
                <i class="fas fa-pencil-alt" id="editVesselNote {{vesselNote.noteId}} icon"></i>
              </button>    
              <button class="icon-button" disableRipple (click)="removeVesselNote(vesselNote)" id="removeVesselNote {{vesselNote.noteId}}">
                <i class="fas fa-trash-alt" id="removeVesselNote {{vesselNote.noteId}} icon"></i>              
              </button>
              <div class="alert-backdrop" [ngStyle]="{'display': showConfirm}">
                <div class="modal" [ngStyle]="{'display': showConfirm}" id="e2e-confirm-remove-vessel-note-modal" role="dialog">
                  <div class="alert-modal modal-dialog modal-xs">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p class="alert-body-text">{{confirmMessage}}</p>
                        <p class="font-weight-bold">Do you want to proceed ?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" (click)="confirmCallback()" class="btn alert-yes-button-text" id="e2e-alert-dialog-yes-button" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" (click) = "showConfirm = showConfirm == 'block'? 'none': 'block'">No</button>
                      </div>
                    </div>
                  </div>
                </div>   
              </div>                   
          </div>
          <div id="vnEditButtons {{vesselNote.noteId}}" class="row vNotesEditButtons pt-2 mr-1" style="display:none;">                        
              <button class="icon-button mr-3" (click)="saveVesselNote(vesselNote)" id="saveVesselNote {{vesselNote.noteId}}">
                <i class="fas fa-save" id="saveVesselNote {{vesselNote.noteId}} icon"></i>   
              </button>
              <button class="icon-button" (click)="cancelVesselNote(vesselNote)" id="cancelVesselNote {{vesselNote.noteId}}">
                <i class="fas fa-times" id="cancelVesselNote {{vesselNote.noteId}} icon"></i>           
              </button>                        
          </div>
          <div class="row ml-2 mr-2 rowVeselNoteValues" id="e2e-substgs-worflow-details vnotes values {{vesselNote.noteId}}">              
              <div id="vnCommentsInput {{vesselNote.noteId}}" class="col-6 vNotesText" style="display:none;">
                  <input id="vnInput {{vesselNote.noteId}}" value="{{vesselNote.textMessage}}" size="30" class="vNotesInput">                              
              </div>
              <div id="vnCommentsValue {{vesselNote.noteId}}" class="col-6 vNotesText" style="display:block;">
                  <span class="boldFontE2E" id="vnCommentsValue {{vesselNote.noteId}} text">{{vesselNote.textMessage}}</span>
              </div>
              <div class="col-3 vNotesUserDateText" id="e2e-substgs-worflow-details vnotes values1 {{vesselNote.noteId}}">
                  {{vesselNote.username}}
              </div>
              <div class="col-3 vNotesUserDateText" id="e2e-substgs-worflow-details vnotes values2 {{vesselNote.noteId}}">
                  {{vesselNote.date | date: 'HH:mm dd/MM/yyyy'}}
              </div>
          </div>
        </div>
      </div>    
    </div>  
  </mat-tab>
</mat-tab-group>
