
.e2e-workflow-step{
    cursor: move;
}

.step{
    cursor: move;
}

table {  
    table-layout: fixed;
    margin-bottom: 0 !important;
}

table.listTable tr:hover td {
    background-color: #ffffff;
}

table.settingsTable tr:hover td {
    background-color: #ffffff;
}

.e2e-stage-drag-preview{
    border: 3px dashed #aaaaaa;
    color: black;
    padding: 20px;
}

.tblContent{
    overflow-x: hidden;
    overflow-y: auto;    
    margin-top: 0px;    
    height: 459px;
}

th {
    vertical-align: middle !important;
}

tr { 
    height: 45px; 
    min-height: 48px;
}

td { 
    height: 48px; 
    min-height: 48px;
    padding: 5px 10px !important;
    vertical-align: middle;
}

.td-no-padding {
    padding: 0px !important;
}

.e2e-column-drag-preview{
    border: 3px dashed #7AC142;
    color: black;
    padding: 10px;
    font-weight: bold;
    background-color: #f7f7f7;
    font-size: 14px;
}