<div class="m-4" id="e2e-list-workflow-div-four">
  <div class="container">
    <div class="row">
        <div class = "p-0 col-xl-6" id="mainTableWorkflows">
          <div id="e2e-list-workflow-main-div-table-workflows-headers">
            <table class="table table-hover listTable" id="e2e-list-workflow-main-table-workflows-headers">
              <!-- Headers of the table -->
              <colgroup id="e2e-list-workflow-table-headers-colgroup">                  
                <col width="12" id="e2e-list-workflow-table-headers-colgroup1">
                <col width="3" id="e2e-list-workflow-table-headers-colgroup2">
                <col width="10" id="e2e-list-workflow-table-headers-colgroup3">
                <col width="10" id="e2e-list-workflow-table-headers-colgroup4">
                <col width="10" id="e2e-list-workflow-table-headers-colgroup5">                    
              </colgroup>
              <thead class="listTableHeader" id="e2e-list-workflow-table-headers-thead">
                <tr id="e2e-list-workflow-table-headers-tr">
                  <th scope="col" id="e2e-list-workflow-table-headers-th1">  
                    <span class="text" id="e2e-list-workflow-table-headers-th1-text">Workflow Name</span>                      
                  </th>
                  <th scope="col" id="e2e-list-workflow-table-headers-th2">  
                    <span class="text" id="e2e-list-workflow-table-headers-th2-text">Active</span>                      
                  </th>                               
                  <th scope="col" id="e2e-list-workflow-table-headers-th3-text">  
                    <span class="text" id="e2e-list-workflow-table-headers-th3">Facility</span>                      
                  </th>                               
                  <th scope="col" id="e2e-list-workflow-table-headers-th4">  
                    <span class="text" id="e2e-list-workflow-table-headers-th4">Carrier Service</span>                      
                  </th>                               
                  <th scope="col" id="e2e-list-workflow-table-headers-th5">  
                    <span class="text" id="e2e-list-workflow-table-headers-th5">Line Operator</span>                      
                  </th>                                                        
                </tr>
              </thead> 
            </table>
          </div>
          <div id="tblContent" class="tblContent">
            <table class="table table-hover listTable" id="e2e-list-workflow-table">
              <!-- Headers of the table -->
              <colgroup id="e2e-list-workflow-table-colgroup">                  
                <col width="12" id="e2e-list-workflow-table-col1">
                <col width="3" id="e2e-list-workflow-table-col2">
                <col width="10" id="e2e-list-workflow-table-col3">
                <col width="10" id="e2e-list-workflow-table-col4">
                <col width="10" id="e2e-list-workflow-table-col5">                  
              </colgroup>
              <tbody class="listTableContent" id="e2e-list-workflow-table-colgroup">
                <tr class="e2e-list-workflow-row" *ngFor="let workflow of workflows" (click)="showSteps(workflow)" id="e2e-list-workflow-table-tr {{workflow.workflowTmpId}}">
                  <td [ngClass]="workflow.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="workflowTmpName {{workflow.workflowTmpId}}">  
                    <span class="text" id="workflowTmpName text {{workflow.workflowTmpId}}">
                      {{workflow.workflowTmpName}}
                    </span>                      
                  </td>
                  <td [ngClass]="workflow.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="active {{workflow.workflowTmpId}}">  
                    <span class="text" *ngIf="workflow.active" id="active text {{workflow.workflowTmpId}}">
                      <i class="fas fa-check" id="active text icon {{workflow.workflowTmpId}}"></i>                    
                    </span>                      
                  </td>                                                            
                  <td [ngClass]="workflow.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="facility {{workflow.workflowTmpId}}">
                    <mat-chip-list #facilityChipList class="chip-list noHover" id="facility chiplist {{workflow.workflowTmpId}}">
                      <mat-chip id="facility chip {{workflow.workflowTmpId}} {{facility.facilityId}}" *ngFor="let facility of workflow.facilities" selectable="true" sortable="true" class="chipTableContent" >                    
                        {{facility.facilityName}}             
                      </mat-chip>
                    </mat-chip-list>                      
                  </td> 
                  <td [ngClass]="workflow.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="carrier {{workflow.workflowTmpId}}">
                    <mat-chip-list #carrierChipList class="chip-list noHover" id="carrier chiplist {{workflow.workflowTmpId}}">
                      <mat-chip id="carrier chip {{workflow.workflowTmpId}} {{carrier.carrierServiceId}}" *ngFor="let carrier of workflow.carrierServices" selectable="true" sortable="true" class="chipTableContent" >                    
                        {{carrier.carrierServiceIdName}}               
                      </mat-chip>
                    </mat-chip-list>                      
                  </td> 
                  <td [ngClass]="workflow.selected ? 'cellContentSelected':'cellContentUnSelected'" scope="col" id="operator {{workflow.workflowTmpId}}">
                      <mat-chip-list #operatorChipList class="chip-list noHover" id="operator chiplist {{workflow.workflowTmpId}}">
                        <mat-chip id="operator chip {{workflow.workflowTmpId}} {{operator.lineOperatorId}}" *ngFor="let operator of workflow.lineOperators" selectable="true" sortable="true" class="chipTableContent">                    
                          {{operator.lineOperatorIdName}}         
                        </mat-chip>
                      </mat-chip-list>                      
                    </td>                                                             
                </tr>
              </tbody> 
            </table>
          </div>
        </div>
        <div class="col-xl-3 pl-5">
          <div id="mainTableWorkflow">
              <div id="e2e-settings-workflow-main-div-table">
                  <table class="table table-hover settingsTable" id="e2e-settings-workflow-headers-table">
                    <!-- Headers of the table -->
                    <colgroup id="e2e-settings-workflow-headers-table-colgroup">                  
                      <col width="20" id="e2e-settings-workflow-headers-table-col1">                      
                    </colgroup>
                    <thead class="settingsTableHeader" id="e2e-settings-workflow-headers-table-headers-thead">
                      <tr id="e2e-settings-workflow-headers-table-headers-tr">
                        <th scope="col" id="e2e-settings-workflow-headers-table-headers-th1">  
                          <span class="text" id="e2e-settings-workflow-headers-table-headers-th1">Workflow Step Library</span>                      
                        </th>                      
                      </tr>
                    </thead> 
                  </table>
              </div>
              <div id="tblContent" class="tblContent">
                <table class="table table-hover settingsTable" id="e2e-settings-workflow-table-main">
                  <!-- Headers of the table -->
                  <colgroup id="e2e-settings-workflow-table-main-colgroup">                  
                    <col width="5" id="e2e-settings-workflow-table-main-col1">                            
                  </colgroup>
                  <tbody #stepList="cdkDropList" cdkDropList
                    [cdkDropListData]="stageLibrary"
                    [cdkDropListConnectedTo]="[workflowStepList]" 
                    (cdkDropListDropped)="dropToStepLibrary($event)" 
                    class="settingsTableContent" 
                    id="e2e-settings-workflow-table-main-tbody">
                    <tr cdkDrag *ngFor="let stage of stageLibrary" id="e2e-settings-workflow-table-main-tbody {{stage.stageTemplateId}}">
                      <td class="step" id="name {{stage.stageTemplateId}}">  
                        {{stage.name}}                     
                      </td>
                      <div class="e2e-column-drag-preview" *cdkDragPreview>{{stage.name}}</div>                      
                    </tr>
                    <tr *ngIf="stageLibrary!== null && stageLibrary !== undefined && stageLibrary.length===0">
                      <td class="compass-no-stages-configured-td td-no-padding">
                        <div class="compass-no-stages-configured-flag">
                            No stages available in library
                        </div>
                      </td>
                    </tr>                     
                  </tbody> 
                </table>
              </div>
          </div> 
        </div>
        <div class="col-xl-3 pl-0">
          <div 
            cdkDropList #workflowStepList="cdkDropList"
            [cdkDropListData]="getWorkflowStageTemplates()"
            [cdkDropListConnectedTo]="[stepList]"  
            (cdkDropListDropped)="dropToWorkflowSteps($event)"  
            id="mainTableWorkflow">
              <div id="e2e-settings-workflow-main-div-table">
                <table class="table table-hover settingsTable" id="e2e-settings-workflow-headers-table">
                  <!-- Headers of the table -->
                  <colgroup id="e2e-settings-workflow-headers-table-colgroup">                  
                    <col width="5" id="e2e-settings-workflow-headers-table-col1">                                                     
                  </colgroup>
                  <thead class="settingsTableHeader" id="e2e-settings-workflow-headers-table-headers-thead">
                    <tr id="e2e-settings-workflow-headers-table-headers-tr">
                      <th scope="col" id="e2e-settings-workflow-headers-table-headers-th1">  
                        <span class="text" id="e2e-settings-workflow-headers-table-headers-th1">Workflow Step</span>                      
                      </th>                            
                    </tr>
                  </thead> 
                </table>
              </div>
              <div id="tblContent" class="tblContent">
                <table class="table table-hover settingsTable" id="e2e-settings-workflow-table-main">
                  <!-- Headers of the table -->
                  <colgroup id="e2e-settings-workflow-table-main-colgroup">                  
                    <col width="5" id="e2e-settings-workflow-table-main-col1">     
                  </colgroup>
                  <tbody  class="settingsTableContent" id="e2e-settings-workflow-table-main-tbody">
                    <tr cdkDrag class="e2e-workflow-step" *ngFor="let stage of getSortedWorkflowStages(selectedWorkflow)" id="e2e-settings-workflow-table-main-tbody {{stage.stageTemplateId}}">
                      <td scope="col" id="name {{stage.stageTemplateId}}">  
                        <span class="text" id="name text {{stage.stageTemplateId}}">
                          {{stage.name}}
                        </span>                      
                      </td>            
                      <div class="e2e-column-drag-preview" *cdkDragPreview>{{stage.name}}</div>         
                    </tr>
                    <tr *ngIf="getSortedWorkflowStages(selectedWorkflow) !== undefined && getSortedWorkflowStages(selectedWorkflow) !== null && getSortedWorkflowStages(selectedWorkflow).length === 0">
                      <td class="compass-no-stages-configured-td td-no-padding">
                        <div class="compass-no-stages-configured-flag">
                          Drag steps from the Workflow Step Library. Then drag and drop to reorder them.
                        </div> 
                      </td>
                    </tr>                     
                  </tbody> 
                </table>
                <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
                  <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-dialog" tabindex="-1" role="dialog">
                    <div class="alert-modal modal-dialog modal-xs">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-body">
                          <p class="alert-body-text">{{alertMessage}}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div> 
    </div>
  </div>
</div>
