<div id="e2e-settings-sla-spinner-div">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    id="e2e-settings-sla-spinner-element">
    <p style="font-size: 20px; color: white" id="e2e-settings-workflow-spinner-paragraph">Loading...</p>
  </ngx-spinner>
</div>
<div class="container removeScroll greyBackground pt-4">
  <div class="row p-4 ml-1 mr-1 greyBorder removeBottomBorder whiteBackground">
    <div class="col-2 workflow-settings-navbar-title mt-3">
        <div class="settingsTitle">
          {{displayLabel}}
        </div>
    </div>      
    <div class="col-2 workflow-settings-navbar-buttons mr-2">      
      <div class="tab">
        <button id="workflow-settings-workflow-list-tab-btn" class="tablinks workflowSettingsListImage buttonSettingsHeight" (click)="openTab('workflow-settings-workflow-list-tab')">
          <div style="overflow: hidden;" class="ml-5">
              Templates
            </div>
          </button>
      </div> 
    </div>
    <div class="col-2 workflow-settings-navbar-buttons mr-2">      
      <div class="tab">
        <button id="workflow-settings-workflow-stages-library-tab-btn" class="tablinks workflowSettingsStagesLibraryImage buttonSettingsHeight" (click)="openTab('workflow-settings-workflow-stages-library-tab')">
          <div style="overflow: hidden;" class="ml-5"> 
            Steps Library
          </div>
        </button>
      </div> 
    </div>
    <div class="col-2 workflow-settings-navbar-buttons">      
      <div class="tab">
        <button id="workflow-settings-workflow-configuration-tab-btn" class="tablinks workflowSettingsConfigurationImage buttonSettingsHeight" (click)="openTab('workflow-settings-workflow-configuration-tab')">
          <div style="overflow: hidden;" class="ml-5"> 
            Configuration
          </div>
        </button>
      </div> 
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row workflow-settings-tab ml-1 mr-1 greyBorder whiteBackground">
    <div class="col-12">
        <div>           
            <div class="tabcontent" id="workflow-settings-workflow-list-tab">
                <e2e-workflow-list>
                </e2e-workflow-list>
            </div>
            <div style="display: none" class="tabcontent" id="workflow-settings-workflow-stages-library-tab">
                <e2e-workflow-steps>
                </e2e-workflow-steps>
            </div>
            <div style="display: none" class="tabcontent" id="workflow-settings-workflow-configuration-tab">
                <e2e-workflow-configuration>         
                </e2e-workflow-configuration>
            </div>
          </div>
    </div>
  </div>
</div>
