// ################## Main ##################

.mainDiv {
    min-height: 88%;
    height: 88%;
    overflow: hidden;
}

.mainRow {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

.vesselVisitColumn {
    height: 100%;
    min-height: 100%;
}

// ################## Vessel visits ##################
.alert{
    text-align: center; 
}
table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0 !important;
}

.tbl-content{
    overflow-x: hidden;
    overflow-y: auto;    
    margin-top: 0px;
    margin-bottom: 10px;  
    height: 72vh;
}

.vesselTable {
    border-spacing: 0px 6px;
    border-collapse: separate;
}

.innerVesselContainer {
    display: inline-block; 
    height: 60px;
    padding-top: 16px;
    padding-left: 10px;
}

.lineShadowContainer {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.lineShadowContainer:hover{
    cursor: pointer;
}

.redFontE2EBold {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: red;
}

.greenFontBold {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7ac142;
}

.redFontE2E {
    font-size: 80%;
    font-weight: 400;
    color: red;
}

.columnsDropMargin {
    margin-top: 12px;
}

.zeroMarginsRow {
    margin-left: 0; 
    margin-right: 0;
}

// ################## Terminal notes ##################

.terminalNotesColumn {
    background-color: #bbbbbb;
    height: 100%;
    min-height: 100%;
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left; 
}

.terminalNotesTitle {
    font-size: 14px;
    color: #ffffff;
}

.plus-button {
    color: #ffffff !important;
}

.terminalNotesBox {
    min-height: 125px;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;    
    font-size: 12px;
    cursor: move;
}

.terminalNotesInput {
    width: 95%;
}

.terminalNotesButtons {
    margin-left: 75%;    
}

.terminalNotesDescription {
    color: #000000;
}

.terminalNotesBottom {
    margin-left: -6px;
    margin-top: 16px;
    color: #7f7d7f;
}

#tnListWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
    height:100%;     
}

#tnList {    
    overflow-x:hidden;
    overflow-y:auto;
}

.tnListHeight {
    height: 90% !important;
}

.newTerminalNote {
    text-align: right;
}

// ################## Search area ##################

.mat-chip.mat-standard-chip {
    background-color: #7ac142;
    color: white;
}

.dropdownPanel {
    margin-bottom: 0px !important;
    width: 168px;
}

.searchPannel {
    width: 100%;
}

.inputComboHeight {
    height: 32px;
}

.advancedSearchPanel {
    position: absolute;
    padding: 10px;
    left:66.2%;
    z-index: 99 !important;
    background-color:white;
    width: 335px;
    height: 435px;
    background-color: #f7f7f7;
    border: solid 1px #bbbbbb;
    margin-top: 55px !important;
}

.columnsVisibilityPanel {
    position: absolute;
    padding: 10px;
    left:91.8%;
    z-index: 99 !important;
    background-color:white;
    width: 186px;
    height: 448px;
    background-color: #f7f7f7;
    border: solid 1px #bbbbbb;
    margin-top: 53px !important;
}

.advancedSearchWidth {
    width:310px;
}

.advancedSearchForm {
    margin-bottom: 7px !important;
}

.advancedSearchForm input {
    height: auto !important;    
}

input[type="date"] {
    width: 100%;
}

input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

// ################## Double slider ##################

.customSliderSize {
    max-width: 31% !important;
    flex: 0 0 31% !important;
}



.e2e-column-drag-preview{
    border: 3px dashed #7AC142;
    color: black;
    padding: 10px;
    font-weight: bold;
    background-color: #f7f7f7;
    font-size: 14px;
}


::ng-deep {
    
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #f0f1f0;
      height: 2px;
    }

    .custom-slider .ng5-slider .ng5-slider-selection {
      background: #000;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 14px;
      height: 14px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color:#7ac142;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bar-wrapper {
        margin-top: -20px !important;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
      font-family: Helvetica;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.08;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      //font-weight: bold;
      color: #000;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #f0f1f0;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: #000;
    }

    .custom-slider .ng5-slider-pointer.ng5-slider-active {
      outline: none;
    }

    .historicSearchTpMrgn {
        margin-top: 10px;    
        margin-left: 0px;
        padding-right: 0px !important;        
    }
  }

