<div class="container-fluid mainDiv" id="e2e-vessel-visits-list-spinner div">
      <div id="e2e-vessel-visits-list-spinner div2">
            <ngx-spinner
                  id="e2e-vessel-visits-list-spinner element"
                  bdColor="rgba(51,51,51,0.8)"
                  size="medium"
                  color="#fff"
                  type="ball-scale-multiple">
                  <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
      </div>
      <div class="row mainRow" id="e2e-vessel-visits-list mainrow">
      <!-- Vessel visits -->
      <div class="col-9 vesselVisitColumn" id="e2e-vessel-visits-list mainrow vvcol">
      <div class="row pl-2 pr-2 mt-1" id="e2e-vessel-visits-list mainrow vvcolDiv">
            <form class="searchPannel" id="e2e-vessel-visits-list search panel form">                        
                  <div class="row" id="e2e-vessel-visits-list div search panel">
                        <div class="col-3 mt-0 custom-slider customSliderSize" id="e2e-vessel-visits-list div sarch panel2">
                              <ng5-slider class="pr-1" #timeSlider [(value)]="minDateValue" [(highValue)]="maxDateValue" [options]="getSliderOptions()" (userChangeEnd)="sliderChange()" id="e2e-vessel-visits-list slider1"></ng5-slider>
                        </div>
                        <div class = "col-4 mt-3 mr-0 p-0">
                              <div class = "pull-right">
                              <span class="d-inline-block mr-2 checkbox checkbox-primary" id="e2e-vessel-visits-list checkbarges filter-check div">                              
                                          <input [disabled]="getActiveSearchItems().length > 0" id="checkbox0" [(ngModel)]="showWorking" [ngModelOptions]="{standalone: true}" type="checkbox" checked="" style="display:none" (change)="checkChange()">
                                          <label for="checkbox0" id="e2e-vessel-visits-list checkbarges label">
                                                Working
                                          </label>
                              </span>
                              <span class="d-inline-block mr-2 checkbox checkbox-primary" id="e2e-vessel-visits-list checkbarges filter-check div">                              
                                          <input [disabled]="getActiveSearchItems().length > 0" id="checkbox1" [(ngModel)]="showBarges" [ngModelOptions]="{standalone: true}" type="checkbox" checked="" style="display:none" (change)="checkChange()">
                                          <label for="checkbox1" id="e2e-vessel-visits-list checkbarges label">
                                                Barges
                                          </label>
                              </span>
                              <span class="d-inline-block mr-2 checkbox checkbox-primary" id="e2e-vessel-visits-list checkdeep filter-check div"> 
                                          <input [disabled]="getActiveSearchItems().length > 0" enabled="false" id="checkbox2" [(ngModel)]="showDeepseas" [ngModelOptions]="{standalone: true}" type="checkbox" checked="" style="display:none" (change)="checkChange()">
                                          <label for="checkbox2" id="e2e-vessel-visits-list checkdeep label">
                                                Deepsea
                                          </label>
                              </span>
                              <span class="d-inline-block checkbox checkbox-primary" id="e2e-vessel-visits-list checkfeeders filter-check div"> 
                                          <input [disabled]="getActiveSearchItems().length > 0" id="checkbox3" [(ngModel)]="showFeeders" [ngModelOptions]="{standalone: true}" type="checkbox" checked="" style="display:none" (change)="checkChange()">
                                          <label for="checkbox3" id="e2e-vessel-visits-list checkfeeders label">
                                                Feeders
                                          </label>                                                                                 
                              </span>
                              </div>
                        </div>
                        <div class="col-3 ml-3 pl-0 historicSearchTpMrgn" id="e2e-vessel-visits-list historic">
                              <div class="input-group mb-2" id="e2e-vessel-visits-list historic div">
                                    <input #instantSearch [disabled]="getActiveSearchItems().length > 0" placeholder="SearchTerm1, SearchTerm2" class="form-control Fill-5 defaultFontVesselList inputSearchBar" name="searchInput" type="search" placeholder="Search dashboard" aria-label="Search" (keyup)="search($event)" id="e2e-vessel-visits-list as input search">
                                    <div class="input-group-append" (click)="changeSearchValue()" #advancedSearchButton id="e2e-vessel-visits-list as input div">
                                          <span class="input-group-text" id="basic-addon2" id="e2e-vessel-visits-list as input text"><i class="fas fa-caret-down" id="e2e-vessel-visits-list as input icon"></i></span>
                                    </div>
                              </div>                                                            
                        </div>                        
                        <div class="col-1 dropdown columnsDropMargin ml-2" id="e2e-vessel-visits-list columns adjustement">
                              <button class="btn btn-secondary dropdown-toggle" #columnsVisibilityButton (click)="visibilityColsClick()" type="button" id="e2e-vessel-visits-list columns dropdown button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-columns mr-2 ml-1" id="e2e-vessel-visits-list column selection icon"></i>                         
                              </button>                                                            
                        </div>                                                       
                  </div>                    
            </form> 
            <div *ngIf="showColumnsVPanel" class="columnsVisibilityPanel" #columnsVisibilityPanel id="e2e-vessel-visits-list cvpanel">
                  <div class="row pl-3">
                        <ul class="checkbox checkbox-primary p-2 dropdownPanel">
                              <li *ngFor="let column of columns" class="ml-3">                                          
                                    <input id="checkboxCols{{column.columnDescId}}" [(ngModel)]="column.columnDescShow" [ngModelOptions]="{standalone: true}" type="checkbox" checked="" style="display:none" (change)="checkColsChange()">
                                    <label for="checkboxCols{{column.columnDescId}}" id="e2e-vessel-visits-list checkbox cols {{column.columnDescId}}">
                                          {{column.columnDescName}}
                                    </label>
                              </li>                                    
                        </ul>  
                  </div>                  
            </div>
            <div *ngIf="showAdvancedSearch" class="advancedSearchPanel" #advancedSearchPanel id="e2e-vessel-visits-list aspanel">                        
                  <form class="advancedSearchWidth" id="e2e-vessel-visits-list aspanel form" novalidate>
                        <div class="form-group" id="e2e-vessel-visits-list aspanel div1">
                              <div class="row ml-1 mb-2" id="e2e-vessel-visits-list aspanel div2">
                                    Advanced search
                              </div>                                                                                                                           
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div3">
                                    <div class="form-col advancedSearchForm" id="e2e-vessel-visits-list aspanel div4">    
                                          <input #startDate [value]="searchTerms[6].value" type="date" name="date" class="form-control defaultFontForm" data-placeholder="Start date" required aria-required="true" id="e2e-vessel-visits-list aspanel div4 input"/>                                                                                
                                    </div>
                              </div>                              
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div5">
                                    <div class="form-col advancedSearchForm" id="e2e-vessel-visits-list aspanel div6">                                          
                                          <input #endDate [value]="searchTerms[7].value" type="date" name="date" class="form-control defaultFontForm" data-placeholder="End date" required aria-required="true" id="e2e-vessel-visits-list aspanel div6 input"/>                                                                                
                                    </div>
                              </div>

                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div10">
                                    <input #vesselVisitName [value]="searchTerms[8].value" type="text" class="form-control defaultFontForm" placeholder="Vessel visit id" id="e2e-vessel-visits-list aspanel div10 input">
                              </div>                             
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div7">
                                    <input #vesselName [value]="searchTerms[0].value" type="text" class="form-control defaultFontForm" placeholder="Vessel name" id="e2e-vessel-visits-list aspanel div7 input">
                              </div>
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div8">
                                    <input #line [value]="searchTerms[2].value" type="text" class="form-control defaultFontForm" placeholder="Line" id="e2e-vessel-visits-list aspanel div8 input">
                              </div>
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div9">
                                    <select #classification [value]="searchTerms[1].value" class="form-control defaultFontForm inputComboHeight" placeholder="Classification" id="e2e-vessel-visits-list aspanel div9 select" (keydown)="enterSearchClick($event)">
                                          <option value="" selected disabled hidden>Classification</option>
                                          <option>DEEPSEA</option>
                                          <option>BARGE</option>
                                          <option>FEEDER</option>                                          
                                    </select>                                    
                              </div>
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div10">
                                    <select #phase [value]="searchTerms[3].value" class="form-control defaultFontForm inputComboHeight" title="Visit Phase" id="e2e-vessel-visits-list aspanel div10 select" (keydown)="enterSearchClick($event)">                                          
                                          <option value="" selected disabled hidden>Visit Phase</option>
                                          <option>CREATED</option>
                                          <option>INBOUND</option>
                                          <option>ARRIVED</option>
                                          <option>WORKING</option>
                                          <option>COMPLETED</option>
                                          <option>DEPARTED</option>
                                          <option>CLOSED</option>
                                          <option>ARCHIVED</option>
                                    </select>
                              </div>
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div11">
                                    <input #service [value]="searchTerms[4].value" type="text" class="form-control defaultFontForm" placeholder="Service" id="e2e-vessel-visits-list aspanel div11 input">
                              </div>
                              <div class="form-group advancedSearchForm" id="e2e-vessel-visits-list aspanel div12">
                                    <input #facility [value]="searchTerms[5].value" type="text" class="form-control defaultFontForm" placeholder="Facility" id="e2e-vessel-visits-list aspanel div12 input">
                              </div>
                              <div class="row" id="e2e-vessel-visits-list aspanel div 13">
                                    <div class="col-3" id="e2e-vessel-visits-list aspanel div16">
                                          <button type="submit" class="btn btn-primary defaultFontForm" (click)="searchClick()" id="e2e-vessel-visits-list aspanel searchButton">Search</button>
                                    </div>
                                    <div class="col-2" id="e2e-vessel-visits-list aspanel div15"></div>
                                    <div class="col-3 ml-3" id="e2e-vessel-visits-list aspanel div14">
                                          <button class="btn btn-outline-secondary defaultFontForm" (click)="resetClick()" id="e2e-vessel-visits-list aspanel resetButton">Reset</button>
                                    </div>
                                    <div class="col-3" id="e2e-vessel-visits-list aspanel div17">
                                          <button class="btn btn-outline-secondary defaultFontForm" (click)="cancelClick()" id="e2e-vessel-visits-list aspanel cancelButton">Cancel</button>
                                    </div>
                              </div>
                        </div>
                  </form>                                                                              
            </div>
      </div>
      <div class="row m-2 text-right">
            <mat-chip-list #chipList class="chip-list noHover" id="advanced search chiplist">
                  <mat-chip id="chip {{searchTerm.id}}" *ngFor="let searchTerm of getActiveSearchItems()" selectable="true" removable="true" editable="true" sortable="true" class="chipTableContent" contentEditable="false">                    
                        {{searchTerm.chipName}} {{searchTerm.value}}
                        <button id="searchItem closebutton {{searchTerm.id}}" [style.display]="'block'" class="icon-button" (click)="removeSearchTerm(searchTerm)">
                              <i class="fas fa-times" id="searchItem closebutton icon {{searchTerm.id}}"></i>                                 
                        </button>                
                  </mat-chip>
                  <mat-chip id="close chip" *ngIf="getActiveSearchItems().length > 0" selectable="true" removable="true" editable="true" sortable="true" class="chipTableContent" contentEditable="false">                    
                        Clear all
                        <button id="searchItem closebutton closeall" [style.display]="'block'" class="icon-button" (click)="resetClick()">
                              <i class="fas fa-times" id="searchItem closebutton icon closeall"></i>                                 
                        </button>                
                  </mat-chip>
            </mat-chip-list>       
      </div>
      <div class="row pl-2 pr-2 mt-1" id="e2e-vessel-visits-list mainDivTable">
         <div class="tbl-main" id="e2e-vessel-visits-list mainDivTable2">                           
            <div id="e2e-vessel-visits-list mainDivTable3">
              <table class="table table-hover xvHeader vesselTable" id="e2e-vessel-visits-list tableh">
                    <!-- Headers of the table -->
                    <colgroup id="e2e-vessel-visits-list tableh colgroup">      
                        <ng-container *ngFor="let column of columns">
                              <col *ngIf="column.columnDescShow && column.columnDescName=='Vessel Visit Phase'" width="6" id="e2e-vessel-visits-list tableh col{{column.columnDescId}}">
                              <col *ngIf="column.columnDescShow && column.columnDescName=='Vessel Visit'" width="180" id="e2e-vessel-visits-list tableh col{{column.columnDescId}}">
                              <col *ngIf="column.columnDescShow && column.columnDescName!=='Vessel Visit' && column.columnDescName!=='Vessel Visit Phase'" width="40" id="e2e-vessel-visits-list tableh col{{column.columnDescId}}">                             
                        </ng-container>            
                    </colgroup>
                    <thead id="e2e-vessel-visits-list tableh thead">
                          <tr cdkDropList (cdkDropListDropped)="reorderColumns($event)" cdkDropListOrientation="horizontal" id="e2e-vessel-visits-list tableh tr">
                              <ng-container *ngFor="let column of columns" >
                                    <th cdkDragLockAxis="x" cdkDrag *ngIf="column.columnDescShow" scope="col" class="titleContainerHeader iconHeaderCentered" id="e2e-vessel-visits-list tableh th{{column.columnDescId}}">  
                                          <span *ngIf="column.columnDescName=='Vessel Visit Phase'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"></span>     
                                          <span *ngIf="column.columnDescName=='Vessel Visit'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}({{vvListDTO.length}})</span>     
                                          <span *ngIf="column.columnDescName=='ETA/ATA Berth'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                          <span *ngIf="column.columnDescName=='ETD Berth'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                          <span *ngIf="column.columnDescName=='ETC'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                          <span *ngIf="column.columnDescName=='Service'" title="{{column.columnDescName}}"  class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>     
                                          <span *ngIf="column.columnDescName=='Alarms'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Bell.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Discharge Count'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Upload.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Load Count'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Download.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Restow'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/restow.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Crane Intensity'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/CraneI.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Vessel Notes'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Ship.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Workflow Progress'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Confirm.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Dsch Count Completion'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/ArrowUp.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Load Count Completion'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/ArrowDown.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Count Completion'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text"><img src="./assets/images/dashboard/Arrows.png" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} img"></span>                                                                      
                                          <span *ngIf="column.columnDescName=='Berthing'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                      
                                          <span *ngIf="column.columnDescName=='Facility'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                                                                
                                          <span *ngIf="column.columnDescName=='Workflow'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                                                                
                                          <span *ngIf="column.columnDescName=='SLA'" title="{{column.columnDescName}}" class="text" id="e2e-vessel-visits-list tableh th{{column.columnDescId}} text">{{column.columnDescName}}</span>                                                                                                                
                                          <div class="e2e-column-drag-preview" *cdkDragPreview>{{column.columnDescName}}</div>                    
                                    </th>
                              </ng-container>                                
                          </tr>
                    </thead> 
              </table>
        </div>
        <div *ngIf="vvListDTO.length===0" class="alert alert-success"><span><strong> No Vessel visits </strong> to show for the specified criteria!. </span></div> 
        <div class="tbl-content" id="e2e-vessel-visits-list maindivtable content">
              <table class="table table-hover xvHeader vesselTable" id="e2e-vessel-visits-list maintable">    
                  <colgroup id="e2e-vessel-visits-list maintable colgroup">                  
                        <ng-container *ngFor="let column of columns">
                              <col *ngIf="column.columnDescShow && column.columnDescName==='Vessel Visit Phase'" width="6*" id="e2e-vessel-visits-list maintable col{{column.columnDescId}}">
                              <col *ngIf="column.columnDescShow && column.columnDescName==='Vessel Visit'" width="180" id="e2e-vessel-visits-list maintable col{{column.columnDescId}}">
                              <col *ngIf="column.columnDescShow && column.columnDescName!=='Vessel Visit' && column.columnDescName!=='Vessel Visit Phase'" width="40" id="e2e-vessel-visits-list maintable col{{column.columnDescId}}">                                   
                        </ng-container>                           
                  </colgroup> 
                  <!-- Content of the table -->                 
                  <tbody class="defaultFontVesselList" id="e2e-vessel-visits-list maintable tbody">                                                           
                        <tr *ngFor="let vvDTO of vvListDTO" (click) ="navigateToDetailsPage(vvDTO)" class="lineContainer lineShadowContainer" id="e2e-vessel-visits-list maintable tr {{vvDTO.vesselVisitId}}">
                              <ng-container *ngFor="let column of columns">
                                    <td title = "{{vvDTO.phase}}" *ngIf="column.columnDescShow && column.columnDescName=='Vessel Visit Phase' " class="lineContainer" [ngStyle]="{'background':getColorPhase(vvDTO.phase)}" id="e2e-vessel-visits-list maintable td1 {{vvDTO.vesselVisitId}}">
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Vessel Visit'" class="iconCellCentered vesselContainerWidth" id="e2e-vessel-visits-list maintable td2 {{vvDTO.vesselVisitId}}">
                                          <div class="row zeroMarginsRow" id="e2e-vessel-visits-list maintable td2 row {{vvDTO.vesselVisitId}}">  
                                                <div class="col-3 operatorBox" id="e2e-vessel-visits-list maintable td2 div {{vvDTO.vesselVisitId}}">
                                                      <img class="operatorIcon" *ngIf="getOperatorPicture(vvDTO.operator)!==''" [src]="getOperatorPicture(vvDTO.operator)" id="e2e-vessel-visits-list maintable td2 img {{vvDTO.vesselVisitId}}"/>
                                                      <span class="operatorIcon" *ngIf="getOperatorPicture(vvDTO.operator)===''" id="e2e-vessel-visits-list maintable td2 text {{vvDTO.vesselVisitId}}">
                                                            {{vvDTO.operator | slice:0:6}}
                                                      </span>
                                                </div>
                                                <div class="col-9" id="e2e-vessel-visits-list maintable td2 div2 {{vvDTO.vesselVisitId}}">
                                                      <div [ngClass]="getVesselBackgroundClass(vvDTO)" id="e2e-vessel-visits-list maintable td2 div3 {{vvDTO.vesselVisitId}}">       
                                                            <div class="outerVesselContainer" id="e2e-vessel-visits-list maintable td2 div4 {{vvDTO.vesselVisitId}}">
                                                                  <div class="innerVesselContainer" id="e2e-vessel-visits-list maintable td2 div5 {{vvDTO.vesselVisitId}}">
                                                                        <p *ngIf="vvDTO.vesselVisitName != null" [ngClass]="vvDTO.workflowTmpId ? 'greenFontBold':''" class="innerVesselContainerTitle" id="e2e-vessel-visits-list maintable td2 p1 {{vvDTO.vesselVisitId}}">{{vvDTO.vesselVisitName.substr(0,15)}}</p>
                                                                        <p *ngIf="vvDTO.vesselName != null" class="innerVesselContainerSubtitle" id="e2e-vessel-visits-list maintable td2 p2 {{vvDTO.vesselVisitId}}">{{vvDTO.vesselName.substr(0,17)}}</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>                        
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='ETA/ATA Berth'" class="iconCellCentered scheduleColumn " id="e2e-vessel-visits-list maintable td3 {{vvDTO.vesselVisitId}}">
                                          <div *ngIf='vvDTO.phase === "CREATED" || vvDTO.phase === "INBOUND"' id="e2e-vessel-visits-list maintable td3 div1 {{vvDTO.vesselVisitId}}">
                                                <div id="e2e-vessel-visits-list maintable td3 diveta {{vvDTO.vesselVisitId}}">
                                                      ETA
                                                </div>
                                                <span class="boldFontVesselList"  id="e2e-vessel-visits-list maintable td3 eta text {{vvDTO.vesselVisitId}}">{{vvDTO.eta | date: 'HH:mm'}}</span>
                                                <div class="small subtext" id="e2e-vessel-visits-list maintable td3 eta smalltext {{vvDTO.vesselVisitId}}">
                                                      {{vvDTO.eta | date: 'dd/MM'}}
                                                </div> 
                                          </div>
                                          <div *ngIf='vvDTO.phase === "OUTBOUND" || vvDTO.phase === "WORKING" || vvDTO.phase === "ARRIVED" ||  vvDTO.phase === "COMPLETE"' id="e2e-vessel-visits-list maintable td3 ata {{vvDTO.vesselVisitId}}">
                                                <div id="e2e-vessel-visits-list maintable td3 ata div1 {{vvDTO.vesselVisitId}}">
                                                      ATA
                                                </div>
                                                <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td3 ata text {{vvDTO.vesselVisitId}}">{{vvDTO.ata | date: 'HH:mm'}}</span>
                                                <div class="small subtext" id="e2e-vessel-visits-list maintable td3 ata subtext {{vvDTO.vesselVisitId}}">
                                                      {{vvDTO.ata | date: 'dd/MM'}}
                                                </div>
                                          </div>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='ETD Berth'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td4 {{vvDTO.vesselVisitId}}">
                                          <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td4 text {{vvDTO.vesselVisitId}}">{{vvDTO.etd | date: 'HH:mm'}}</span>
                                          <div class="small subtext" id="e2e-vessel-visits-list maintable td4 div {{vvDTO.vesselVisitId}}">
                                                {{vvDTO.etd | date: 'dd/MM'}}
                                          </div>
                                    </td>                  
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='ETC'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td5 {{vvDTO.vesselVisitId}}">
                                          <span [ngClass]="vvDTO.etc > vvDTO.etd ? 'redFontE2EBold' : 'boldFontVesselList'" id="e2e-vessel-visits-list maintable td5 text {{vvDTO.vesselVisitId}}">{{vvDTO.etc | date: 'HH:mm'}}</span>                                      
                                          <div [ngClass]="vvDTO.etc > vvDTO.etd ? 'redFontE2E' : 'small subtext'" id="e2e-vessel-visits-list maintable td5 div {{vvDTO.vesselVisitId}}">
                                                {{vvDTO.etc | date: 'dd/MM'}}
                                          </div>
                                          <div [ngClass]="vvDTO.etc > vvDTO.etd ? 'redFontE2E' : 'small subtext'" id="e2e-vessel-visits-list maintable td5 div2 {{vvDTO.vesselVisitId}}">
                                                {{vvDTO.longestHookName}} - {{vvDTO.longestHookCount}}
                                          </div>
                                    </td>                  
                                    <td style = " overflow-wrap: break-word;" *ngIf="column.columnDescShow && column.columnDescName=='Service'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td6 {{vvDTO.vesselVisitId}}">                                      
                                          <span [ngClass]="vvDTO.slaName !== undefined && vvDTO.slaName !== null && vvDTO.slaName !== '' ? 'greenFontVesselList' : 'boldFontVesselList'" id="e2e-vessel-visits-list maintable td6 text {{vvDTO.vesselVisitId}}">                                    
                                                {{vvDTO.service}}
                                          </span>
                                          <div id="e2e-vessel-visits-list maintable td6 div{{vvDTO.vesselVisitId}}">
                                                In {{vvDTO.inVoy}} - Out {{vvDTO.outVoy}}
                                          </div>
                                    </td>
                                    <td title="{{vvDTO.expiredStagesName}}" *ngIf="column.columnDescShow && column.columnDescName=='Alarms'" class="iconCellCentered" id="e2e-vessel-visits-list maintable td7 {{vvDTO.vesselVisitId}}">
                                          <circle-progress
                                                id="e2e-vessel-visits-list maintable td7 circle {{vvDTO.vesselVisitId}}"
                                                [title] = "vvDTO.expiredStages"                                                            
                                                [percent] = "100"
                                                [radius] = "15"
                                                [responsive] = "false"
                                                [outerStrokeWidth] = "4"                              
                                                [outerStrokeColor] = "vvDTO.expiredStages === 0 ? '#dddee0' : '#ff0000'"  
                                                [outerStrokeLinecap] = "'square'"
                                                [showBackground] = "true"
                                                [backgroundColor] = "vvDTO.expiredStages === 0 ? '#dddee0' : '#ff0000'"
                                                [backgroundPadding] = "0"                              
                                                [showInnerStroke] = "false"
                                                [showSubtitle] = "false"                              
                                                [showUnits] = "false"
                                                [titleFontSize] = 12
                                                [titleColor] = "'#fff'"
                                                [animation] = "false"
                                          ></circle-progress>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Discharge Count'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td8 {{vvDTO.vesselVisitId}}">
                                          <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td8 text {{vvDTO.vesselVisitId}}">{{vvDTO.dischMoves}}</span>
                                          <div id="e2e-vessel-visits-list maintable td8 div {{vvDTO.vesselVisitId}}">
                                                (<span *ngIf="vvDTO.dischMovesEst !== undefined" id="e2e-vessel-visits-list maintable td8 text1 {{vvDTO.vesselVisitId}}">{{vvDTO.dischMovesEst}}</span>
                                                <span *ngIf="vvDTO.dischMovesEst === undefined && vvDTO.existingSlaContract === true" class="greenFontVesselList" id="e2e-vessel-visits-list maintable td8 text2 {{vvDTO.vesselVisitId}}">{{vvDTO.dischMovesSla}}</span>)
                                          </div>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Load Count'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td9 {{vvDTO.vesselVisitId}}">
                                          <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td9 text {{vvDTO.vesselVisitId}}">{{vvDTO.loadMoves}}</span>
                                          <div>
                                                (<span *ngIf="vvDTO.loadMovesEst !== undefined" id="e2e-vessel-visits-list maintable td9 text1 {{vvDTO.vesselVisitId}}">{{vvDTO.loadMovesEst}}</span>
                                                <span *ngIf="vvDTO.loadMovesEst === undefined && vvDTO.existingSlaContract === true" class="greenFontVesselList" id="e2e-vessel-visits-list maintable td11 text2 {{vvDTO.vesselVisitId}}">{{vvDTO.loadMovesSla}}</span>)
                                          </div>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Restow'" align="middle" class="iconCellCentered" class="iconCellCentered" id="e2e-vessel-visits-list maintable td10 {{vvDTO.vesselVisitId}}">
                                          <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td10 text {{vvDTO.vesselVisitId}}">{{vvDTO.unitsRestow}}</span>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Crane Intensity'" align="middle" class="iconCellCentered" class="iconCellCentered" id="e2e-vessel-visits-list maintable td11 {{vvDTO.vesselVisitId}}">
                                          <span class="boldFontVesselList" id="e2e-vessel-visits-list maintable td11 text {{vvDTO.vesselVisitId}}">{{vvDTO.craneIntensity | number : '1.1-1'}}</span>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Vessel Notes'" scope="col" align="middle" id="e2e-vessel-visits-list maintable td11-1 {{vvDTO.vesselVisitId}}" class="iconCellCentered">
                                          <div  *ngIf="vvDTO.vesselNotesCount > 0">
                                                <i class="fas fa-circle" id="e2e-vessel-visits-list maintable td11-1-icon {{vvDTO.vesselVisitId}}"></i>                         
                                          </div>                                    
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Workflow Progress'" scope="col" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td12 {{vvDTO.vesselVisitId}}">                        
                                          <circle-progress 
                                                id="e2e-vessel-visits-list maintable td12 circle {{vvDTO.vesselVisitId}}"
                                                [title] = "vvDTO.completedStages + ' / ' + vvDTO.totalStagesCount"                                                            
                                                [percent] = "(vvDTO.completedStages*100)/vvDTO.totalStagesCount"
                                                [radius] = "24"
                                                [responsive] = "false"
                                                [outerStrokeWidth] = "4"                              
                                                [outerStrokeColor] = "'#7ac142'"  
                                                [outerStrokeLinecap] = "'square'"
                                                [showBackground] = "true"                                            
                                                [backgroundColor] = "'#e7e7e7'"
                                                [backgroundPadding] = "0"                              
                                                [showInnerStroke] = "false"
                                                [showSubtitle] = "false"                              
                                                [showUnits] = "false"
                                                [titleFontSize] = 12
                                                [animation] = "false"
                                          ></circle-progress>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Dsch Count Completion'" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td13 {{vvDTO.vesselVisitId}}">
                                          <circle-progress
                                                id="e2e-vessel-visits-list maintable td13 circle {{vvDTO.vesselVisitId}}"
                                                [title] = "calculateDschTitleMoves(vvDTO)"                                                     
                                                [subtitle] = "calculateDschSubtitleMoves(vvDTO)"
                                                [percent] = "calculateDschPercentMoves(vvDTO)"
                                                [radius] = "24"
                                                [responsive] = "false"
                                                [outerStrokeWidth] = "4"                              
                                                [outerStrokeColor] = "'#15abec'"
                                                [outerStrokeLinecap] = "'square'"
                                                [showBackground] = "true"
                                                [backgroundColor] = "'#e7e7e7'"
                                                [backgroundPadding] = "0"
                                                [showInnerStroke] = "false"
                                                [showSubtitle] = "true"                              
                                                [showUnits] = "false"
                                                [titleFontSize] = 12
                                                [subtitleFontSize] = 12
                                                [animation] = "false"
                                          ></circle-progress>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Load Count Completion'" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td14 {{vvDTO.vesselVisitId}}">
                                          <circle-progress
                                                id="e2e-vessel-visits-list maintable td14 circle {{vvDTO.vesselVisitId}}"
                                                [title] = "calculateLoadTitleMoves(vvDTO)"                                                     
                                                [subtitle] = "calculateLoadSubtitleMoves(vvDTO)"
                                                [percent] = "calculateLoadPercentMoves(vvDTO)"
                                                [radius] = "24"
                                                [responsive] = "false"
                                                [outerStrokeWidth] = "4"                              
                                                [outerStrokeColor] = "'#15abec'"
                                                [outerStrokeLinecap] = "'square'"
                                                [showBackground] = "true"
                                                [backgroundColor] = "'#e7e7e7'"
                                                [backgroundPadding] = "0"
                                                [showInnerStroke] = "false"
                                                [showSubtitle] = "true"                              
                                                [showUnits] = "false"
                                                [titleFontSize] = 12
                                                [subtitleFontSize] = 12
                                                [animation] = "false"
                                          ></circle-progress>
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Count Completion'" align="middle" class="iconCellCentered circularChartContainer" id="e2e-vessel-visits-list maintable td15 {{vvDTO.vesselVisitId}}">
                                    <circle-progress
                                          id="e2e-vessel-visits-list maintable td15 circle {{vvDTO.vesselVisitId}}"
                                          [title] = "calculateTitleMoves(vvDTO)"                                                     
                                          [subtitle] = "calculateSubtitleMoves(vvDTO)"
                                          [percent] = "calculatePercentMoves(vvDTO)"
                                          [radius] = "24"
                                          [responsive] = "false"
                                          [outerStrokeWidth] = "4"                              
                                          [outerStrokeColor] = "'#15abec'"
                                          [outerStrokeLinecap] = "'square'"
                                          [showBackground] = "true"
                                          [backgroundColor] = "'#e7e7e7'"
                                          [backgroundPadding] = "0"
                                          [showInnerStroke] = "false"
                                          [showSubtitle] = "true"                              
                                          [showUnits] = "false"
                                          [titleFontSize] = 12
                                          [subtitleFontSize] = 12
                                          [animation] = "false"
                                    ></circle-progress>
                                    </td>    
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Berthing'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td16 {{vvDTO.vesselVisitId}}">
                                          <div id="e2e-vessel-visits-list maintable td16 {{vvDTO.vesselVisitId}} one">
                                                      {{vvDTO.bollardAft}} - {{vvDTO.bollardFore}}
                                          </div>
                                          <div id="e2e-vessel-visits-list maintable td16 {{vvDTO.vesselVisitId}} two">
                                                      {{vvDTO.quayId}}
                                          </div>                      
                                    </td>
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Facility'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td17 {{vvDTO.vesselVisitId}}">
                                          {{vvDTO.facility}}
                                    </td> 
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='Workflow'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td18 {{vvDTO.vesselVisitId}}">
                                          {{vvDTO.workflowTmpName}}
                                    </td> 
                                    <td *ngIf="column.columnDescShow && column.columnDescName=='SLA'" align="middle" class="iconCellCentered" id="e2e-vessel-visits-list maintable td18 {{vvDTO.vesselVisitId}}">
                                          {{vvDTO.slaName}}
                                    </td>
                              </ng-container>                                                                                  
                        </tr>
                        <!-- <div class="e2e-no-vessel-visits-present-flag" *ngIf="vvListDTO.length===0"> <span class="e2e-no-vessel-visits-present-flag text">No Vessel Visits to show for the specified criteria!</span> </div> -->                
                  </tbody>
              </table> 
        </div>

      </div>                 
  </div>
    </div>
    <!-- Terminal notes -->
    <div class="col-3 terminalNotesColumn" id="e2e-vessel-visits-list tn div">
      <div class="row terminalNotesTitle mt-2 mb-2" id="e2e-vessel-visits-list tn div2">
        <div class="col-8 ml-2 mt-2" id="e2e-vessel-visits-list tn div3">
          <span id="e2e-vessel-visits-list tn div3 text">Terminal notes</span>
        </div>
        <div class="col-3 ml-4 newTerminalNote" id="e2e-vessel-visits-list tn div4">
          <button class="icon-button plus-button" disableRipple (click)="addTerminalNote()" id="e2e-vessel-visits-list tn div4 button">
            <i class="fas fa-plus m-2" id="e2e-vessel-visits-list tn div4 icon"></i>
          </button>
        </div>
      </div>
      <div id="tnListWrapper">
        <div cdkDropList id="tnList" (cdkDropListDropped)="drop($event)" class="tnListHeight">                           
          <div  cdkDrag cdkDragLockAxis="y"  *ngFor="let terminalNote of terminalNotes" class="mb-3 ml-1 mr-2 pt-3 terminalNotesBox pb-2" id="e2e-vessel-visits-list tn div  {{terminalNote.noteId}}">
            <div id="tnReadButtons {{terminalNote.noteId}}" class="row terminalNotesButtons mb-2" style="display:block;">                        
              <button class="icon-button mr-3" disableRipple (click)="editTerminalNote(terminalNote)" id="editTerminalNote {{terminalNote.noteId}}">
                <i class="fas fa-pencil-alt" id="editTerminalNote {{terminalNote.noteId}} icon"></i>
              </button>
              <button class="icon-button" disableRipple (click)="removeTerminalNote(terminalNote)" id="removeTerminalNote {{terminalNote.noteId}}">
                <i class="fas fa-trash-alt" id="removeTerminalNote {{terminalNote.noteId}} icon"></i>              
              </button>  
              <div [ngStyle]="{'display': showConfirm}" class="alert-backdrop">
                  <div  [ngStyle]="{'display': showConfirm}"  class="modal" id="e2e-confirm-remove-terminal-note-modal" role="dialog">
                    <div class="alert-modal modal-dialog modal-xs">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p class="alert-body-text">{{confirmMessage}}</p>
                          <p class="font-weight-bold">Do you want to proceed ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn alert-yes-button-text" (click) = "confirmCallback()" id="e2e-alert-dialog-yes-button" data-dismiss="modal">Yes</button>
                          <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" (click) = "showConfirm = showConfirm=='block'? 'none' : 'block'">No</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                     
            </div>
            <div id="tnEditButtons {{terminalNote.noteId}}" class="row terminalNotesButtons mb-2" style="display:none;">                        
              <button class="icon-button mr-3" (click)="saveTerminalNote(terminalNote)" id="saveTerminalNote {{terminalNote.noteId}}">
                <i class="fas fa-save" id="saveTerminalNote {{terminalNote.noteId}} icon"></i>   
              </button>
              <button class="icon-button" (click)="cancelTerminalNote(terminalNote)" id="cancelTerminalNote {{terminalNote.noteId}}">
                <i class="fas fa-times" id="cancelTerminalNote {{terminalNote.noteId}} icon"></i>           
              </button>                        
            </div>
            <div id="tnCommentsInput {{terminalNote.noteId}}" class="row terminalNotesDescription ml-2 mr-2 pt-2" style="display:none;">
                  <input id="tnInput {{terminalNote.noteId}}" value="{{terminalNote.textMessage}}" size="30" class="tnCommentsInput terminalNotesInput">                              
            </div>
            <div id="tnCommentsValue {{terminalNote.noteId}}" class="row terminalNotesDescription ml-2 mr-2 pt-2" style="display:block;">
                  <span class="boldFontE2E" id="tnCommentsValue {{terminalNote.noteId}} text">{{terminalNote.textMessage}}</span>
            </div>
            <div class="row terminalNotesBottom" id="tnusernamedate {{terminalNote.noteId}}">
              <div class="col-7" id="tnusernamedate {{terminalNote.noteId}} username">
                {{terminalNote.username}}
              </div>
              <div class="col-5" id="tnusernamedate {{terminalNote.noteId}} date">
                {{terminalNote.date | date: 'HH:mm dd/MM/yyyy'}}
              </div>
            </div>
          </div>
        </div>  
      </div>      
    </div>
  </div>
</div>
