<div class="mainContainerDiv" id="e2e-settings-sla-main-div">  
    <div class="tableContainerDiv m-4" id="e2e-settings-sla-main-table">    
      <div id="e2e-settings-sla-spinner-div">
        <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
          id="e2e-settings-sla-spinner-element">
          <p style="font-size: 20px; color: white" id="e2e-settings-sla-spinner-paragraph">Loading...</p>
        </ngx-spinner>
      </div>
      <div class="m-4" id="e2e-settings-sla-div-header">
        <div class="row mt-3 mb-3">
          <div class="col-11">
            SLA Carrier Settings
          </div>
          <div class="col-1">          
          </div>
        </div>
        <div id="mainTableSlaSettings">
          <div id="e2e-settings-sla-div-main-table-settings-two">
            <table class="table table-hover settingsTable" id="e2e-settings-sla-headers-table">
              <!-- Headers of the table -->
              <colgroup id="e2e-settings-sla-colgroup-group">
                <col width="20" id="e2e-settings-sla-colgroup-one">                
                <col width="20" id="e2e-settings-sla-colgroup-two">
                <col width="17" id="e2e-settings-sla-colgroup-three">
                <col width="17" id="e2e-settings-sla-colgroup-four">
                <col width="9" id="e2e-settings-sla-colgroup-five">
                <col width="9" id="e2e-settings-sla-colgroup-six">
                <col width="9" id="e2e-settings-sla-colgroup-seven">
                <col width="9" id="e2e-settings-sla-colgroup-eight">
                <col width="9" id="e2e-settings-sla-colgroup-nine">
                <col width="21" id="e2e-settings-sla-colgroup-ten">                                  
                <col width="9" id="e2e-settings-sla-colgroup-eleven">
                <col width="9" id="e2e-settings-sla-colgroup-twelve">
                <col width="9" id="e2e-settings-sla-colgroup-thirteen">
                <col width="17" id="e2e-settings-sla-colgroup-fourteen">
                <col width="17" id="e2e-settings-sla-colgroup-fifteen">
                <col width="14" id="e2e-settings-sla-colgroup-sixteen">
              </colgroup>
              <thead class="settingsTableHeader" id="e2e-settings-sla-theaders">
                <tr id="e2e-settings-sla-theaders-th">
                  <th scope="col" id="e2e-settings-sla-theaders-td-one">  
                      <span class="text" id="e2e-settings-sla-theaders-td-one-text">SLA <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-one-text-two">SLA name</span></span>                      
                    </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-two">  
                    <span class="text" id="e2e-settings-sla-theaders-td-two-text">SLA Carrier Service <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-one-text-two">Carrier service names</span></span>                      
                  </th>

                  <th scope="col" id="e2e-settings-sla-theaders-td-three">  
                    <span class="text" id="e2e-settings-sla-theaders-td-three-text">Facilities <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-one-text-two">Facility names</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-four">  
                    <span class="text" id="e2e-settings-sla-theaders-td-four-text">Line Operators <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-three-text-two">Line Operator names</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-five">  
                    <span class="text" id="e2e-settings-sla-theaders-td-five-text">COPRAR Load Deadline <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-two-text-two">Hours</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-six">  
                    <span class="text" id="e2e-settings-sla-theaders-td-six-text">COPRAR Dsch Deadline <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-three-text-two">Hours</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-seven">  
                    <span class="text" id="e2e-settings-sla-theaders-td-seven-text">BAPLIE Deadline <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-six-text-two">Hours</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-eight">  
                    <span class="text" id="e2e-settings-sla-theaders-td-eight-text">MOVINS Deadline <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-seven-text-two">Hours</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-nine">  
                    <span class="text" id="e2e-settings-sla-theaders-td-nine-text">Forecast Deadline <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-eight-text-two">Hours</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-ten">  
                    <span class="text" id="e2e-settings-sla-theaders-td-ten-text">Berth Productivity <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-seven-text-two">Units</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-eleven">  
                    <span class="text" id="e2e-settings-sla-theaders-td-eleven-text">Discharge Count <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-eight-text-two">Units</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-twelve">  
                    <span class="text" id="e2e-settings-sla-theaders-td-twelve-text">Load Count <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-nine-text-two">Units</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-thirteen">  
                    <span class="text" id="e2e-settings-sla-theaders-td-thirteen-text">Crane Intensity <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-ten-text-two">Number of cranes</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-fourteen">
                    <span class="text" id="e2e-settings-sla-theaders-td-fourteen-text">ETA <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-thirteen-text-two">Date</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-fifteen">  
                    <span class="text" id="e2e-settings-sla-theaders-td-fifteen-text">ETD <br><span class="numberTypeLightColour" id="e2e-settings-sla-theaders-td-twelve-text-two">Date</span></span>                      
                  </th>
                  <th scope="col" id="e2e-settings-sla-theaders-td-sixteen">  
                    <span class="text" id="e2e-settings-sla-theaders-td-sixteen-text">
                      <button class="icon-button" (click)="addNewRow()" id="e2e-settings-sla-button-add">
                        <i class="fas fa-plus m-2" id="e2e-settings-sla-button-add-icon"></i>
                      </button>
                    </span>                      
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div id="tblContent" class="tblContent">
            <table class="table table-hover settingsTable" id="e2e-settings-sla-table-main-settings">
              <colgroup id="e2e-settings-sla-table-main-settings-colgroup">
                <col width="20" id="e2e-settings-sla-table-main-settings-colgroup-one">             
                <col width="20" id="e2e-settings-sla-table-main-settings-colgroup-two">
                <col width="17" id="e2e-settings-sla-table-main-settings-colgroup-three">
                <col width="17" id="e2e-settings-sla-table-main-settings-colgroup-four">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-five">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-six">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-seven">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-eight">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-nine">
                <col width="21" id="e2e-settings-sla-table-main-settings-colgroup-ten">                                  
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-eleven">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-twelve">
                <col width="9" id="e2e-settings-sla-table-main-settings-colgroup-thirteen">
                <col width="17" id="e2e-settings-sla-table-main-settings-colgroup-fourteen">
                <col width="17" id="e2e-settings-sla-table-main-settings-colgroup-fifteen">
                <col width="14" id="e2e-settings-sla-table-main-settings-colgroup-sixteen">                                  
              </colgroup>
              <tbody class="settingsTableContent" id="e2e-settings-sla-table-main-settings-tbody">
                <tr *ngFor="let slaSetting of slaSettings" id="e2e-settings-sla-table-main-settings-tr {{slaSetting.slaId}}">
                <td scope="col" id="slaName {{slaSetting.slaId}}">  
                    <div class="mt-1" id="e2e-settings-sla-table-main-settings-td1-div {{slaSetting.slaId}}">
                      <span class="text" id="e2e-settings-sla-table-main-settings-td1-text {{slaSetting.slaId}}">
                        {{slaSetting.slaName}}
                      </span>           
                    </div>                             
                  </td>
                  <td scope="col" id="services {{slaSetting.slaId}}">  
                    <div id="slaServices {{slaSetting.slaId}} text" class="text-center defaultFontForm" style="display:block;">
                      <mat-chip-list #facilityChipList *ngIf="slaSetting.carrierServices!==null && slaSetting.carrierServices!==undefined" class="chip-list noHover" id="service chiplist {{slaSetting.slaId}}">
                        <mat-chip id="service chip {{slaSetting.slaId}}" *ngFor="let service of slaSetting.carrierServices" selectable="false" sortable="false" class="chipTableContent" >                    
                         
                          {{service.carrierServiceIdName}}               
                        </mat-chip>
                      </mat-chip-list>                   
                    </div>
                    <div id="slaServices {{slaSetting.slaId}} edit" class="text-center defaultFontForm" style="display:none;">
                      <div class="dropdown">
                        <ng-select class="custom" [items]="serviceOptions" [multiple]="true" bindLabel="carrierServiceIdName" placeholder="Service" [(ngModel)] = "serviceSelectedList">
                        </ng-select>
                      </div>                   
                    </div>                        
                  </td>
                  <!--Insert line operators and facilities-->
                  <td scope="col" id="facilities {{slaSetting.slaId}}">  
                    <div id="slaFacilities {{slaSetting.slaId}} text" class="text-center defaultFontForm" style="display:block;">
                      <mat-chip-list #facilityChipList *ngIf="slaSetting.facilities!==null && slaSetting.facilities!==undefined" class="chip-list noHover" id="facility chiplist {{slaSetting.slaId}}">
                        <mat-chip id="facility chip {{slaSetting.slaId}}" *ngFor="let facility of slaSetting.facilities" selectable="false" sortable="false" class="chipTableContent" >                    
                          {{facility.facilityName}}               
                        </mat-chip>
                      </mat-chip-list>                   
                    </div>
                    <div id="slaFacilities {{slaSetting.slaId}} edit" class="text-center defaultFontForm" style="display:none;">
                      <div class="dropdown">
                        <ng-select class="custom" [items]="facilityOptions" [multiple]="true" bindLabel="facilityName" placeholder="Facility" [(ngModel)] = "facilitySelectedList">
                        </ng-select>
                      </div>                   
                    </div>                        
                  </td>
                  <td scope="col" id="lineOperators {{slaSetting.slaId}}">  
                    <div id="slaLineOperators {{slaSetting.slaId}} text" class="text-center defaultFontForm" style="display:block;">
                      <mat-chip-list #lineOperatorChipList *ngIf="slaSetting.lineOperators!==null && slaSetting.lineOperators!==undefined" class="chip-list noHover" id="lineOperator chiplist {{slaSetting.slaId}}">
                        <mat-chip id="lineOperator chip {{slaSetting.slaId}}" *ngFor="let lineOperator of slaSetting.lineOperators" selectable="false" sortable="false" class="chipTableContent" >                    
                          {{lineOperator.lineOperatorIdName}}               
                        </mat-chip>
                      </mat-chip-list>                   
                    </div>
                    <div id="slaLineOperators {{slaSetting.slaId}} edit" class="text-center defaultFontForm" style="display:none;">
                      <div class="dropdown">
                        <ng-select class="custom" [items]="operatorOptions" [multiple]="true" bindLabel="lineOperatorIdName" placeholder="Operator" [(ngModel)] = "lineOperatorSelectedList">
                        </ng-select>
                      </div>                   
                    </div>                       
                  </td>
                  <td scope="col" id="coprarLoadDeadline {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td5-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="coprarLoadDeadline input {{slaSetting.slaId}}" value="{{slaSetting.coprarLoadDeadline}}" type="number" (input)="checkInputValue($event.target,-99,0)" maxlength="3" class="regularInputStyle"/>
                    </span>                      
                  </td>
                  <td scope="col" id="coprarDischDeadline {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td6-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="coprarDischDeadline input {{slaSetting.slaId}}" value="{{slaSetting.coprarDischDeadline}}" type="number" (input)="checkInputValue($event.target,-99,0)" maxlength="3" class="regularInputStyle"/>
                    </span>                      
                  </td>
                  <td scope="col" id="baplieDeadline {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td7-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="baplieDeadline input {{slaSetting.slaId}}" value="{{slaSetting.baplieDeadline}}" type="number" (input)="checkInputValue($event.target,-99,0)" maxlength="3" class="regularInputStyle"/>          
                    </span>                      
                  </td>
                  <td scope="col" id="movinsDeadline {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td8-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="movinsDeadline input {{slaSetting.slaId}}" value="{{slaSetting.movinsDeadline}}" type="number" (input)="checkInputValue($event.target,-99,0)" maxlength="3" class="regularInputStyle"/>          
                    </span>                      
                  </td>
                  <td scope="col" id="cargoCutoff {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td9-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="cargoCutoff input {{slaSetting.slaId}}" value="{{slaSetting.forecastDeadline}}" type="number" (input)="checkInputValue($event.target,-99,0)" maxlength="3" class="regularInputStyle"/>                    
                    </span>                      
                  </td>
                  <td scope="col" id="berthProductivity {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td10-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="berthProdMin input {{slaSetting.slaId}}" value="{{slaSetting.berthProdMin}}" type="number" (input)="checkInputValue($event.target,0,999)" maxlength="3" class="regularInputStyle"/>                              
                      -
                      <input [readonly]="true" id="berthProdMax input {{slaSetting.slaId}}" value="{{slaSetting.berthProdMax}}" type="number" (input)="checkInputValue($event.target,0,999)" maxlength="3" class="regularInputStyle ml-4"/>                              
                    </span>                      
                  </td>
                  <td scope="col" id="dischargeMoves {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td11-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="dischargeMoves input {{slaSetting.slaId}}" value="{{slaSetting.dischMoves}}" type="number" (input)="checkInputValue($event.target,0,9999)" maxlength="4" class="largeInputStyle"/>                                        
                    </span>                      
                  </td>
                  <td scope="col" id="loadMoves {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td12-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="loadMoves input {{slaSetting.slaId}}" value="{{slaSetting.loadMoves}}" type="number" (input)="checkInputValue($event.target,0,9999)" maxlength="4" class="largeInputStyle"/>                                        
                    </span>                      
                  </td>
                  <td scope="col" id="craneIntensity {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td13-text {{slaSetting.slaId}}">
                      <input [readonly]="true" id="craneIntensity input {{slaSetting.slaId}}" value="{{slaSetting.craneIntensity}}" type="number" (input)="checkInputValue($event.target,0,99999)" maxlength="5" class="regularInputStyle"/>                                        
                    </span>                      
                  </td>
                  <td scope="col" id="eta {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td14-text {{slaSetting.slaId}}">
                      <div id="eta valueArea {{slaSetting.slaId}}" class="mt-1" style="display:block;">
                        {{slaSetting.eta  | date: 'EE HH:mm'}} 
                      </div>
                      <div id="eta editArea {{slaSetting.slaId}}" style="display:none;">
                        <input id="eta hour input {{slaSetting.slaId}}" value="{{slaSetting.eta  | date: 'HH'}}" (input)="checkInputValue($event.target,0,23)" type = "number" maxlength = "2"  class="regularInputStyle"/>
                        :
                        <input id="eta minute input {{slaSetting.slaId}}" value="{{slaSetting.eta  | date: 'mm'}}" (input)="checkInputValue($event.target,0,59)" type = "number" maxlength = "2" class="regularInputStyle"/>                        
                        <select [value]="slaSetting.eta | date: 'EEEE'" id="eta weekday select {{slaSetting.slaId}}">
                          <option *ngFor="let weekDay of weekDays" [value]="weekDay.value" id="eta weekday select option {{slaSetting.slaId}}">
                            {{weekDay.value}}
                          </option>
                        </select>            
                      </div>
                    </span>                      
                  </td>
                  <td scope="col" id="etd {{slaSetting.slaId}}">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td12-text {{slaSetting.slaId}}">
                      <div id="etd valueArea {{slaSetting.slaId}}" class="mt-1" style="display:block;">
                        {{slaSetting.etd  | date: 'EE HH:mm'}} 
                      </div>
                      <div id="etd editArea {{slaSetting.slaId}}" style="display:none;">
                        <input id="etd hour input {{slaSetting.slaId}}" value="{{slaSetting.etd  | date: 'HH'}}" name="somename" (input)="checkInputValue($event.target,0,23)" type = "number" maxlength = "2"  class="regularInputStyle"/>
                        :
                        <input id="etd minute input {{slaSetting.slaId}}" value="{{slaSetting.etd  | date: 'mm'}}" name="somename" (input)="checkInputValue($event.target,0,59)" type = "number" maxlength = "2" class="regularInputStyle"/>                        
                        <select [value]="slaSetting.etd  | date: 'EEEE'" id="etd weekday select {{slaSetting.slaId}}">
                          <option *ngFor="let weekDay of weekDays" [value]="weekDay.value" id="etd weekday select option {{slaSetting.slaId}}">
                            {{weekDay.value}}
                          </option>
                        </select>            
                      </div> 
                    </span>                      
                  </td>
                  <td scope="col">  
                    <span class="text" id="e2e-settings-sla-table-main-settings-td13-text {{slaSetting.slaId}}">
                      <div id="main buttons {{slaSetting.slaId}}" style="display:block;">
                        <button (click)="editRow(slaSetting)" class="icon-button" id="edit {{slaSetting.slaId}}">
                          <i class="fas fa-pencil-alt" id="edit icon button {{slaSetting.slaId}}"></i>
                        </button>
                        <button (click)="removeRow(slaSetting)" class="icon-button ml-3" id="remove {{slaSetting.slaId}}">
                          <i class="fas fa-trash-alt" id="remove icon button {{slaSetting.slaId}}"></i>              
                        </button>
                        <div [ngStyle]="{'display': showConfirm}" class="alert-backdrop">
                          <div  [ngStyle]="{'display': showConfirm}"  class="modal" id="e2e-confirm-remove-sla-modal" role="dialog">
                            <div class="alert-modal modal-dialog modal-xs">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <p class="alert-body-text">{{confirmMessage}}</p>
                                  <p class="font-weight-bold">Do you want to proceed ?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn alert-yes-button-text" (click) = "confirmCallback()" id="e2e-confirm-remove-sla-modal-button" data-dismiss="modal">Yes</button>
                                  <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" (click) = "showConfirm = showConfirm=='block'? 'none' : 'block'">No</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>     
                      <div id="edit buttons {{slaSetting.slaId}}" style="display:none;">
                        <button (click)="saveRow(slaSetting)" class="icon-button" id="save {{slaSetting.slaId}}">
                          <i class="fas fa-save" id="save icon button {{slaSetting.slaId}}"></i>              
                        </button>
                        <button (click)="cancelRow(slaSetting)" class="icon-button ml-3" id="cancel {{slaSetting.slaId}}">
                          <i class="fas fa-times" id="cancel icon button{{slaSetting.slaId}}"></i>              
                        </button>
                      </div> 
                    </span>                      
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
                <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-dialog" tabindex="-1" role="dialog">
                  <div  class="alert-modal modal-dialog modal-xs">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p class="alert-body-text">{{alertMessage}}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  