.mainContainerDiv {
    background-color: #f0f1f0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tableContainerDiv {
    background-color: #ffffff;
    width: 95%;
    height: 80%;
    border: solid 1px #bbbbbb;      
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0 !important;
}

.tblContent{
    overflow-x: hidden;
    overflow-y: auto;    
    margin-top: 0px;
    margin-bottom: 10px;  
    height: 58vh;
}

th {
    vertical-align: middle !important;
}

tr { 
    height: 48px; 
    min-height: 48px;
}

td { 
    height: 48px; 
    min-height: 48px;
}

.numberTypeLightColour {
    color: #bbbbbb;
}

.smallInputStyle {
    width: 30px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.regularInputStyle {
    width: 35px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.largeInputStyle {
    width: 45px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.chipTableContent{
    line-height: 13px;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container  {            
    max-width: 130px;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-placeholder  {            
    margin-top: 3px;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option  {            
    color: #001c38 !important;
    background-color: #ffffff !important;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {            
    color: #ffffff !important;
    background-color: #001c38 !important;
}

.ng-select.custom ::ng-deep .ng-select-container .ng-value-container .ng-value {            
    height: 18px;
    padding: 4px;
    background-color:#f0f1f0;
}