<div class="mainNavBarDiv" id="e2e-navigation-main-div">
  <!-- First level -->
  <nav class="navbar navbar-expand-md justify-content-md-center justify-content-start nav-bar-first" id="e2e-navigation-navbar-main">    
    <div class="app-name" id="e2e-navigation-text-application-name">
      <img src="./assets/images/navigationBar/logo-white.png" id="e2e-navigation-navis-logo-item-one-img" class="app-navis-logo">
    </div>
    <div class="app-name-secondary-div" id="e2e-navigation-text-application-description"><span class="app-name-secondary">Compass</span></div>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-70" id="collapsingNavbar2">      
    </div>
  </nav>
  <!-- Second level -->
  <nav class="navbar navbar-expand-lg navbar-light nav-bar-second" id="e2e-navigation-second-nav-level">
    <!-- Dashboard -->
    <div class="btn-group" role="group" aria-label="Basic example" id="e2e-navigation-button-dashboard-div">
      <a routerLinkActive="active" routerLink="/dashboard-management" id="e2e-navigation-button-dashboard-button">
        Dashboard
      </a>      
    </div>
    <a *ngIf = "userIsAdmin()" class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Administration
    </a>
    <div class="dropdown-menu greyBackgroundClass dropdownMenuAdmin" aria-labelledby="navbarDropdown" id="e2e-navigation-dropdown-menu-main">
      <button *ngIf="userIsAdmin() || userIsManager()" class="dropdown-item" routerLinkActive="active" routerLink="/sla-settings" id="e2e-navigation-dropdown-item-one-button-sla">          
        <span class="mainMenu ml-2" id="e2e-navigation-dropdown-item-one-text">
          SLA Carrier Service
        </span>
      </button>
      <button *ngIf="userIsAdmin() || userIsManager()" class="dropdown-item" routerLinkActive="active" routerLink="/index-workflow-settings" id="e2e-navigation-dropdown-item-two-button-workflow">        
        <span class="mainMenu ml-2" id="e2e-navigation-dropdown-item-two-text">
          Workflow Settings
        </span>
      </button>  
      <button *ngIf="userIsAdmin()" class="dropdown-item" routerLinkActive="active" routerLink="/user-settings" id="e2e-navigation-dropdown-item-three-button-users">        
        <span class="mainMenu ml-2" id="e2e-navigation-dropdown-item-three-text">
          User Settings
        </span>
      </button> 
      <button *ngIf="userIsAdmin()" class="dropdown-item" routerLinkActive="active" routerLink="/application-settings" id="e2e-navigation-dropdown-item-four-button-appsettings">        
        <span class="mainMenu ml-2" id="e2e-navigation-dropdown-item-four-text">
          Application Settings
        </span>
      </button> 
    </div>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-70" id="collapsingNavbar2">
      <ul class="navbar-nav mx-auto text-md-center text-left" id="e2e-navigation-ul-element-space">
        <li class="nav-item" id="e2e-navigation-il-element-space">            
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap" id="e2e-navigation-ul-elements-right">
        <li *ngIf = "checkDisconnection()" class = "nav-item mr-3 userTitleMenu" style = "margin: auto;"><img class = "mr-1" src = "assets/images/notification/DisconnectedNavBar.png">Compass is disconnected</li>
        <li class="nav-item" id="e2e-navigation-il-n4-sync">
          <div *ngIf="userIsAdmin() || userIsManager()" class="mt-2" id="e2e-navigation-div-n4-sync">
            <button data-toggle="modal" data-target="#e2e-confirm-n4sync-modal" class="btn btn-link syncButton" [disabled]="syncDisabled" id="n4-sync-button" id="e2e-navigation-n4-sync-button">
              <span id="e2e-navigation-syncbutton-text" class="syncButtonText">N4 Sync</span>
            </button>  
            <div class="modal" id="e2e-confirm-n4sync-modal" role="dialog">
              <div class="alert-modal modal-dialog modal-xs">
                <div class="modal-content">
                  <div class="modal-body">
                    <p class="alert-body-text">This will sync the vessel visits in N4 with those in the Compass, as well as the load, discharge, and restow counts. Syncing will impact the N4 database for a short period of time.</p>
                    <p class="font-weight-bold">Do you want to sync?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" (click)="n4sync()" class="btn alert-yes-button-text" id="e2e-alert-dialog-yes-button" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn alert-no-button-text" id="e2e-alert-dialog-no-button" data-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item ml-4 mr-2" id="e2e-navigation-il-user-dropdown">
          <div class="nav-item dropdown mt-1" id="e2e-navigation-div-username-menu">     
            <a class="userTitleMenu nav-link dropdown-toggle mb-1" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="mr-1" src="./assets/images/dashboard/Administration.png" id="e2e-navigation-li-img-admin">
                <span class="mr-1">{{username}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="e2e-navigation-navbar-dropdown-menu-div">
              <button *ngIf = "router.url === '/dashboard-management'" class="dropdown-item" (click)="savePreferences()" id="e2e-navigation-navbar-dropdown-menu-one-save-preferences">Save Preferences</button>     
              <button class="dropdown-item" (click)="openUserManual()" id="e2e-navigation-navbar-dropdown-menu-two-help">Help</button>     
              <button class="dropdown-item" (click)="logoff()" id="e2e-navigation-navbar-dropdown-menu-three-logout">Log Out</button>        
            </div>
          </div>
          <div class="alert-backdrop" [ngStyle]="{'display': showAlert}">
          <div  [ngStyle]="{'display': showAlert}" class="modal" id="e2e-alert-save-preferences-modal" tabindex="-1" role="dialog">
            <div class="alert-modal modal-dialog modal-xs">
              <div class="modal-content">
                <div class="modal-body">
                  <p class="alert-body-text">{{alertMessage}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn alert-ok-button-text" id="e2e-alert-dialog-ok-button" (click) = "showAlert = showAlert == 'block'? 'none': 'block'">Okay</button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </li>
        <li class="nav-item ml-4 nav-bar-text" id="e2e-navigation-li-production-version-element">
          <div *ngIf="isProduction" class="mt-2" id="e2e-navigation-li-production-version-element-prod">PROD</div>
          <div *ngIf="!isProduction" class="mt-2" id="e2e-navigation-li-production-version-element-dev">DEV</div>          
          <div class="nav-bar-version" id="e2e-navigation-li-production-version-socket">{{version}} {{getWebSocketAlive()}}</div>
        </li>
      </ul>
    </div>
  </nav>
</div>
