.app-name {
    font-family: Helvetica;
    color: #005bbb;    
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.2px;
    padding-top: 2px;
    margin-right: 10px;
    font-style: b;
    font-size: 24px;
}


.app-name-secondary-div {
    height: 48px;
    position: relative;
    float:left;
}


.app-name-secondary {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 161px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;    
}

.app-navis-logo {
    width: 149px;
    height: 45px;
}

.nav-bar-first {
    background-color: #555555 !important;
    height: 60px;
}

.nav-bar-second {
    background-color: #001c38 !important;
    height: 45px;
}

.nav-bar-text {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bbbbbb;
}

.nav-bar-version {
    color: #ffffff;
}

.nav-bar-version-off {
    color: red;
}

.mainNavBarDiv {
    background-color: #f0f1f0 !important;
}

.bottomLineShadowContainer {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
    border-bottom: 1px solid #dee2e6;    
}

.syncButton {
    width: 120px;
}

.syncButtonText {    
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
    text-decoration: none !important;
}

.dropdown-menu {
    min-width: 120px !important;
}

.dropdownMenuAdmin {
    top: 95% !important;
    left: 7% !important;
    min-width: 120px !important;
}

.userTitleMenu {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff; 
}