@import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    max-width: 100% !important;
}

.app-navbar {
    min-height: 13%;
    height: 13%;
    background-color:#f0f1f0 !important;
}

.boldFontE2E {
    font-weight: bold;
}

.greyBackground {
  background-color: #f0f1f0;
}

.whiteBackground {
  background-color: #ffffff;
}

.buttonSettingsHeight {
  height: 50px !important;
  text-align: center !important;
}

.greyBorder {
  border: 1px solid #ccc;
}

.removeBottomBorder {
  border-bottom: none !important;
}

.removeScroll {
  overflow: hidden !important;
}

.settingsTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.settingsTitle button {
  display: inline-block;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

// ################## Links ##################

a {
    color: #ffffff;
    text-decoration: none;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

a:hover {
    color: #bbbbbb;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color:  #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:  #ffffff;
}

.navbar-light .navbar-nav .nav-link:link {
    color:  #ffffff;
}

.navbar-light .navbar-nav .nav-link:visited {
    color:  #ffffff;
}

.navbar-light .navbar-nav .nav-link:active {
    color:  #ffffff;
}

// ################## Buttons ##################

.btn-primary {
    color: white;
    background-color: #001c38;
    border-color: #001c38;
  }

.btn-primary:hover {
    color: white;
    background-color: #555555;
    border-color: #555555;
  }

.btn-link {
    width: 86px;
    height: 28px;
    color: white;
    background-color: #7ac142;
    text-decoration: none; 
    border-color: #7ac142;
    border-radius: 14px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
  }


.btn-link:visited {   
    text-decoration: none;     
  }

.btn-link:hover {
    color: white;
    text-decoration: none;    
    background-color: #555555;
    border-color: #555555;
    border-radius: 14px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }

.btn-secondary {
    font-family: Helvetica;
    font-size: 12px;
    color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    background-color: #001c38;
 }

 .btn-secondary.active {
    font-family: Helvetica;
    font-size: 12px;
    color: #000000 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white !important;
 }

 .btn-outline-secondary {
    font-family: Helvetica;
    font-size: 12px;
 }

 .btn-outline-success {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #7ac142;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
 }

 .btn-outline-success:hover {
    color: #ffffff !important;
    background-color: #7ac142 !important;
    border: none !important;    
 }

 .btn-outline-success:active:focus {
    color: #ffffff !important;
    background-color: #7ac142 !important;
    border: none !important;        
 }

 .btn-outline-success.active {
    color: #ffffff !important;
    background-color: #7ac142 !important;
    border: none !important;    
 }

 .icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.icon-button:focus {
    outline: none;
    border:0;
}

.innerVesselContainer {
    display: inline-block; 
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
}

.outerVesselContainer {
    display: table-cell; 
    height: 65px; 
    vertical-align: middle; 
    text-align: center;
}

.innerVesselContainer p {
    text-align: left;
}

.innerVesselContainerSubtitle {
    max-width: 150px;   
}

.innerVesselContainerTitle {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
}

// ################## Tabs ##################

.mat-tab-label, .mat-tab-link {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #001c38;
}

// ################## Pagination ##################

.my-pagination /deep/ .ngx-pagination {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #001c38;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

// ################## ContainerLogin ##################

.login-input-field:focus{
  border: 1px solid #001C38 !important;
  box-shadow: 0px 0px 0px 0px #001C38 !important;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;       
    background-image: url("./assets/images/login/compass_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// ################## DropDown ##################

.dropdown-menu {
    background-color: #f0f1f0;
}

.dropdown-item {
    background-color: #f0f1f0;
}

.dropdown-item:hover{
    background-color: #001c38 !important;
    color: #ffffff;
}

.dropdown-item:focus{
    background-color: #001c38 !important;
    color: #ffffff;
}

.dropdown-item:visited{
    background-color: #001c38 !important;
    color: #ffffff;
}

.dropdown-item:active {
    background-color: #001c38 !important;
    color: #ffffff;
    outline:none;
    border:none;
}

.dropdown-item.active {
    background-color: #001c38 !important;
    color: #ffffff;
    outline:none;
    border:none;
}

// ################## Vessel table ##################

td {
    vertical-align: middle;
    background-color: #f7f7f7;
    height: 65px;
}

.table thead th {
    height: 50px;
    padding: 0;
}

table th.lineContainerHeader{
    width: 1px;
    height: 30px;
    padding:0;
    background: transparent;
    border:0px !important;
}

table th.titleContainerHeader{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #7f7d7f;
    border:0px !important;
}

table th.iconHeaderCentered{
    text-align:center;
    vertical-align:middle;
    padding: 0px;
}

table td.lineContainer {
    width: 5px;
    height: 100%;
    background: #001C38;
    margin:0;
    padding:0;
}

table td.iconCellCentered{
    text-align:center;
    vertical-align:middle;
    padding: 0px;
}

.cellContentEditable {
    background-color: white;
}

.cellContentReadable {
    background-color: #f0f1f0;
}

.cellContentSelected{
  background-color: white;
}

.cellContentUnSelected{
  background-color: #f7f7f7;
}

.vesselVisitHeader {
    border:0px !important;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    color: #7f7d7f;
}

// ################## Vessel row ##################

.operatorIcon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.operatorBox {
    padding-left: 20px;
    padding-top: 20px;
}

.vesselContainerDeep { 
    background-image: url("./assets/images/dashboard/deepsea_icon.png");
    background-size: 170px 62px !important;  
    background-repeat: no-repeat;
    height: 64px;
    padding: 5px;    
    background-size: contain;
    line-height: 3px;    
}

.vesselContainerDeepMirrored { 
    background-image: url("./assets/images/dashboard/deepsea_icon_mirrored.png"); 
    background-size: 170px 62px !important;  
    background-repeat: no-repeat;
    height: 64px;
    padding: 5px;    
    background-size: contain;
    line-height: 3px;    
}

.vesselContainerBarge {
    background-image: url("./assets/images/dashboard/barge_icon.png");
    background-size: 170px 62px !important;
    background-repeat: no-repeat;
    height: 64px;
    padding: 5px;    
    background-size: contain;
    line-height: 3px;
}

.vesselContainerBargeMirrored {
    background-image: url("./assets/images/dashboard/barge_icon_mirrored.png");
    background-size: 170px 62px !important;
    background-repeat: no-repeat;
    height: 64px;
    padding: 5px;    
    background-size: contain;
    line-height: 3px;
}

.vesselContainer {
    background-size: 170px 62px !important;
    background-repeat: no-repeat;
    height: 64px;
    padding: 5px;    
    background-size: contain;
    line-height: 3px;
}

// ################## Settings table ##################

.settingsTableHeader {
    border: solid 1px #bbbbbb;
}
.listTableHeader {
  border: solid 1px #bbbbbb;
  height: 50px;
}

.settingsTableHeader th {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.1px;
    text-align: center;
    color: #7f7d7f;
}
.listTableHeader th {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.1px;
  text-align: center;
  color: #7f7d7f;
}

.col-header{

font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.1px;
  text-align: center;
  color: #7f7d7f;
}

.col-content{
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: 1.2px;
  text-align: center;
  color: #000000;
  border: solid 1px #bbbbbb;
}

.settingsTableContent td {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.58;
    letter-spacing: 1.2px;
    text-align: center;
    color: #000000;
    border: solid 1px #bbbbbb;
}

.listTableContent td {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: 1.2px;
  text-align: center;
  color: #000000;
  border: solid 1px #bbbbbb;
}

.mat-chip {  
    font-family: Helvetica;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.58;
    letter-spacing: 1.2px;
    text-align: center;
    color: #000000;
}

.settingsTableInput {
    outline: none;
    border: 0;
    background-color: transparent;
    text-align: center;
}

.listTableInput {
  outline: none;
  border: 0;
  background-color: transparent;
  text-align: center;
}

.compass-no-stages-configured-flag {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Helvetica;
  border: 1.5px dashed black;
  line-height: 15px;
}

.compass-no-stages-configured-td {
 padding: 0px !important;
 background-color: #ffffff !important;
}


// ################## App Settings Pictures ##################

.appSettingsSetupImage {
    background-image: url("./assets/images/settings/gear_unselected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.appSettingsSetupImage:hover {
    background-image: url("./assets/images/settings/gear_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.tab button.appSettingsSetupImage.active {
    background-image: url("./assets/images/settings/gear_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.appSettingsModeImage {
    background-image: url("./assets/images/settings/mode_unselected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.appSettingsModeImage:hover {
    background-image: url("./assets/images/settings/mode_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.tab button.appSettingsModeImage.active {
    background-image: url("./assets/images/settings/mode_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.appSettingsWorkflowImage {
    background-image: url("./assets/images/settings/workflow_unselected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
}

.appSettingsWorkflowImage:hover {
    background-image: url("./assets/images/settings/workflow_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
}

.tab button.appSettingsWorkflowImage.active {
    background-image: url("./assets/images/settings/workflow_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.workflowSettingsListImage{
  background-image: url("./assets/images/settings/templates_unselected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%; 
}

.workflowSettingsListImage:hover{
  background-image: url("./assets/images/settings/templates_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%;
}

.workflowSettingsListImage.active{
  background-image: url("./assets/images/settings/templates_selected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}

.workflowSettingsStagesLibraryImage{
  background-image: url("./assets/images/settings/workflow_unselected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%; 
}

.workflowSettingsStagesLibraryImage:hover{
  background-image: url("./assets/images/settings/workflow_selected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%; 
}

.workflowSettingsStagesLibraryImage.active{
  background-image: url("./assets/images/settings/workflow_selected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%; 
}

.appSettingsCalculationImage {
  background-image: url("./assets/images/settings/calc_unselected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%; 
}

.workflowSettingsConfigurationImage{
  background-image: url("./assets/images/settings/gear_unselected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}

.workflowSettingsConfigurationImage:hover{
  background-image: url("./assets/images/settings/gear_selected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}

.workflowSettingsConfigurationImage.active{
  background-image: url("./assets/images/settings/gear_selected.png");
  background-size: 24px 24px !important;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}

.appSettingsCalculationImage:hover {
    background-image: url("./assets/images/settings/calc_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }

.tab button.appSettingsCalculationImage.active {
    background-image: url("./assets/images/settings/calc_selected.png");
    background-size: 24px 24px !important;
    background-repeat: no-repeat;
    background-position: 25% 50%; 
  }


// ################## Chips ##################

.mat-chip.mat-standard-chip {
    background-color: #e0e0e0;
    color: black;
}

// ################## Checkboxes ##################

.checkbox {
    padding-left: 20px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;    
    color: #000000;
  }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-top: -1px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 2px;
    font-size: 11px;
    color: #555555;
  }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #001c38;
    border-color: #001c38;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }
  

// ################## Typographies ##################

.defaultFontVesselList {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0c2030;
}

.defaultFontForm {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
}

.regularFontVesselList {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0c2030;
}

.greenFontVesselList {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7ac243;
}

.boldFontVesselList {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0c2030;
}

.workflowDetailsTitleText {
    font-size: 14px;
    color: #7f7d7f;
    margin: auto;
}

// ################## Custom Alert Boxes ##################

.alert-backdrop{ 
  background-color:rgba(0,0,0,0.5) !important;
  z-index: 9998;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

.alert-ok-button-text{
  background-color: #001C38;
  color: white;
}

.alert-body-text{
  margin-top: 20px;
  line-height: 20px;
}

.alert-modal{
  z-index: 9999;
  border-radius: 10px;
  font-size: 14px;
  text-align: left;
  font-family: Helvetica;
}

.alert-yes-button-text{
  background-color: #001C38;
  color: white;
}

.alert-no-button-text{
  background-color: white;
  color: #001C38;
  border: 1px solid #001C38;
}
